{% set promotionTeaserId = 'promotion--teaser-' ~ nid %}
{% set promotionTeaserCSSId = '#' ~ promotionTeaserId %}
{#{% set attributes = attributes.setAttribute('data-external-url', (content.field_url[0]['#url'] | render | plain_text) ) %}#}
{% set attributes = attributes.setAttribute('id', promotionTeaserId) %}
{% set attributes = attributes.addClass('promotion--text-teaser') %}

{% if content.field_text | render is not empty %}
    <div {{ attributes }}>
        {{ content.field_text[0]['#text'] | raw }}
    </div>
{% endif %}