$lexicon--line-height: $title-size-xs;

$lexicon-overview--gutter: 24px;
$lexicon-overview--column-count__mobile: 1;
$lexicon-overview--column-count__tablet: 3;
$lexicon-overview--column-count__desktop: 4;

$lexicon-teaser__title--margin-top__mobile: $gap-size-xxs;
$lexicon-teaser__title--margin-top__tablet: 6px;

$lexicon-teaser__copy--margin-top__mobile: 6px;

$lexicon-teaser--margin-top: 10px;

$lexicon-teaser__placeholder--background-color: #F1F1F1;
