@import "extends/extends.type";
@import "extends/extends.icons";
@import "extends/extends.gaps";
@import "extends/extends.margins";
@import "extends/extends.paddings";
@import "extends/extends.common";
@import "extends/extends.dates";
@import "extends/extends.pagers";
@import "extends/extends.swipeable";
@import "extends/extends.containers";
@import "extends/extends.headers";
@import "extends/extends.lists";
@import "extends/extends.animations";
@import "extends/extends.flexbox";
@import "extends/extends.images";
@import "extends/extends.regions";
@import "extends/extends.buttons";
@import "extends/extends.titles";
@import "extends/extends.labels";
@import "extends/extends.copytexts";
@import "extends/extends.tables";
@import "extends/extends.teasers";
@import "extends/extends.socials";
@import "extends/extends.contents";
@import "extends/extends.paragraphs";
@import "extends/extends.media";
@import "extends/extends.components";
@import "extends/extends.newsletter";
@import "extends/extends.horoscopes";
@import "extends/extends.authors";
@import "extends/extends.ratings";
@import "extends/extends.module-texts";
@import "extends/extends.tags";
@import "extends/extends.menus";
@import "extends/extends.navigations";
