@import "extends/extends.type";
@import "extends/extends.icons";
@import "extends/extends.gaps";
@import "extends/extends.common";
@import "extends/extends.swipeable";
@import "extends/extends.containers";
@import "extends/extends.lists";
@import "extends/extends.animations";
@import "extends/extends.flexbox";
@import "extends/extends.images";
@import "extends/extends.regions";
@import "extends/extends.buttons";
@import "extends/extends.components";
@import "extends/extends.titles";
@import "extends/extends.labels";
@import "extends/extends.copytexts";
@import "extends/extends.teasers";
@import "extends/extends.socials";
@import "extends/extends.contents";
@import "extends/extends.paragraphs";
@import "extends/extends.media";
@import "extends/extends.module-texts";
@import "extends/extends.menus";
