@font-face {
  font-family: $icons-font-family;
  src: url('#{$icons-font-path}#{$icons-font-family}.eot?v=1.17');
  src: url('#{$icons-font-path}#{$icons-font-family}.eot?v=1.17#iefix') format('embedded-opentype'),
  url('#{$icons-font-path}#{$icons-font-family}.ttf?v=1.17') format('truetype'),
  url('#{$icons-font-path}#{$icons-font-family}.woff?v=1.17') format('woff'),
  url('#{$icons-font-path}#{$icons-font-family}.svg?v=1.17##{$icons-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}
