@import "mixins/mixins.shorthand";
@import "mixins/mixins.gaps";
@import "mixins/mixins.common";
@import "mixins/mixins.type";
@import "mixins/mixins.animations";
@import "mixins/mixins.icons";
@import "mixins/mixins.swipeable";
@import "mixins/mixins.lists";
@import "mixins/mixins.containers";
@import "mixins/mixins.flexbox";
@import "mixins/mixins.regions";
@import "mixins/mixins.images";
@import "mixins/mixins.buttons";
@import "mixins/mixins.titles";
@import "mixins/mixins.labels";
@import "mixins/mixins.copytexts";
@import "mixins/mixins.teasers";
@import "mixins/mixins.socials";
@import "mixins/mixins.contents";
@import "mixins/mixins.products";
@import "mixins/mixins.module-texts";
@import "mixins/mixins.newsletter";
@import "mixins/mixins.menus";

@import "mixins/pages/mixins.page-archive";
@import "mixins/pages/mixins.page-vocabulary";
@import "mixins/pages/mixins.page-taxonomy";
@import "mixins/pages/mixins.page-front";
@import "mixins/pages/mixins.page-article";