/**
* >= IE 8 hacks
**/
@media screen \0
{
  #menu-main-navigation {
    &.stuck {

      .logo {
        display: block;
      }
    }

    .logo {
      display: none;
    }
  }

  .item-media-header {
    .caption {
      padding: 40px 0;
    }
  }
}

.item-content-body-row {
  .item-content-sidebar {
    position: absolute \9;
    right: 0 \9;
    top: 0 \9;
    height: 100% \9;
  }

  .item-content-body {
    padding-right: $feed-ad-column-width \9;
  }
}
