/*
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .teaser .img-container:hover {
    pointer-events: none;
  }
}
*/

// hide tipser shopping cart icon until we repositioned it in tipser.js
#twshoptab {
  opacity: 0 !important;
}

// tipser dummy icon will be shown until the user interacted with tipser
#tipser__dummy,
#tipser__dummy--socials-bar {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;

  img {
    fill: $color-dark-1;
    width: 25px;
    position: relative;
    top: -3px;
  }
}
#tipser__dummy {
  right: 110px;

  .page-front & {
    display: none;
  }
}
#tipser__dummy--socials-bar {
  right: 50px;
  height: 38px;

  #menu-main-navigation & {
    right: 110px;
    top: 7px;
  }
}

// hide tipser icons in overlay
.tipser__hide {
  position: absolute;
  width: calc(100% - 60px);
  height: 60px;
  background: #fff;
  top: 0;
  left: 0;
}
