
/**
** Specific Lists Gaps
**/

$gap-v-region-mobile: $gap-v-xl-mobile !default;
$gap-v-region-tablet: $gap-v-xl-tablet !default;
$gap-v-region-desktop: $gap-v-xl-desktop !default;

$gap-v-sm-region-mobile: $gap-v-sm-mobile !default;
$gap-v-sm-region-tablet: $gap-v-sm-tablet !default;
$gap-v-sm-region-desktop: $gap-v-sm-desktop !default;

$gap__caption-top--h-teaser-mobile: $gap-size-xxs !default;
$gap__caption-top--h-teaser-tablet: $gap-size-xs !default;
$gap__caption-top--h-teaser-desktop: $gap-size-sm !default;

/**
** Containers
**/
$container-h-gap--mobile: 22px !default;
$container-h-gap--tablet: 32px !default;
$container-h-gap--desktop: 42px !default;

//size default
$container-padding-top-mobile: $gap-size-md !default;
$container-padding-top-tablet: $gap-size-lg !default;
$container-padding-top-desktop: $gap-size-lg !default;

//size sm
$container-padding-sm-top-mobile: $gap-size-xs !default;
$container-padding-sm-top-tablet: $gap-size-sm !default;
$container-padding-sm-top-desktop: $gap-size-sm !default;


/**
** Btns
**/
$btn--small-font: $font-label !default;
$btn--small-size: 13px !default;
$btn--small-padding: 4px 20px !default;
$btn--small-border: 1px solid $color-highlighted !default;
$btn--small-radius: 15px !default;
$btn--small-color: $color-highlighted !default;

/**
** Breadcrumb
**/
$breadcrumb-font: $font-label !default;

/**
** Lists Margins
** only margin
**/
$margin-v-item-content__item-mobile: $gap-size-lg !default;
$margin-v-item-content__item-tablet: $gap-size-lg !default;
$margin-v-item-content__item-desktop: $gap-size-xxxl !default;

/**region full content **/
$region-v-lined: true !default;

/**
** Main Navigation
**/
$menu--main-navigation-font: $font-label !default;
$menu--main-navigation-size: 14px !default;
$menu--main-navigation-padding-mobile: 0 90px 0 90px !default;
$menu--main-navigation-padding-tablet: 0 90px 0 90px !default;
$menu--main-navigation-padding-desktop: 0 100px 0 100px !default;
$menu--main-navigation-active-color: $color-hover !default;
$menu--main-navigation__item_padding: 5px 7px !default;
$menu--main-navigation__item_margin: 0 5px !default;
$menu--main-navigation-logo-sticky-margin: 0 28px 0 0 !default;

$navigation-fade-delay: 0.05s !default;
$navigation-letter-spacing: 1px !default;
$navigation-min-height: 60px !default;

$navigation-menu-icon-color: $text-color !default;
$navigation-menu-icon-size: 17px !default;

$navigation-search-icon-color: $text-color !default;
$navigation-search-icon-size: 19px !default;

//submenu
$menu--submenu-navigation-font: $font-label !default;
$menu--submenu-navigation-size: $menu--main-navigation-size - 2px !default;
$menu--submenu-navigation__item_padding: 3px 7px !default;
$menu--submenu-navigation-mobile-color: $gray-base !default;
$menu--submenu-navigation-mobile-color-active: $gray-base !default;
$menu--submenu-navigation__item_margin-mobile: 15px 0px !default;
$menu--submenu-navigation__item_margin-tablet: 15px 0px !default;
$menu--submenu-navigation__item_margin-desktop: 0 5px !default;

//sidebar
$menu--sidebar-main-font: $font-label !default;
$menu--sidebar-main-size: $menu--main-navigation-size !default;

$menu--sidebar-misc-font: $font-content !default;
$menu--sidebar-misc-size: 14px !default;

/**
** Author
**/
$author__label-font: $font-tiny !default;
$author__label-size: $label-size-medium !default;
$author__label-color: $gray-base !default;
$author__label-hover-color: $color-hover !default;

/**
** Newsletter
**/

$newsletter--horizontal--title-size--mobile: $title-size-md !default;
$newsletter--horizontal--title-size--tablet: $title-size-lg !default;
$newsletter--horizontal--title-size--desktop: $title-size-lg !default;

$newsletter--horizontal--padding-mobile: $gap-size-sm $gap-size-sm !default;
$newsletter--horizontal--padding-tablet: $gap-size-sm $gap-size-sm !default;
$newsletter--horizontal--padding-desktop: $gap-size-sm $gap-size-sm !default;

$newsletter--horizontal--height-mobile: 420px !default;
$newsletter--horizontal--height-tablet: 367px !default;
$newsletter--horizontal--height-desktop: 367px !default;

$newsletter__bg-image--horizontal-mobile: "../images/static/block-newsletter-sm_Tram.jpg" !default;
$newsletter__bg-image--horizontal-tablet: "../images/static/block-newsletter-md_Tram.jpg" !default;
$newsletter__bg-image--horizontal-desktop: "../images/static/block-newsletter-xl_Tram.jpg" !default;

$newsletter__bg-image--page-xs: "../images/static/newsletter_landingpage_xs.jpg" !default;
$newsletter__bg-image--page-sm: "../images/static/newsletter_landingpage_sm.jpg" !default;
$newsletter__bg-image--page-lg: "../images/static/newsletter_landingpage_lg.jpg" !default;
$newsletter__bg-image--page-xl: "../images/static/newsletter_landingpage_xl.jpg" !default;

$newsletter__checkbox-label--horizontal-mobile: 11px !default;
$newsletter__checkbox-label--horizontal-tablet: 11px !default;
$newsletter__checkbox-label--horizontal-desktop: 11px !default;

$newsletter__checkbox-label--horizontal-width-mobile: none !default;
$newsletter__checkbox-label--horizontal-width-tablet: 440px !default;
$newsletter__checkbox-label--horizontal-width-desktop: 440px !default;

/**
** Products
**/

$product__item-text-headline-font: $font-headline !default;
$product__item-text-brand-font: $font-label !default;
$product__item-text-price-font: $font-label !default;
$product__item-text-shipping-font: $font-label !default;

$product__item-text-headline-size: $title-size-xxs !default;
$product__item-text-brand-size: 13px !default;
$product__item-text-price-size: 13px !default;
$product__item-text-shipping-size: 13px !default;

$product__item-text-headline-height-mobile: 43px !default;
$product__item-text-headline-height-tablet: 43px !default;
$product__item-text-headline-height-desktop: 43px !default;
$product__item-text-headline-gap-bottom-mobile: 33px !default;
$product__item-text-headline-gap-bottom-tablet: 33px !default;
$product__item-text-headline-gap-bottom-desktop: 33px !default;
/**
** Labels
**/

/** label-category **/
$label--category-font: $font-label !default;
$label--category-size--mobile: $label-size-medium !default;
$label--category-size--tablet: $label-size-medium !default;
$label--category-size--desktop: $label-size-medium !default;

/** label-marketing**/
$label--marketing-font: $font-tiny !default;
$label--marketing-color: $text-color !default;
$label--marketing-size-default: 14px !default;

/** label-marketing**/
$label--advertorial-font: $font-content !default;
$label--advertorial-color: $gray-base !default;
$label--advertorial-size: 14px !default;

/** label-copyright**/
$label--copyright-font: $font-tiny !default;
$label--copyright-color: $gray-base !default;
$label--copyright-text-transform: uppercase !default;
$label--copyright-size--mobile: 12px !default;
$label--copyright-size--tablet: 14px !default;
$label--copyright-size--desktop: 14px !default;

/**
** Titles
**/

$title--media-header-mobile: $title-size-lg !default;
$title--media-header-tablet: $title-size-xxl !default;
$title--media-header-desktop: 72px !default;
$title--media-header-text-shadow: rgba(0, 0, 0, 0.75) 0px 0px 1px !default;
$title--media-header-letter-spacing: -3px !default;
$title--media-header-color: $white !default;

/** title--page-center **/
$title--page-center-mobile: 36px !default;
$title--page-center-tablet: 59px !default;
$title--page-center-desktop: 59px !default;
$title--page-center-color: $gray-base !default;

/** title--horizontal-block **/
$title--horizontal-block-mobile: $title-size-xs !default;
$title--horizontal-block-tablet: $title-size-sm !default;
$title--horizontal-block-desktop: $title-size-md !default;

$title--horizontal-block-gap-bottom-mobile: $gap-size-sm !default;
$title--horizontal-block-gap-bottom-tablet: $gap-size-md !default;
$title--horizontal-block-gap-bottom-desktop: $gap-size-xxl !default;

/** title--content-block **/
$title--content-block-font: $font-label !default;
$title--content-block-mobile: $title-size-sm !default;
$title--content-block-tablet: $title-size-md !default;
$title--content-block-desktop: 30px !default;

//fkn different design shizzl
$title--content-block-gap-bottom-mobile: $gap-size-sm !default;
$title--content-block-gap-bottom-tablet: $gap-size-md !default;
$title--content-block-gap-bottom-desktop: $gap-size-xxl !default;

/** title--article **/
$title--article-mobile: $title-size-sm !default;
$title--article-tablet: $title-size-md !default;
$title--article-desktop: $title-size-xl !default;

/** title--text-block **/
$title--text-block-font: $font-headline !default;
$title--text-block-mobile: $title-size-sm !default;
$title--text-block-tablet: $title-size-md !default;
$title--text-block-desktop: 30px !default;
//fkn different design shizzl

/** copytext--text-block **/
$copytext--text-block-mobile: 18px !default;
$copytext--text-block-tablet: 19px !default;
$copytext--text-block-desktop: 21px !default;

/**
** Teaser
**/

$teaser__author--default-gap-top-mobile: $gap-size-sm !default;
$teaser__author--default-gap-top-tablet: $gap-size-sm !default;
$teaser__author--default-gap-top-desktop: $gap-size-lg !default;

$teaser__socials--default-gap-top-mobile: $gap-size-sm !default;
$teaser__socials--default-gap-top-tablet: $gap-size-sm !default;
$teaser__socials--default-gap-top-desktop: $gap-size-lg !default;

/** feed-teaser **/
$feed-teaser-headline-size-mobile: $title-size-sm !default;
$feed-teaser-headline-size-tablet: $title-size-md !default;
$feed-teaser-headline-size-desktop: $title-size-lg !default;

$feed-teaser-headline-middle-size-mobile: $feed-teaser-headline-size-mobile !default;
$feed-teaser-headline-middle-size-tablet: $feed-teaser-headline-size-tablet !default;
$feed-teaser-headline-middle-size-desktop: $feed-teaser-headline-size-desktop !default;

$feed-teaser-gap-top-mobile: $gap-size-md !default;
$feed-teaser-gap-top-tablet: $gap-size-xl !default;
$feed-teaser-gap-top-desktop: $gap-size-xl !default;

/** full-content-teaser **/
$fc-teaser-headline-size-mobile: $title-size-sm !default;
$fc-teaser-headline-size-tablet: $title-size-lg !default;
$fc-teaser-headline-size-desktop: $title-size-xxl !default;

/** region infinite block **/
$rib-gap-bottom-mobile: 0 !default;
$rib-gap-bottom-tablet: 0 !default;
$rib-gap-bottom-desktop: 0 !default;

/** list horizontal teaser **/
$teaser-list-h-headline-size-mobile: $title-size-xxxs !default;
$teaser-list-h-headline-size-tablet: $title-size-xxs !default;
$teaser-list-h-headline-size-desktop: $title-size-xxs !default;

$teaser-list-h-teaser-gap-mobile: 6px !default;
$teaser-list-h-teaser-gap-tablet: 28px !default;
$teaser-list-h-teaser-gap-desktop: 35px !default;
$teaser-list-h-teaser-shrinked-width: 61% !default;

/** teaser square xs **/
$teaser-square-xs-headline-size-mobile: $title-size-xxxs !default;
$teaser-square-xs-headline-size-tablet: $title-size-sm !default;
$teaser-square-xs-headline-size-desktop: $title-size-md !default;

/** teaser content **/
$teaser--content-headline-size-mobile: $title-size-xxxs !default;
$teaser--content-headline-size-tablet: $title-size-xxs !default;
$teaser--content-headline-size-desktop: $title-size-xxs !default;
$teaser--content-caption-height: 81px !default;
$teaser--content-caption-height-mobile: 69px !default;

$teaser__caption--full-bottom-tablet: - 40px !default;
$teaser__caption--full-bottom-desktop: - 56px !default;
/**
**  Lists **
**/

$list__glossary-font-size: $title-size-xxs !default;
$list__glossary-line-height: 32px !default;
$list__glossary-margin: 0 4px 4px 0 !default;
$list__glossary-padding: 0 8px !default;
$list__glossary-border: $h-line-style !default;
$list__glossary-background-color: $bg-color-gray-light !default;
$list__glossary-background-color-active: $color-highlighted !default;
$list__glossary-background-disabled-color: $bg-color-gray-light !default;
$list__glossary-disabled-color: $gray-base !default;
$list__glossary-color-active: $white !default;

/** list--content-teaser **/
$list__content-teaser--horizontal-count--small: 3 !default;
$list__content-teaser--horizontal-count--middle: 4 !default;
$list__content-teaser--horizontal-count--full: 5 !default;

$list__content-teaser--horizontal-gap-h-mobile: 0 !default;
$list__content-teaser--horizontal-gap-h-tablet: floor($gap-size-sm/2) !default;
$list__content-teaser--horizontal-gap-h-desktop: floor($gap-size-sm/2) !default;

$list__content-teaser__item--horizontal-gap-top-mobile: $gap-size-xxs !default;
$list__content-teaser__item--horizontal-gap-top-tablet: 12px !default;
$list__content-teaser__item--horizontal-gap-top-desktop: $gap-size-md !default;

/** list--alphabetical **/

$list--alphabetical-headline-padding: 5px 0 !default;
$list--alphabetical-headline-margin: 0 0 $gap-size-xs 0 !default;
$list--alphabetical-headline-color: $color-brand !default;
$list--alphabetical-list-item-margin: 10px 0 0 0 !default;

/**
**  socials **
**/

$socials-size-sm: 32px !default;
$socials-size-md: 40px !default;
$socials-icon-size-sm: 16px !default;
$socials-icon-size-md: 19px !default;
$socials-default-border-radius: 50% !default;

/** socials horizontal clean bar **/
$socials-clean-horizontal-bar-left-gap: 8px !default;
$socials-clean-horizontal-bar-size-mobile: $socials-size-sm !default;
$socials-clean-horizontal-bar-size-tablet: $socials-size-sm !default;
$socials-clean-horizontal-bar-size-desktop: $socials-size-sm !default;

$socials-clean-horizontal-bar-icon-size-mobile: $socials-icon-size-sm !default;
$socials-clean-horizontal-bar-icon-size-tablet: $socials-icon-size-sm !default;
$socials-clean-horizontal-bar-icon-size-desktop: $socials-icon-size-sm !default;

/** socials horizontal clean bar -- light **/
$socials-clean-horizontal-bar--light-bg-color: $gray !default;
$socials-clean-horizontal-bar--light-color: $text-color !default;
$socials-clean-horizontal-bar--light-border: 1px solid $text-color !default;
$socials-clean-horizontal-bar--light-bg-color-hover: transparent !default;
$socials-clean-horizontal-bar--light-color-hover: $white !default;
$socials-clean-horizontal-bar--light-border-color-hover: $white !default;

/** socials horizontal bar **/
$socials-labeled-horizontal-bar-label-font: $font-content !default;
$socials-labeled-horizontal-bar-label-size: 13px !default;
$socials-labeled-horizontal-bar-label-padding: 0 0 0 $gap-size-xxs !default;
$socials-labeled-horizontal-bar-left-gap-mobile: 8px !default;
$socials-labeled-horizontal-bar-left-gap-tablet: 8px !default;
$socials-labeled-horizontal-bar-left-gap-desktop: 8px !default;

$socials-labeled-horizontal-bar-border-radius: floor($socials-size-md / 2) !default;
$socials-labeled-horizontal-bar-size-mobile: $socials-size-md !default;
$socials-labeled-horizontal-bar-size-tablet: $socials-size-md !default;
$socials-labeled-horizontal-bar-size-desktop: $socials-size-md !default;

$socials-labeled-horizontal-bar-icon-size-mobile: $socials-icon-size-md !default;
$socials-labeled-horizontal-bar-icon-size-tablet: $socials-icon-size-md !default;
$socials-labeled-horizontal-bar-icon-size-desktop: $socials-icon-size-md !default;

/** socials vertical bar **/
$socials-vertical-bar-left-gap-mobile: 8px !default;
$socials-vertical-bar-top-gap-mobile: 8px !default;
$socials-vertical-bar-top-gap-tablet: 8px !default;
$socials-vertical-bar-top-gap-desktop: 8px !default;
$socials-vertical-bar-size-mobile: $socials-size-md !default;
$socials-vertical-bar-size-tablet: $socials-size-md !default;
$socials-vertical-bar-size-desktop: $socials-size-md !default;

$socials-vertical-bar-icon-size-mobile: $socials-icon-size-md !default;
$socials-vertical-bar-icon-size-tablet: $socials-icon-size-md !default;
$socials-vertical-bar-icon-size-desktop: $socials-icon-size-md !default;

/** socials teaser horizontal bar **/
$socials-teaser-horizontal-bar-left-gap: 8px !default;
$socials-teaser-horizontal-bar-size-mobile: $socials-size-sm !default;
$socials-teaser-horizontal-bar-size-tablet: $socials-size-sm !default;
$socials-teaser-horizontal-bar-size-desktop: $socials-size-sm !default;

$socials-teaser-horizontal-bar-icon-size-mobile: $socials-icon-size-sm !default;
$socials-teaser-horizontal-bar-icon-size-tablet: $socials-icon-size-sm !default;
$socials-teaser-horizontal-bar-icon-size-desktop: $socials-icon-size-sm !default;

/** socials horizontal media bar **/
$socials-media-left-gap: 8px !default;
$socials-media-horizontal-bar-size-mobile: $socials-size-md !default;
$socials-media-horizontal-bar-size-tablet: $socials-size-md !default;
$socials-media-horizontal-bar-size-desktop: $socials-size-md !default;

$socials-media-horizontal-bar-icon-size-mobile: $socials-icon-size-md !default;
$socials-media-horizontal-bar-icon-size-tablet: $socials-icon-size-md !default;
$socials-media-horizontal-bar-icon-size-desktop: $socials-icon-size-md !default;

/**
** Item Contents
**/

/** spotlight **/
$spotlight__title-font: $font-headline !default;
$spotlight__title-size-mobile: $title-size-lg !default;
$spotlight__title-size-tablet: $title-size-xl !default;
$spotlight__title-size-desktop: 59px !default;

$spotlight__subtitle-font: $font-content !default;
$spotlight__subtitle-size: $label-size-medium !default;

$spotlight__copytext-font: $font-tiny !default;
$spotlight__copytext-size-mobile: 19px !default;
$spotlight__copytext-size-tablet: 19px !default;
$spotlight__copytext-size-desktop: 21px !default;

$spotlight__caption-bg: $black !default;

$spotlight__caption--full-bg: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6)), linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)) !default;
$spotlight__caption--full-width: 522px !default;

$spotlight__caption-color: $white !default;
$spotlight__title-letter-spacing: -1.4px !default;
$spotlight__caption-text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) !default;
$spotlight__caption-padding: $gap-size-sm $gap-size-xxxl 4% $gap-size-sm !default;
/** left settings **/
$spotlight__caption-padding--left: $gap-size-sm $gap-size-sm 4% $gap-size-xxxl !default;

/** profile **/
$profile__title-size: $title-size-xxs !default;
$profile__title-gap-bottom: $title-size-md !default;
$profile__title-color: $gray-darker !default;

$profile__fact-max-width: 360px !default;
$profile__th-size: 16px !default;
$profile__th-color: $gray-darker !default;
$profile__td-size: 16px !default;
$profile__td-color: $gray-darker !default;

/** seo linker **/
$seo-linker__item-title-size: $title-size-xxs !default;
$seo-linker__link-list-size: 15px !default;

/** Gallery */
$gallery-ratio-full: 75% !default;
$gallery-ratio-middle: 56% !default;
$gallery-ratio-small: 75% !default;
$gallery__count-font: $font-label !default;
$gallery__count-size-mobile: $title--content-block-mobile !default;
$gallery__count-size-tablet: $title--content-block-tablet !default;
$gallery__count-size-desktop: $title--content-block-desktop !default;

/**
** Media
**/
$media--header-height-mobile: 100px !default;
$media--header-height-tablet: 150px !default;
$media--header-height-desktop: 200px !default;
$media--description-margin: 5px 0 0 0 !default;
$media--description-font: $font-tiny !default;
$media--description-size-mobile: 14px !default;
$media--description-size-tablet: 14px !default;
$media--description-size-desktop: 18px !default;

/**
** Tags
**/
$tags__article-font: $font-tiny !default;
$tags__article-text-size: $title-size-xxs !default;

/**
** Ads
**/
$ad__border: $h-line-style !default;