@import "variables/variables.gaps";

@import "variables/variables.admin";
@import "variables/variables.icons";
@import "variables/variables.common";
@import "variables/variables.type";
@import "variables/variables.titles";
@import "variables/variables.labels";
@import "variables/variables.tables";
@import "variables/variables.menues";
@import "variables/variables.anchor-navigations";
@import "variables/variables.sidebar-navigation";
@import "variables/variables.contents";
@import "variables/variables.socials";
@import "variables/variables.lists";
@import "variables/variables.forms";
@import "variables/variables.newsletter";
@import "variables/variables.breadcrumbs";
@import "variables/variables.tags";
@import "variables/variables.dates";
@import "variables/variables.authors";
@import "variables/variables.horoscopes";
@import "variables/variables.ratings";
@import "variables/variables.pagers";
@import "variables/variables.tipser";
@import "variables/variables.coupon";

@import "variables/variables.products";
@import "variables/variables.ecommerce-slider";
@import "variables/variables.teasers";
@import "variables/variables.media-ratios";
@import "variables/variables.medias";
@import "variables/variables.buttons";

/**
* Paragraphs
**/
@import "variables/paragraphs/variables.paragraphs.spotlight";
@import "variables/paragraphs/variables.paragraphs.seo-linker";
@import "variables/paragraphs/variables.paragraphs.gallery";
@import "variables/paragraphs/variables.paragraphs.quotes";
