@import "bootstrap/variables";
@import "ionicons/ionicons-variables";

$content-max-width: 1128px !default;

$fonts-path: '../fonts/' !default;
$ionicons-font-family: "Ionicons" !default;
$ionicons-font-path: '../../../contrib/infinite_theme/fonts/';

$font-navigation: 'Verdana' !default;
$font-label: 'Verdana' !default;
$font-tiny: 'Verdana' !default;
$font-headline: 'Arial' !default;
$font-headline-bold: 'Arial' !default;
$font-content: 'Arial' !default;
$font-content-bold: 'Arial' !default;

$navigation-letter-spacing: 1px !default;
$label-letter-spacing: 1px !default;
$headline-letter-spacing: 0px !default;
$tiny-letter-spacing: 0px !default;
$content-letter-spacing: 0px !default;

$line-height-headline: 1.2 !default;
$line-height-content: 1.55 !default;
$line-height-text-tiny: 1.4 !default;

$font-size-navigation: 15px !default;
$navigation-item-space: 28px !default;
$navigation-item-space-lg: 1% !default;
$navigation-min-height: 60px !default;

$font-size-base: 16px;
$font-size-xl: 21px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-tiny: 12px;

$label-size-xxl: 24px !default;
$label-size-xl: 21px !default;
$label-size-large: 18px !default;
$label-size-medium: 16px !default;
$label-size-small: 13px !default;
$label-size-tiny: 11px !default;

$headline-size-h1: 40px !default;
$headline-size-h2: 36px !default;
$headline-size-h3: 30px !default;
$headline-size-h4: 24px !default;
$headline-size-h5: 18px !default;
$headline-size-h6: 15px !default;

$tiny-size-xxl: 24px !default;
$tiny-size-xl: 21px !default;
$tiny-size-large: 18px !default;
$tiny-size-medium: 16px !default;
$tiny-size-small: 14px !default;
$tiny-size-tiny: 12px !default;

$icon-size-xxl: 56px !default;
$icon-size-xl: 44px !default;
$icon-size-large: 37px !default;
$icon-size-medium: 28px !default;
$icon-size-small: 24px !default;
$icon-size-tiny: 21px !default;

/** backgrounds **/
$bg-color: #ffffff !default;
$bg-color-gray-light: #f9f9f9 !default;

/** colors **/
$color-brand: #7d8482 !default;

$white: #ffffff !default;
$black: #000000 !default;
$text-color: #383838 !default;
$text-highlighted: $color-brand;
$color-highlighted: #ea331e;
$color-highlighted-hover: #000;
$color-hover: $color-brand;

$color-facebook: #325bb7 !default;
$color-twitter: #589ded !default;
$color-email: #50e3c2 !default;
$color-pinterest: #cb061e !default;
$color-instagram: #fbb4b4 !default;
$color-whatsapp: #5cbe4a !default;

$gray-base: #7d8482;
$gray-darker: #383838;
$gray-dark: lighten($gray-base, 20%);
$gray: #e8e4e4;
$gray-light: #e7e7e7;
$gray-lighter: #eee;

/** borders **/
$h-line-style: 1px solid $gray !default;

/** sizes **/
$gap-section: 31px !default;
$gap-size-xs: 8px !default;
$gap-size-sm: 16px !default;
$gap-size-md: 24px !default;
$gap-size-lg: 31px !default;
$gap-size-xl: 48px !default;
$gap-size-xxl: 61px !default;

$padding: floor($grid-gutter-width / 2) !default;
$feed-ad-column-width: 300px !default;
$feed-ad-column-margin: 84px !default;
$menu-sidebar-width: 275px !default;
$spinner-size: 30px !default;
$logo-sticky-width: 110px !default;
$navigation-padding-top-bottom: 20px !default;
$item-image-socials-width: 70px;
$item-social-size: 32px !default;
$item-social-size-md: 40px !default;
$item-socials-icon-sm: $icon-size-tiny !default;
$item-socials-icon-md: $icon-size-small !default;
$article-socials-column-width: 96px !default;
$full-headlines-max-width: 840px !default;
$product-headline-height: 70px !default;

/** item-title **/
$item-article-title-mobile: 24px !default;
$item-article-title-tablet: 28px !default;
$item-article-title-desktop: 40px !default;

/** feed-teaser **/
$feed-teaser-gap-top-desktop: 37px !default;
$feed-teaser-gap-top-tablet: 37px !default;
$feed-teaser-gap-top-mobile: $gap-size-lg !default;

$feed-teaser-headline-size-mobile: $gap-size-md !default;
$feed-teaser-headline-size-tablet: 28px !default;
$feed-teaser-headline-size-desktop: $gap-size-lg !default;

/** full-content-teaser **/
$fc-teaser-headline-size-mobile: $gap-size-md !default;
$fc-teaser-headline-size-tablet: $gap-size-lg !default;
$fc-teaser-headline-size-desktop: $gap-size-xl !default;

/**region full content **/
$rfc-gap-top-mobile: $gap-size-lg !default;
$rfc-gap-top-tablet: $gap-size-lg !default;
$rfc-gap-top-desktop: $gap-size-lg !default;

/** region infinite block **/
$rib-gap-bottom-mobile: 0 !default;
$rib-gap-bottom-tablet: 0 !default;
$rib-gap-bottom-desktop: 0 !default;

/** list horizontal teaser **/
$teaser-list-h-headline-size-mobile: 15px !default;
$teaser-list-h-headline-size-tablet: 18px !default;
$teaser-list-h-headline-size-desktop: 18px !default;

/** socials default bar **/
$socials-bar-default-left-gap-mobile: 4px !default;
$socials-bar-default-left-gap-tablet: 4px !default;
$socials-bar-default-left-gap-desktop: 8px !default;

/** horizontal socials bar **/
$socials-horizontal-left-gap-mobile: 4px !default;
$socials-horizontal-left-gap-tablet: 4px !default;
$socials-horizontal-left-gap-desktop: 4px !default;

/** vertical socials bar **/
$socials-vertical-left-gap-mobile: 4px !default;

/** horizontal media socials bar **/
$socials-media-left-gap-mobile: 4px !default;
$socials-media-left-gap-tablet: 8px !default;
$socials-media-left-gap-desktop: 8px !default;

/** common **/
$full-content-region-lined: true !default;

/** animation **/
$menu-home-animated-logo: true !default;
$transition-duration: 0.35s !default;
$transition-easing: ease !default;

$opacity-disabled: 0.4 !default;
$navigation-fade-delay: 0.05s !default;
$zindex-menu-sidebar: 100 !default;
$zindex-modal-background: 10;
$zindex-modal: 11;
$teaser-list-horizontal-count-default: 4 !default;
$teaser-hover-opacity: 0.85 !default;

/** bootstrap overrides **/
$grid-gutter-width: 24px;
$state-danger-text: #ea331e;
$alert-danger-border: #ea331e;
$alert-danger-text: $state-danger-text;

$modal-backdrop-bg: $white;
$modal-backdrop-opacity: 0.85;

$round-socials-border-radius: 50%;
$horizontal-socials-border-radius: floor($item-social-size-md / 2);

$input-border-radius: 0;
$input-border-radius-large: 0;
$input-border-radius-small: 0;
$input-height-large: 60px;

$padding-large-vertical: 10px;

$screen-lg: $content-max-width;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;

$screen-md-max: ($screen-lg-min - 1);
