{#
/**
 * @file
 * Default theme implementation of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image()
 *
 * @ingroup themeable
 */
#}

<img class="swiper-lazy" data-src="{{ attributes['src'] }}"/>
<div class="swiper-lazy-preloader">
    <div class="_4-u2 mbm _2iwp">
        <div class="_2iwo">
            <div class="_2iwq">
                <div class="_2iwr"></div>
                <div class="_2iws"></div>
                <div class="_2iwt"></div>
                <div class="_2iwu"></div>
                <div class="_2iwv"></div>
                <div class="_2iww"></div>
                <div class="_2iwx"></div>
                <div class="_2iwy"></div>
                <div class="_2iwz"></div>
                <div class="_2iw-"></div>
                <div class="_2iw_"></div>
                <div class="_2ix0"></div>
            </div>
        </div>
    </div>
</div>
