{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 * - file_url: File URL to link for downloading.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% if content %}
    <div class="item-media--file">
        <div class="item-media__title--file">{{ name }}</div>
        <div class="item-media__description--file">{{ content }}</div>
        <a class="item-media__btn-download--file" href="{{ file_url }}" download="{{ name }}">Jetzt downloaden</a>
    </div>
{% endif %}
