{#
/**
 * @file
 * Default theme implementation to display a Pin.
 *
 * @ingroup themeable
 *
 * data-pin-width="small|medium|large"
 */
#}
<a data-pin-do="embedPin"  data-pin-width="medium" href="{{ path }}"></a>
