{% if content %}
<div class="item-media item-media--nexx-video">
    <div class="embed-responsive embed-responsive-16by9 video-container" itemscope="" itemtype="http://schema.org/videoObject">
        {{ content }}
    </div>
</div>
{% endif %}
