{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

{% set count = content.field_images['#items']|length %}

{% if content %}
    <div class="item-media item-media--gallery" data-view-type="galleryView" data-media-id="{{ media_id }}">
        <div class="gallery-header">
            {% block gallery_counter_block %}
                <div class="text-item-count"><span>1</span> / {{ count }}</div>
            {% endblock %}
            <div class="gallery-navigation">
                <span class="icon icon-gallery-arrow-left swiper-button-prev"></span>
                <span class="icon icon-gallery-arrow-right swiper-button-next"></span>
            </div>
        </div>

        {% block gallery_container_block %}
        <div class="gallery-container">
            <div class="gallery-wrapper swiper-wrapper">
                {{ content.field_images }}
            </div>
        </div>
        {% endblock %}
    </div>
{% endif %}
