{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
'item-media',  'item-media--image', 'item-media--image-' ~ calculated_dimension,
'media', 'media--blazy',
settings.lazy ? 'media--loading',
settings.type ? 'media--' ~ settings.type,
settings.ratio ? 'media--ratio media--ratio--' ~ settings.ratio,
settings.media_switch ? 'media--switch media--switch--' ~ settings.media_switch|clean_class,
settings.player ? 'media--player',
settings.responsive_image_style_id ? 'media--responsive'
] %}

{% if content %}
    {% block media_image_wrapper_block %}
        <div {{ attributes.addClass(classes) }}>
            {% block media_image_block %}
                {{ content.field_image }}
            {% endblock %}
        </div>
    {% endblock %}
{% endif %}
