{% set classes = [
'item-media',
'item-media--look',
'item-media--image-' ~ calculated_dimension,
] %}

{% set wrapper_attributes = wrapper_attributes is empty ? create_attribute() : wrapper_attributes %}

{% if content %}
    {% if content %}
        <div {{ wrapper_attributes.addClass(classes) }}>
            {% embed 'media--image-base.html.twig' %}
                {% block socials_block %}{% endblock %}
            {% endembed %}
        </div>
    {% endif %}
{% endif %}


