{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% if content %}
    <div class="item-media item-media-image {{ calculated_dimension }}">
        {{ include('@burda_infinite/media/media--image-base.html.twig') }}
    </div>
{% endif %}
