{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% if content %}
    {% block media_image_wrapper_block %}
        <div class="item-media item-media--image item-media--image-{{ calculated_dimension }}">
            {% block media_image_block %}
                {{ content.field_image }}
            {% endblock %}
        </div>
    {% endblock %}
{% endif %}
