{{ attach_library('infinite/videos') }}
<div class="item-media__wrapper">
  <div id="{{ container_id }}" class="nexx-video element-hidden" data-nexx-video-id="{{ video_id }}" data-nexx-video-autoplay="0"></div>
  <div class="item-media__consent"></div>
</div>
