<div class="item-content__block item-group--inner">
    <div class="item-content__row--sidebar">
        <div class="item-content__row-col col--left">

            {{ children }}
        </div>

        <div class="item-content__row-col col--right">

        </div>
    </div>
</div>