<div class="region-full-content item-content__block item-group--outer">

    {{ children }}

    <div class="region-fixed-content socials socials-bar socials-horizontal-bar item-content__block">
        {% block socials_horizontal_bar %}
            {% embed '@infinite/embeds/social_icons.html.twig' %}
            {% endembed %}
        {% endblock %}
    </div>

    <aside class="socials socials-bar socials-vertical-bar" data-view-type="stickyView">
        {% block socials_vertical_bar %}
            {% embed '@infinite/embeds/social_icons.html.twig' with {'facebook_share_button': '', 'whatsapp_share_button': '', 'pinterest_share_button': '', 'twitter_share_button': '', 'email_share_button': ''} %}
            {% endembed %}
        {% endblock %}
    </aside>
</div>