<div class="item-content__block item-group--inner">
    <div class="item-content__row--sidebar">
        <div class="item-content__row-col col--left">
            {{ children }}
            {% block acquia_lift_article_bottom_block %}{% endblock %}
        </div>

        <div class="item-content__row-col col--right">
            {% if parent.field_sidebar_blocks is not empty %}
                <div class="item-sticky" data-view-type="stickyView">
                {% block content_sidebar %}
                    {{ parent.field_sidebar_blocks }}
                    </div>
                {% endblock %}
            {% endif %}
        </div>
    </div>
</div>
