{% if rows %}
    <div class="region-full-content region-teaser-list region-teaser-list-horizontal  swipeable--horizontal region__teasers--horizontal no-v-padding" data-view-type="listSwipeableView">
        {% include 'views-view--infinite-default-four-teasers.html.twig' %}
    </div>
{% endif %}
