%collapse-icon {
  @include icon($container: "&:after");
  position: relative;
  cursor: pointer;

  &:after {
    @include transition-default();
    @include rotate(90deg);
    content: $icon__arrow-large-right;
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 7px;
    pointer-events: none;
  }
}

@import "coupon.overview";
@import "coupon.filter";

.item-content--coupon {
  .coupon__title {
    @include text-helper($coupon__title-font-id, $coupon__title-size-mobile);
    letter-spacing: $coupon__title-letter-spacing;
    margin-bottom: $grid-unit-3;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include text-helper-size(
        $coupon__title-font-id,
        $coupon__title-size-tablet
      );
    }
    @media (min-width: $screen-md-min) {
      @include text-helper-size(
        $coupon__title-font-id,
        $coupon__title-size-desktop
      );
    }
  }

  .coupon__description {
    @include text-helper(
      $coupon__description-font-id,
      $coupon__description-size-mobile
    );
    letter-spacing: $coupon__description-letter-spacing;
    margin-bottom: $grid-unit-2;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include text-helper-size(
        $coupon__description-font-id,
        $coupon__description-size-tablet
      );
    }

    @media (min-width: $screen-md-min) {
      @include text-helper-size(
        $coupon__description-font-id,
        $coupon__description-size-desktop
      );
    }
  }

  .coupon__date,
  .coupon__availability {
    @include text-helper($coupon__date-font-id, $coupon__date-size-desktop);
    letter-spacing: $coupon__date-letter-spacing;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include text-helper-size(
        $coupon__date-font-id,
        $coupon__date-size-tablet
      );
    }

    @media (min-width: $screen-md-min) {
      @include text-helper-size(
        $coupon__date-font-id,
        $coupon__date-size-desktop
      );
    }
  }

  .coupon__availability {
    text-transform: $coupon__availability-text-transform;
    margin: $coupon__availability-margin;

    span {
      text-transform: none;
    }
  }

  .coupon__discount {
    @include product__percentage-saving--default(false);
    padding: $coupon__discount-padding;
    display: inline-block;
    margin-right: $grid-unit-half;
    top: -1px;
    position: relative;
    margin-bottom: $grid-unit-half;
  }

  .coupon__code {
    @include text-helper($coupon__code-font-id, $coupon__code-size-desktop);
    display: inline-block;
    background-color: $coupon__code-bg-color;
    padding: $coupon__code-padding;
    letter-spacing: $coupon__code-letter-spacing;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include text-helper-size(
        $coupon__code-font-id,
        $coupon__code-size-tablet
      );
    }

    @media (min-width: $screen-md-min) {
      @include text-helper-size(
        $coupon__code-font-id,
        $coupon__code-size-desktop
      );
    }
  }

  .coupon__discount-row {
    margin-bottom: $grid-unit-3;
  }

  .coupon__button {
    @include button();
    @include button--lg();
    @include button--white();
    @include flexbox($inline: true);
    @include align-items();
    @include icon($container: "&:after");
    white-space: nowrap;

    &:after {
      content: $icon__arrow-large-right;
      font-size: 18px;
      margin-left: $grid-unit-1;
    }
  }

  .coupon__products-header {
    @include flexbox();
  }

  .coupon__products-title {
    @include flex-item();
    @include text-helper(
      $coupon__products_title-font-id,
      $coupon__products_title-size-mobile
    );
    color: $coupon__products_title-color;
    letter-spacing: $coupon__products_title-letter-spacing;
    text-transform: $coupon__products_title-text-transform;
    margin-bottom: $grid-unit-2;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include text-helper-size(
        $coupon__products_title-font-id,
        $coupon__products_title-size-tablet
      );
    }

    @media (min-width: $screen-md-min) {
      @include text-helper-size(
        $coupon__products_title-font-id,
        $coupon__products_title-size-desktop
      );
    }
  }

  .coupon__products-affiliate-links {
    @include label--affiliate();
    @include flex-item();
    padding: 0;
  }

  .coupon__tnc {
    @include text-helper($coupon__tnc-font-id, $coupon__tnc-size);
    margin-top: $grid-unit-3;

    &.expand {
      .coupon__tnc-details {
        max-height: 1500px;
      }
    }

    .coupon__tnc-label {
      text-decoration: underline;
      margin-bottom: $grid-unit-half;
      cursor: pointer;
    }

    a {
      text-decoration: underline;
    }

    .coupon__tnc-details {
      @include transition-default();
      max-height: 0;
      overflow: hidden;
    }
  }

  /**
  ** PRODUCT INFO TEXT STYLING END 
  **/

  .coupon__row {
    @media (min-width: $screen-sm-min) {
      @include flexbox();
    }
  }

  .coupon__column--left {
    @media (max-width: $screen-xs-max) {
      margin-bottom: $grid-unit-5;
    }

    @media (min-width: $screen-sm-min) {
      @include flex-item(1);
      padding-right: $grid-unit-6;
    }
  }

  .coupon__column--right {
    @media (min-width: $screen-sm-min) {
      @include flex-item(2);
    }
  }

  .coupon__products {
    @include flexbox();
    @include flex-wrap();
  }

  .item-ecommerce {
    @include product__item--default(false);
    @media (max-width: $screen-sm-max) {
      width: calc(50% - #{$grid-unit-1});

      &:nth-child(2) {
        margin-left: $grid-unit-2;
      }
    }

    @media (min-width: $screen-md-min) {
      width: calc(25% - #{$grid-unit-2});
      margin-left: $grid-unit-2;

      &:first-child {
        margin-left: 0;
      }
    }

    .img-container {
      img {
        width: 100%;
      }
    }
  }

  .product__percentage-saving {
    @include product__percentage-saving--single-product();
    right: $grid-unit-half;
  }

  .coupon__products-extended-wrapper {
    text-align: center;
    width: 100%;

    @media (min-width: $screen-md-min) {
      @include vendor("flex-basis", 50%);
      margin-left: $grid-unit-2;
    }

    &.expand {
      .coupon__products-show-more {
        &:after {
          @include rotate(270deg);
        }
      }

      .coupon__products-extended {
        max-height: 500px;
      }
    }

    .item-ecommerce {
      width: calc(50% - #{$grid-unit-2});
    }
  }

  .coupon__products-extended {
    @include transition-default($duration: 0.5s);
    @include flexbox();

    @media (max-width: $screen-sm-max) {
      max-height: 0;
      overflow: hidden;
      text-align: left;
    }
  }

  .coupon__products-show-more {
    @extend %collapse-icon;
    @include text-helper($coupon__filter-font, $coupon__filter-size);
    text-transform: $coupon__filter-text-transform;
    cursor: pointer;
    margin-top: $grid-unit-1;
    margin-bottom: $grid-unit-1;
    padding-right: 30px;
    padding-bottom: 5px;
    display: inline-block;

    @media (min-width: $screen-md-min) {
      display: none;
    }
  }
}

.item-paragraph--content-reference {
  .coupon {
    position: relative;
    margin-bottom: 35px;
  }
  .item-content--coupon {
    text-align: center;
    &--content_reference_minimal {
      .coupon__title {
        font-family: "noto_serifregular";
        margin-bottom: 0;
        display: inline-block;
        padding: 8px 24px 0;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: normal;
        background-color: #ebebeb;
      }
      .coupon__brand {
        padding: 24px;
        background-color: #ebebeb;
      }
      .coupon__brand--name {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        padding: 24px 0;
        background-color: #fff;
      }
      .coupon__discount {
        position: absolute;
        bottom: -35px;
        top: initial;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
        text-align: center;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        background: #000;
        color: #fff;
        &--value {
          font-size: 32px;
        }
      }
      .coupon__code--wrapper {
        text-align: center;
      }
      .coupon__code {
        font-family: "noto_serifregular";
        margin: 16px 0;
        width: 100%;
        text-align: center;
        color: #d0021b;
        background-color: #fff;
        line-height: 16px;
        font-size: 16px;
        font-weight: bold;
        &--label {
          color: #000;
          font-weight: normal;
        }
      }
      .coupon__button:after {
        display: none;
      }
    }
  }
}
