%collapse-icon {
  @include icon($container: "&:after");
  position: relative;
  cursor: pointer;

  &:after {
    @include transition-default();
    @include rotate(90deg);
    content: $icon__arrow-large-right;
    font-size: $grid-unit-2;
    position: absolute;
    right: 0;
    bottom: 7px;
    pointer-events: none;
  }
}

@import "coupon.overview";
@import "coupon.filter";

.item-content--coupon {
  .coupon__title {
    @include text-helper($coupon__title-font-id, $coupon__title-size-mobile);
    letter-spacing: $coupon__title-letter-spacing;
    margin-bottom: $grid-unit-3;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include text-helper-size(
        $coupon__title-font-id,
        $coupon__title-size-tablet
      );
    }
    @media (min-width: $screen-md-min) {
      @include text-helper-size(
        $coupon__title-font-id,
        $coupon__title-size-desktop
      );
    }
  }

  .coupon__description {
    @include text-helper(
      $coupon__description-font-id,
      $coupon__description-size-mobile
    );
    letter-spacing: $coupon__description-letter-spacing;
    margin-bottom: $grid-unit-2;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include text-helper-size(
        $coupon__description-font-id,
        $coupon__description-size-tablet
      );
    }

    @media (min-width: $screen-md-min) {
      @include text-helper-size(
        $coupon__description-font-id,
        $coupon__description-size-desktop
      );
    }
  }

  .coupon__date,
  .coupon__availability {
    @include text-helper($coupon__date-font-id, $coupon__date-size-desktop);
    letter-spacing: $coupon__date-letter-spacing;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include text-helper-size(
        $coupon__date-font-id,
        $coupon__date-size-tablet
      );
    }

    @media (min-width: $screen-md-min) {
      @include text-helper-size(
        $coupon__date-font-id,
        $coupon__date-size-desktop
      );
    }
  }

  .coupon__availability {
    text-transform: $coupon__availability-text-transform;
    margin: $coupon__availability-margin;

    span {
      text-transform: none;
    }
  }

  .coupon__discount {
    @include product__percentage-saving--default(false);
    padding: $coupon__discount-padding;
    display: inline-block;
    margin-right: $grid-unit-half;
    top: -1px;
    position: relative;
    margin-bottom: $grid-unit-half;
  }

  .coupon__code {
    @include text-helper($coupon__code-font-id, $coupon__code-size-desktop);
    display: inline-block;
    background-color: $coupon__code-bg-color;
    padding: $coupon__code-padding;
    letter-spacing: $coupon__code-letter-spacing;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include text-helper-size(
        $coupon__code-font-id,
        $coupon__code-size-tablet
      );
    }

    @media (min-width: $screen-md-min) {
      @include text-helper-size(
        $coupon__code-font-id,
        $coupon__code-size-desktop
      );
    }
  }

  .coupon__discount-row {
    margin-bottom: $grid-unit-3;
  }

  .coupon__button {
    @include button();
    @include button--lg();
    @include button--white();
    @include flexbox($inline: true);
    @include align-items();
    @include icon($container: "&:after");
    white-space: nowrap;

    &:after {
      content: $icon__arrow-large-right;
      font-size: 18px;
      margin-left: $grid-unit-1;
    }
  }

  .coupon__products-header {
    @include flexbox();
  }

  .coupon__products-title {
    @include flex-item();
    @include text-helper(
      $coupon__products_title-font-id,
      $coupon__products_title-size-mobile
    );
    color: $coupon__products_title-color;
    letter-spacing: $coupon__products_title-letter-spacing;
    text-transform: $coupon__products_title-text-transform;
    margin-bottom: $grid-unit-2;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include text-helper-size(
        $coupon__products_title-font-id,
        $coupon__products_title-size-tablet
      );
    }

    @media (min-width: $screen-md-min) {
      @include text-helper-size(
        $coupon__products_title-font-id,
        $coupon__products_title-size-desktop
      );
    }
  }

  .coupon__products-affiliate-links {
    @include label--affiliate();
    @include flex-item();
    padding: 0;
  }

  .coupon__tnc {
    @include text-helper($coupon__tnc-font-id, $coupon__tnc-size);
    margin-top: $grid-unit-3;

    &.expand {
      .coupon__tnc-details {
        max-height: 1500px;
      }
    }

    .coupon__tnc-label {
      text-decoration: underline;
      margin-bottom: $grid-unit-half;
      cursor: pointer;
    }

    a {
      text-decoration: underline;
    }

    .coupon__tnc-details {
      @include transition-default();
      max-height: 0;
      overflow: hidden;
    }
  }

  /**
  ** PRODUCT INFO TEXT STYLING END 
  **/

  .coupon__row {
    @media (min-width: $screen-sm-min) {
      @include flexbox();
    }
  }

  .coupon__column--left {
    @media (max-width: $screen-xs-max) {
      margin-bottom: $grid-unit-5;
    }

    @media (min-width: $screen-sm-min) {
      @include flex-item(1);
      padding-right: $grid-unit-6;
    }
  }

  .coupon__column--right {
    @media (min-width: $screen-sm-min) {
      @include flex-item(2);
    }
  }

  .coupon__products {
    @include flexbox();
    @include flex-wrap();
  }

  .item-ecommerce {
    @include product__item--default(false);
    @media (max-width: $screen-sm-max) {
      width: calc(50% - #{$grid-unit-1});

      &:nth-child(2) {
        margin-left: $grid-unit-2;
      }
    }

    @media (min-width: $screen-md-min) {
      width: calc(25% - #{$grid-unit-2});
      margin-left: $grid-unit-2;

      &:first-child {
        margin-left: 0;
      }
    }

    .img-container {
      img {
        width: 100%;
      }
    }
  }

  .product__percentage-saving {
    @include product__percentage-saving--single-product();
    right: $grid-unit-half;
  }

  .coupon__products-extended-wrapper {
    text-align: center;
    width: 100%;

    @media (min-width: $screen-md-min) {
      @include vendor("flex-basis", 50%);
      margin-left: $grid-unit-2;
    }

    &.expand {
      .coupon__products-show-more {
        &:after {
          @include rotate(270deg);
        }
      }

      .coupon__products-extended {
        max-height: 500px;
      }
    }

    .item-ecommerce {
      width: calc(50% - #{$grid-unit-2});
    }
  }

  .coupon__products-extended {
    @include transition-default($duration: 0.5s);
    @include flexbox();

    @media (max-width: $screen-sm-max) {
      max-height: 0;
      overflow: hidden;
      text-align: left;
    }
  }

  .coupon__products-show-more {
    @extend %collapse-icon;
    @include text-helper($coupon__filter-font, $coupon__filter-size);
    text-transform: $coupon__filter-text-transform;
    cursor: pointer;
    margin-top: $grid-unit-1;
    margin-bottom: $grid-unit-1;
    padding-right: 30px;
    padding-bottom: 5px;
    display: inline-block;

    @media (min-width: $screen-md-min) {
      display: none;
    }
  }
}

.item-paragraph--content-reference {
  .item-content--coupon {
    text-align: center;
    position: relative;

    &--content_reference {
      .coupon {
        position: relative;
        margin-bottom: $grid-unit-1;
        transition: opacity 0.3s;
        + .coupon__expired {
          display: none;
        }
        &.expired {
          opacity: 0.3;
          pointer-events: none;
          + .coupon__expired {
            display: block;
          }
        }
        &__brand--logo__wrapper {
          @include strike-through-title();
          margin: 10px 0 (20 + $grid-unit-2);
          @media (min-width: $screen-lg-min) {
            margin: (10px + $grid-unit-1) 0 (20px + $grid-unit-5);
          }
        }
        &__title {
          font-family: $font-content;
          margin-bottom: 0;
          display: inline-block;
          padding: $grid-unit-1 $grid-unit-3 0;
          font-size: $grid-unit-2;
          font-weight: bold;
          letter-spacing: normal;
          background-color: #ebebeb;
        }

        &__brand {
          padding: $grid-unit-3;
          background-color: #ebebeb;
          @media (min-width: $screen-lg-min) {
            padding: $grid-unit-5 $grid-unit-4 $grid-unit-7;
          }
        }

        &__discount {
          position: absolute;
          top: initial;
          left: 0;
          width: 100%;
          height: 75px;
          transform: translateY(-55%);
          font-size: $grid-unit-3;
          background-color: transparent;
          border: none;
          margin: 0;
          padding: 0;
          text-align: center;
          pointer-events: none;
          &--value {
            font-size: $grid-unit-4;
          }
        }

        &__tnc {
          margin: 6px 0 0;
          text-align: right;
          color: #828282;
          font-size: 12px;
          &-label {
            text-decoration: none;
            letter-spacing: normal;
          }
          &-details {
            margin: 0;
          }
          &.expand {
            .coupon__tnc-details {
              margin: $grid-unit-2 0;
            }
          }
        }
        &__code--wrapper {
          text-align: center;
          margin: $grid-unit-1 0;
          @media (min-width: $screen-lg-min) {
            display: flex;
            padding: $grid-unit-3 0;
            .coupon__code {
              text-align: left;
              padding: 0;
              line-height: $grid-unit-5;
            }
          }
        }
        &__code {
          font-family: $font-content;
          width: 100%;
          text-align: center;
          color: #d0021b;
          background-color: #fff;
          line-height: $grid-unit-2;
          font-size: $grid-unit-2;
          font-weight: bold;
          &--label {
            color: #000;
            font-weight: normal;
          }
        }

        &__button:after {
          display: none;
        }

        &__validity--wrapper {
          @include strike-through-title();
        }

        &__validity {
          font-family: $font-label;
        }

        &__deal-type {
          text-transform: uppercase;
        }
        &__expired {
          position: absolute;
          top: 0;
          right: 0;
          transform: translateY(-35%);
          width: 150px;
        }
      }
    }

    &--content_reference_normal {
      .coupon {
        &__logo {
          width: 197px;
          img {
            max-width: 100%;
            width: auto;
            height: auto;
          }
        }
      }
    }

    &--content_reference_minimal,
    &--content_reference_extended {
      .coupon {
        &__brand--logo {
          text-align: center;
          padding: $grid-unit-3;
          background-color: #fff;

          img {
            max-width: 100%;
            width: auto;
            height: auto;
          }
        }
      }
    }

    &--content_reference_normal,
    &--content_reference_maximal {
      .coupon {
        &__aspect-ratio {
          position: relative;
          width: 100%;
          height: 0;
          padding-bottom: 45%;
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
          }
        }
      }
    }

    &--content_reference_extended,
    &--content_reference_maximal {
      .coupon__advertising-products {
        &--title__wrapper {
          @include strike-through-title();
          margin: 10px 0 (20 + $grid-unit-2);
          @media (min-width: $screen-lg-min) {
            margin: (10px + $grid-unit-1) 0 (20px + $grid-unit-5);
          }
        }
        .item-product {
          @include product__item--default();
          @include product__item--horizontal-block();
        }
        .teaser-wrapper {
          > .item-product {
            width: 100%;
            float: none;
          }
        }
        .coupon__products-show-more {
          margin-bottom: $grid-unit-4;
        }
        .coupon__products-extended {
          flex-wrap: wrap;
          .item-product {
            flex-basis: 100%;
            @media (min-width: $screen-lg-min) {
              &:first-child {
                display: block;
              }
              display: none;
            }
          }
        }
      }
    }
  }
}
