%sticky-logo-animated {
  &.stuck {
    .logo {
      @include transition-property(width, opacity, visibility);
      @include transition-duration($transition-duration);
      @include transition-timing-function($transition-easing);
      @include fade-in();
      width: $logo-sticky-width;
      margin-right: $navigation-item-space;
      //height: 100%;
    }
  }

  .logo {
    @include fade-out();
    overflow: hidden;
    width: 0;
    margin-right: 0;
  }

  @media (max-width: $screen-sm-max) {
    .label-menu {
      display: inline-block;
    }
  }
}