{%
set classes = [
'item-paragraph',
'item-paragraph--small',
'item-paragraph--' ~ paragraph.bundle|clean_class,
]
%}
{#'item-paragraph--' ~ view_mode|clean_class,#}

<div{{ attributes.addClass(classes) }}>

    {% if content.field_title %}
        <h3 class="text-title">{{ content.field_title }}</h3>
    {% endif %}

    <div class="list__content-teaser--horizontal">
        {{ content.recent_content_view }}
    </div>
</div>