{% set classes = [
'item-paragraph',
'item-paragraph--' ~ view_mode|clean_class,
'item-paragraph--' ~ paragraph.bundle|clean_class,
] %}

<div{{ attributes.addClass(classes) }} data-text-action="text-overflow" data-text-action-target=".caption">

    {% block title %}
        {% if content.field_title %}
            <h3 class="text-title">{{ content.field_title }}</h3>
        {% endif %}
    {% endblock %}

    <div class="list__content-teaser--horizontal">
        {% block list %}
            {{ content.field_terms }}
        {% endblock %}
    </div>
</div>