{%
set classes = [
'item-paragraph',
'item-paragraph--small',
'item-paragraph--' ~ view_mode|clean_class,
'item-paragraph--' ~ paragraph.bundle|clean_class,
]
%}

<div{{ attributes.addClass(classes) }}>

    {% if content.field_title %}
        <div class="text-title">{{ content.field_title }}</div>
    {% endif %}

    <div class="list__content-teaser--horizontal">
        {{ content.field_nodes }}
    </div>
</div>