{% set classes = [
'swipeable--horizontal',
] %}

{% set attributes = attributes.addClass(classes) %}
{% set attributes = attributes.setAttribute('data-view-type', 'listSwipeableView') %}

{% extends "paragraph.html.twig" %}

{% block content_block %}
    {% if content.field_title|render %}
        {{ content.field_title }}
    {% endif %}
    <div class="container-content seo-linker--image">
        <div class="swipeable__wrapper">
            {{ content|without('field_title', 'field_p_view_mode') }}
        </div>
    </div>
{% endblock %}
