{% set wrapper_classes = [
'teaser-square-small',
] %}

{% set attributes = attributes.addClass('teaser', 'contextual-region', 'swipeable__item') %}
{% set attributes = attributes.setAttribute('data-tid', tid) %}
{% set attributes = attributes.setAttribute('data-internal-url', url) %}

<article{{ attributes.addClass(wrapper_classes) }}>
  <div class="teaser__img-container">
    {% block teaser_img_container %}
      {{ content.field_teaser_media }}
    {% endblock %}
  </div>

  <div class="teaser__caption">

    {% block teaser_text_headline %}
      <h2 class="teaser__title text-headline">
        <a href="{{ url }}" target="_self">{{ name }}</a>
      </h2>
    {% endblock %}

  </div>
</article>
