{%
  set wrapper_classes = [
    'teaser',
    'teaser-widescreen-small',
    'swipeable__item',
    'contextual-region',
  ]
%}

{% set attributes = attributes.setAttribute('data-tid', tid) %}
{% set attributes = attributes.setAttribute('data-internal-url', url) %}

<article{{ attributes.addClass(wrapper_classes) }}>
  <div class="img-container" itemscope="" itemtype="http://schema.org/imageObject">
    {% block teaser_img_container %}
      {{ content.field_teaser_media }}
    {% endblock %}
  </div>

  <div class="caption caption-teaser">

    {% block teaser_text_headline %}
      <h2 class="text-headline">
        <a href="{{ url }}" target="_self">{{ name }}</a>
      </h2>
    {% endblock %}

  </div>
</article>
