$item-image-socials-width: 70px !default;
$article-socials-column-width: 96px !default;
$article-socials-column-width-tablet: 62px !default;

/**
**  socials **
**/
$socials-h-gap--default: 8px !default;
$socials-size-sm: 32px !default;
$socials-size-md: 40px !default;
$socials-size-l: 60px !default;
$socials-icon-size-sm: 16px !default;
$socials-icon-size-md: 19px !default;
$socials-default-border-radius: 50% !default;