/** sizes **/
$gap-section: 32px !default;
$padding: floor($grid-gutter-width / 2) !default;

$sticky-padding: 10px !default;

$grid-unit-half: 4px !default;
$grid-unit-1: 8px !default;
$grid-unit-2: 16px !default;
$grid-unit-3: 24px !default;
$grid-unit-4: 32px !default;
$grid-unit-5: 40px !default;
$grid-unit-6: 48px !default;
$grid-unit-7: 56px !default;
$grid-unit-8: 64px !default;
$grid-unit-9: 72px !default;
$grid-unit-10: 80px !default;
$grid-unit-11: 88px !default;

$gap-size-xxs: $grid-unit-1 !default;
$gap-size-xs: $grid-unit-2 !default;
$gap-size-sm: $grid-unit-3 !default;
$gap-size-md: $grid-unit-4 !default;
$gap-size-lg: $grid-unit-5 !default;
$gap-size-xl: $grid-unit-6 !default;
$gap-size-xxl: $grid-unit-7 !default;
$gap-size-xxxl: $grid-unit-8 !default;


/**
** Lists Gaps
** padding + margin
**/

$gap-v-tiny-mobile: $gap-size-xxs !default;
$gap-v-tiny-tablet: $gap-size-xs !default;
$gap-v-tiny-desktop: $gap-size-xs !default;

$gap-v-xs-mobile: $gap-size-xs !default;
$gap-v-xs-tablet: $gap-size-xs !default;
$gap-v-xs-desktop: $gap-size-xs !default;

$gap-v-sm-mobile: $gap-size-xs !default;
$gap-v-sm-tablet: $gap-size-sm !default;
$gap-v-sm-desktop: $gap-size-sm !default;

$gap-v-xl-mobile: $gap-size-md !default;
$gap-v-xl-tablet: $gap-size-lg !default;
$gap-v-xl-desktop: $gap-size-lg !default;

$gap-v-xxl-mobile: $gap-size-md !default;
$gap-v-xxl-tablet: $gap-size-xxxl !default;
$gap-v-xxl-desktop: $gap-size-xxxl !default;
