{% if breadcrumb %}
    <div class="region-full-content region-breadcrumb">
        <nav class="breadcrumb">
            <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                {% for item in breadcrumb %}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        {% if item.url %}
                            <a href="{{ item.url }}"  itemscope itemtype="http://schema.org/Thing" itemprop="item">
                                <span itemprop="name">{{ item.text }}</span>
                            </a>
                        {% else %}
                            <span  itemprop="name">{{ item.text }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </nav>
    </div>
{% endif %}

