{% if content.logo %}
    <div class="ecommerce-slider__company">
        <span class="separator">Sponsored by</span>
        <span class="brand">
            {{ content.logo }}
        </span>
    </div>
{% endif %}
{{ content.tracking_pixel }}