/** spotlight **/
$spotlight__title-font-id: $font-headline-id !default;
$spotlight__title-size-mobile: $title-size-lg !default;
$spotlight__title-size-tablet: $title-size-xl !default;
$spotlight__title-size-desktop: 49px !default;

$spotlight__subtitle-font-id: $font-content-id !default;
$spotlight__subtitle-size: $label-size-medium !default;

$spotlight__copytext-font-id: $font-tiny-id !default;
$spotlight__copytext-size-mobile: 19px !default;
$spotlight__copytext-size-tablet: 19px !default;
$spotlight__copytext-size-desktop: 21px !default;
$spotlight__copytext-max-height: 260px !default;

$spotlight__caption-bg: $black !default;
$spotlight__caption--full-bg: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6)), linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)) !default;
$spotlight__caption--full-width: 522px !default;

$spotlight__caption-color: $white !default;
$spotlight__title-letter-spacing: -1.4px !default;
$spotlight__caption-text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) !default;
$spotlight__caption-padding: $gap-size-sm $gap-size-xxxl 4% $gap-size-sm !default;
/** left settings **/
$spotlight__caption-padding--left: $gap-size-sm $gap-size-sm 4% $gap-size-xxxl !default;