/** Gallery */
$gallery__header-margin: 0 0 $grid-gutter-width 0 !default;
$gallery__count-font-id: $font-label-id !default;
$gallery__count-size-mobile: $title--content-block-mobile !default;
$gallery__count-size-tablet: $title--content-block-tablet !default;
$gallery__count-size-desktop: $title--content-block-desktop !default;
$gallery__count-color: $text-color !default;
$gallery__navigation-arrow-margin: 0 $grid-gutter-width 0 0 !default;