/** seo linker **/
$seo-linker__item-title-font-id: $font-headline-id !default;
$seo-linker__item-title-size-mobile: $title-size-xxs !default;
$seo-linker__item-title-size-tablet: $title-size-xxs !default;
$seo-linker__item-title-size-desktop: $title-size-xxs !default;
$seo-linker__link-list-font-id: $font-content-id !default;
$seo-linker__link-list-size-mobile: 15px !default;
$seo-linker__link-list-size-tablet: 15px !default;
$seo-linker__link-list-size-desktop: 15px !default;
$seo-linker__link-list-color: $text-color !default;
$seo-linker__link-list-hover-color: $color-hover !default;