{% block header_block %}
    <div class="item-content__header">
        <div class="ratio-wrapper">
            <div class="caption">
                <h1 class="title--page">Coupon</h1>
            </div>
        </div>
    </div>
{% endblock %}


{{ rows }}
{{ empty }}
{{ pager }}

{% block footer_block %}
    {% if footer %}
        <div class="item-content__content coupon__description region-fixed-content">
            <div class="region-fixed-content">
                {{ footer }}
            </div>
        </div>
    {% endif %}
{% endblock %}
