.region-full-content.region-marketing {
  @include transition-property(background-color, opacity, visibility);
  @include transition-duration($transition-duration);
  @include transition-timing-function($transition-easing);
  background-color: $white;
  //max-height: 0;
  overflow: hidden;

  &.ad-active {
    background-color: $bg-color-gray-light;
    //todo check this after deployment
    padding-top: 0 !important;
    border-bottom: $h-line-style;
  }

  .container-marketing {
    padding: $gap-section 0;
  }

  .item-marketing {
    text-align: center;
  }

  .item-label {
    position: absolute;
    left: 0;
    top: $gap-section;
    text-align: left;
  }

  .ad-container {
    //background-color: $white;
    //border: $ad__border;
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
  }

  @media (max-width: $screen-sm-max) {
    .item-label {
      top: 10px;
      left: 5px;
    }
  }
}

.item-marketing-sponsored {
  margin-bottom: $gap-section;
}

.item-marketing-advertorial {
  @include text-helper($label--advertorial-font, $label--advertorial-size);
  color: $label--advertorial-color;
  text-transform: $label--advertorial-text-transform;
}

.item-marketing-native {

  .logo {
    margin-bottom: 5px;
  }

  .logo, .brand {
    vertical-align: top;
    display: inline-block;
    height: 20px;
  }

  .separator {
    margin: 0 1px 0 3px;
    font-family: $font-content-bold;
    vertical-align: middle;
    display: inline-block;
    padding-top: 4px;
  }

  img {
    height: 100%;
    width: auto;
  }
}

.container-marketing {
  position: relative;

  .item-label {
    @extend %label--marketing;
    margin-bottom: 5px;
    display: block;
  }
}

[data-view-type="marketingView"] {
  @extend %transition-fade;
  @extend %fade-out;

  &.ad-active {
    @extend %fade-in;
  }
}

.ad-inactive {
  overflow: hidden;
  height: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
  border-top: 0 !important;
}

.ad-js {
  padding-top: 0 !important;
  border-top: 0 !important;
}
