.region-full-content.region-marketing {
  @include transition-property(background-color, opacity, visibility);
  @include transition-duration($transition-duration);
  @include transition-timing-function($transition-easing);
  background-color: $white;
  //max-height: 0;
  overflow: hidden;

  &.ad-active {
    background-color: $bg-color-gray-light;
    //todo check this after deployment
    padding-top: 0 !important;
    border-bottom: $h-line-style;
  }

  .container-marketing {
    padding: $gap-section 0;
  }

  .item-marketing {
    text-align: center;
  }

  .item-label {
    position: absolute;
    left: 0;
    top: $gap-section;
    text-align: left;
  }

  .ad-container {
    //background-color: $white;
    //border: $ad__border;
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
  }

  @media (max-width: $screen-sm-max) {
    .item-label {
      top: 10px;
      left: 5px;
    }
  }
}

.item-marketing-sponsored {
  margin-bottom: $gap-section;
}

.item-marketing-advertorial {
  @include text-helper($label--advertorial-font-id, $label--advertorial-size);
  color: $label--advertorial-color;
  text-transform: $label--advertorial-text-transform;
}

.item-marketing-native {

  .logo {
    margin-bottom: 5px;
  }

  .logo, .brand {
    vertical-align: top;
    display: inline-block;
    height: 20px;
  }

  .separator {
    margin: 0 1px 0 3px;
    font-family: $font-content-bold;
    vertical-align: middle;
    display: inline-block;
    padding-top: 4px;
  }

  img {
    height: 100%;
    width: auto;
  }
}

.container-marketing {
  position: relative;

  .item-label {
    @extend %label--marketing;
    margin-bottom: 5px;
    display: block;
  }
}

[data-view-type="marketingView"] {
  @extend %transition-fade;
  @extend %fade-out;

  &.ad-active {
    @extend %fade-in;
  }
}

.outbrain_div_container {
  @extend %gap__container--h-negative;

  .OUTBRAIN {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
  }

  .ob_what {
    width: 100% !important;
    margin-left: 0 !important;
    padding: $outbrain__ob_what-padding-desktop;
  }

  .ob-widget {
    margin-bottom: $gap-v-region-desktop !important;
  }

  @media (max-width: $screen-xs-max) {
    .ob-widget-header {
      margin-top: 0 !important;
    }

    .ob_what {
      padding: $outbrain__ob_what-padding-mobile !important;
    }

    .ob-widget {
      margin-bottom: $gap-v-region-mobile !important;
    }

    .ob-widget-section {
      padding: $outbrain__padding-mobile !important;

      .ob-rec-text, .ob-rec-source {
        padding: $outbrain__item-padding-mobile !important;
      }
    }
  }
}

.ad-inactive {
  overflow: hidden;
  height: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
  border-top: 0 !important;
}

.ad-js {
  margin-top: 0 !important;
  padding-top: 0 !important;
  border-top: 0 !important;
  max-width: 100%;

  .ad-js-active {
    @media (max-width: $screen-xxs-max) {
      margin-top: $gap-v-region-mobile !important;
    }

    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
      margin-top: $gap-v-region-tablet !important;
    }

    @media (min-width: $screen-md-min) {
      margin-top: $gap-v-region-desktop !important;
    }
  }
}

.item-content .sticky-intext-roll {
  @extend %margin--v-region;
}

.region-feed > .ad-bdsa .ad-js-active {
  @include _margin--v(bottom,  ($gap-v-region-mobile, $gap-v-region-tablet, $gap-v-region-desktop));
}

.teaser-list-large {
  .sticky-intext-roll {
    @extend %gap--v-region;
  }
}