.affiliatelinks--hide {
  .affiliatelinks:not(.affiliatelinks--magazine-products):not(.affiliatelinks--shopping-products) {
    display: none;
  }

}

.affiliatelinks--magazine-products,
.affiliatelinks--shopping-products {
  @include label--affiliate();
}
.affiliatelinks--magazine-products{
  position: absolute;
  top: 0;
  right: 0;
}

.item-paragraph--ecommerce-look {
  .affiliatelinks {
    @include label--affiliate();
  }
}

.item-paragraph--ecommerce-slider-paragraph {
  .ecommerce-slider {
    .affiliatelinks {
      padding-right: 20px;
      padding-bottom: $gap-size-xxs;
      padding-top: $gap-size-xs;
    }
  }
}
