button {
  @include transition(color $transition-duration $transition-easing);
  background: none;
  border: 0;
  color: inherit;
  outline: 0 !important;

  &:hover {
    color: $color-hover;
  }

  &:focus {
    outline: 0 !important;
  }
}

/**
** New Button Stuff
+*/
.button {
  @extend %button;
  display: inline-block;
}

.button--sm {
  @extend %button--sm;
}

.button--md {
  @extend %button--md;
}

.button--lg {
  @extend %button--lg;
}

.button--xl {
  @extend %button--xl;
}

.button--responsive-lg {
  @extend %button--responsive-lg;
}

.button--responsive-md {
  @extend %button--responsive-md;
}

.button--bg-colored-default {
  @extend %button--bg-colored-default;
}

/**
** Lined Colored
 */
.button--lined-colored-default {
  @extend %button--lined-colored-default;
}

/**
** Lined Gray
 */
.button--lined-gray-default {
  @extend %button--lined-gray-default;
}

.button--lined-light {
  @extend %button--lined-light;
}

/**
** Plain Colored
 */
.button--plain-colored-default {
  @extend %button--plain-colored-default;
}


/**
** Plain Gray
 */
.button--plain-gray-default {
  @extend %button--plain-gray-default;
}



/**
** Deprecated
**/
.btn, .btn--small, .btn--large {
  @extend %button;
  @extend %button--md;
  @extend %button--dark;
}
