.item-content--article .item-content-column {
  min-height: 500px;
}

.item-content__header {
  @extend %item-content__header;
}

.item-content__content {
  @extend %item-content__content;
}

.item-content__block, .item-block {
  @extend %item-content__block;
}

.item-content__row--sidebar {
  @extend %item-content__row--sidebar;
}

.item-content--archive {
  @extend %item-content--archive;
}

.item-content--vocabulary {
  @extend %item-content--vocabulary;
}

.item-content--article {
  @extend %item-content--article;
}

.item-content--taxonomy {
  @extend %item-content--taxonomy;
}

.item-content--horoscopes {
  @extend %item-content--horoscopes;
}

.item-content--node-horoscope {
  @extend %item-content--node-horoscope;
}

.item-content--basic {
  @extend %item-content--basic;
}

.item-content--user {
  @extend %item-content--user;
}

.item-content .container-row {
  margin-top: $gap-section;

  @media (min-width: $screen-md-min) {
    margin-top: $gap-section * 2;
  }
}

.item-group--outer-wrapper {
  @extend %region--full-content;

  .item-paragraph {
    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.item-content__block .promotion--text-teaser {
  @include _margin--v(top, ($margin-v-item-content__item-mobile, $margin-v-item-content__item-tablet, $margin-v-item-content__item-desktop));
}

.item-content__block .promotion {
  //@extend %margin--v-region;
  @include _margin--v(top, ($margin-v-item-content__item-mobile, $margin-v-item-content__item-tablet, $margin-v-item-content__item-desktop));
  @include _margin--v(bottom, ($margin-v-item-content__item-mobile, $margin-v-item-content__item-tablet, $margin-v-item-content__item-desktop));
  @include padding--v-sm(top);
  @include padding--v-sm(bottom);
  border-top: $h-line-style;
  border-bottom: $h-line-style;
}