.item-content--article .item-content-column {
  min-height: 500px;
}

.item-content__header {
  @media (max-width: $screen-xxs-max) {
    .author {
      margin-top: $gap-size-sm;
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .author {
      margin-top: $gap-size-lg;
    }
  }

  @media (min-width: $screen-md-min) {
    .author {
      margin-top: $gap-size-lg;
    }
  }
}

.item-content--archive {
  @extend %item-content--archive;
}

.item-content--vocabulary {
  @extend %item-content--vocabulary;
}

.item-content--spotlight {
  @extend %item-content--vocabulary;
}

.item-content__row {

}

.item-content__row-col {

}

.item-content-column {
  position: relative;
  padding-left: $article-socials-column-width;
  min-height: 160px;

  .socials-vertical-bar {
    position: absolute;
    top: 0;
    margin-left: -$article-socials-column-width;
    z-index: 10;
  }

  @media (max-width: $screen-sm-min) {
    padding-left: 0;

    .socials-vertical-bar {
      margin-left: 0;
      position: relative;
      top: 0;
      bottom: auto;
    }
  }
}

.item-content-body, .item-content-highlighted {
  position: relative;

  .item-block, & > .region-full-content {
    margin-top: $gap-section * 2;

    @media (max-width: $screen-sm-min) {
      margin-top: $gap-section;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  .item-block {
    .item-title {
      text-align: left;
    }
  }
}

.item-content-highlighted {
  margin-top: $gap-section;
  margin-bottom: $gap-size-xxxl;

  @media (max-width: $screen-sm-min) {
    margin-top: $gap-size-lg;
  }

  .item-media-gallery .item-media-image {
    .img-container {
      padding-bottom: 57%;
    }
  }

  .item-media-image.portrait {
    .img-container {
      padding-bottom: 61%;
    }
  }
}

.item-content .container-row {
  margin-top: $gap-section;

  @media (min-width: $screen-md-min) {
    margin-top: $gap-section * 2;
  }
}

.item-text, .item-link {
  @extend %text-content-html;
  @extend %copytext--text-block;
  margin-top: $gap-size-xxxl;

  @media (max-width: $screen-sm-min) {
    margin-top: $gap-size-lg;
  }

  & > iframe, .instagram-media {
    margin-top: $gap-section !important;
  }
}
