.item-content--article .item-content-column {
  min-height: 500px;
}

.item-content__header {
  @extend %item-content__header;
}

.item-content__content {
  @extend %item-content__content;
}

.item-content__block, .item-block {
  @extend %item-content__block;
}

.item-content__row--sidebar {
  @extend %item-content__row--sidebar;
}

.item-content--archive {
  @extend %item-content--archive;
}

.item-content--vocabulary {
  @extend %item-content--vocabulary;
}

.item-content--taxonomy {
  @extend %item-content--taxonomy;
}

.item-content--article {
  @extend %item-content--article;
}

.item-content--basic {
  @extend %item-content--basic;
}

.item-content .container-row {
  margin-top: $gap-section;

  @media (min-width: $screen-md-min) {
    margin-top: $gap-section * 2;
  }
}
