.coupon__overview {
  .item-content__content {
    @extend %region--full-content;
    @extend %margin--v-xl;
  }

  .coupon__description {
    @include copytext--text-block();
  }

  .item-content--coupon {
    @include gap--v-region();
    border-top: $coupon__row-border;

    &:first-child {
      border: none;
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.item-content--coupon {
  .coupon__title {
    @include text-helper($coupon__title-font-id, $coupon__title-size-mobile);
    letter-spacing: $coupon__title-letter-spacing;
    margin-bottom: $grid-unit-3;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include text-helper-size(
        $coupon__title-font-id,
        $coupon__title-size-tablet
      );
    }
    @media (min-width: $screen-md-min) {
      @include text-helper-size(
        $coupon__title-font-id,
        $coupon__title-size-desktop
      );
    }
  }

  .coupon__description {
    @include text-helper(
      $coupon__description-font-id,
      $coupon__description-size-mobile
    );
    letter-spacing: $coupon__description-letter-spacing;
    margin-bottom: $grid-unit-2;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include text-helper-size(
        $coupon__description-font-id,
        $coupon__description-size-tablet
      );
    }

    @media (min-width: $screen-md-min) {
      @include text-helper-size(
        $coupon__description-font-id,
        $coupon__description-size-desktop
      );
    }
  }

  .coupon__date,
  .coupon__availability {
    @include text-helper($coupon__date-font-id, $coupon__date-size-desktop);
    letter-spacing: $coupon__date-letter-spacing;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include text-helper-size(
        $coupon__date-font-id,
        $coupon__date-size-tablet
      );
    }

    @media (min-width: $screen-md-min) {
      @include text-helper-size(
        $coupon__date-font-id,
        $coupon__date-size-desktop
      );
    }
  }

  .coupon__availability {
    text-transform: $coupon__availability-text-transform;
    margin: $coupon__availability-margin;

    span {
      text-transform: none;
    }
  }

  .coupon__discount {
    @include product__percentage-saving--default(false);
    padding: $coupon__discount-padding;
    display: inline-block;
    margin-right: $grid-unit-half;
    top: -1px;
    position: relative;
    margin-bottom: $grid-unit-half;
  }

  .coupon__code {
    @include text-helper($coupon__code-font-id, $coupon__code-size-desktop);
    display: inline-block;
    background-color: $coupon__code-bg-color;
    padding: $coupon__code-padding;
    letter-spacing: $coupon__code-letter-spacing;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include text-helper-size(
        $coupon__code-font-id,
        $coupon__code-size-tablet
      );
    }

    @media (min-width: $screen-md-min) {
      @include text-helper-size(
        $coupon__code-font-id,
        $coupon__code-size-desktop
      );
    }
  }

  .coupon__discount-row {
    margin-bottom: $grid-unit-3;
  }

  .coupon__button {
    @include button();
    @include button--lg();
    @include button--white();
    @include flexbox($inline: true);
    @include align-items();
    @include icon($container: "&:after");
    white-space: nowrap;

    &:after {
      content: $icon__arrow-large-right;
      font-size: 18px;
      margin-left: $grid-unit-1;
    }
  }

  .coupon__products-title {
    @include text-helper(
      $coupon__products_title-font-id,
      $coupon__products_title-size-mobile
    );
    color: $coupon__products_title-color;
    letter-spacing: $coupon__products_title-letter-spacing;
    text-transform: $coupon__products_title-text-transform;
    margin-bottom: $grid-unit-2;
    display: block;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include text-helper-size(
        $coupon__products_title-font-id,
        $coupon__products_title-size-tablet
      );
    }

    @media (min-width: $screen-md-min) {
      @include text-helper-size(
        $coupon__products_title-font-id,
        $coupon__products_title-size-desktop
      );
    }
  }

  .coupon__tnc {
    @include text-helper($coupon__tnc-font-id, $coupon__tnc-size);
    margin-top: $grid-unit-3;

    a {
      text-decoration: underline;
    }
  }

  /**
  ** PRODUCT INFO TEXT STYLING END 
  **/

  .coupon__row {
    @media (min-width: $screen-sm-min) {
      @include flexbox();
    }
  }

  .coupon__column--left {
    @media (max-width: $screen-xs-max) {
      margin-bottom: $grid-unit-5;
    }

    @media (min-width: $screen-sm-min) {
      @include flex-item(1);
      padding-right: $grid-unit-6;
    }
  }

  .coupon__column--right {
    @media (min-width: $screen-sm-min) {
      @include flex-item(2);
    }
  }

  .coupon__products {
    @include flexbox();
    @include flex-wrap();
  }

  .item-ecommerce {
    @include product__item--default(false);
    @media (max-width: $screen-sm-max) {
      width: calc(50% - #{$grid-unit-1});

      &:nth-child(2) {
        margin-left: $grid-unit-2;
      }
    }

    @media (min-width: $screen-md-min) {
      width: calc(25% - #{$grid-unit-2});
      margin-left: $grid-unit-2;

      &:first-child {
        margin-left: 0;
      }
    }

    .img-container {
      img {
        width: 100%;
      }
    }
  }

  .product__percentage-saving {
    @include product__percentage-saving--single-product();
    right: $grid-unit-half;
  }
}

#coupon__filter {
  .region-fixed-content {
    padding-bottom: $grid-unit-7;
    position: relative;
  }

  .views-exposed-form {
    @include text-helper($coupon__filter-font, $coupon__filter-size);
    text-transform: $coupon__filter-text-transform;

    @media (min-width: $screen-sm-min) {
      @include flexbox();
    }

    & > .form-composite {
      position: relative;

      @media (min-width: $screen-sm-min) {
        @include flex-item();
        margin-left: $grid-unit-3;

        &:first-child {
          margin-left: 0;
        }
      }

      &:after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 30px;
        width: 100%;
        @include gradient-vertical(
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 1),
          0,
          50%
        );
      }
    }

    legend {
      margin-bottom: $grid-unit-2;
      border-bottom: $coupon__filter-hline;
    }

    .fieldset-legend {
      font-size: $coupon__filter-size;
      margin-bottom: $grid-unit-half;
      display: inline-block;
    }

    label {
      margin-bottom: $grid-unit-1;
      font-weight: normal;

      // @media (min-width: $screen-sm-min) {
      //   margin-left: $grid-unit-half;
      // }
    }
  }

  .fieldset-wrapper {
    max-height: 195px;
    overflow: auto;
    padding-bottom: 30px;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 5px;
      background-color: $color-gray-5;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: $black;
      // box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
      height: 80px;
      z-index: 10;
      position: relative;
    }
  }

  .form-submit {
    @include button();
    @include button--sm();
    @include button--white();
    position: absolute;
    bottom: 0;
    left: 0;
  }

  //dropdown container
  .form-item-sort-bef-combine {
    @include icon($container: "&:after");
    position: relative;

    @media (min-width: $screen-sm-min) {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    label {
      text-transform: none;

      @media (max-width: $screen-xs-max) {
        text-align: right;
        display: block;
        // margin-bottom: 0;
      }
    }

    &:after {
      @include rotate(90deg);
      content: $icon__arrow-large-right;
      font-size: 16px;
      position: absolute;
      right: 0;
      bottom: 7px;
      pointer-events: none;
    }
  }

  select {
    @include text-helper($coupon__filter-font, $coupon__filter-size);
    text-transform: $coupon__filter-text-transform;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: $coupon__filter-hline;
    border-radius: 0;
    height: 30px;
    background: none;
    cursor: pointer;
    width: 100%;

    @media (min-width: $screen-sm-min) {
      width: auto;
      min-width: 264px;
      margin-left: $grid-unit-2;
    }
  }

  .form-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    // Box.
    & + label:before {
      content: "";
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: $grid-unit-2 - 2px;
      height: $grid-unit-2 - 2px;
      background: $color-white;
      border: 1px solid $black;
    }

    // Box hover
    &:hover + label:before {
      background: $color-gray-5;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      $check-color: $gray-dark;
      content: "";
      position: absolute;
      left: 3px;
      top: 6px;
      background: $check-color;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 $check-color, 4px 0 0 $check-color,
        4px -2px 0 $check-color, 4px -4px 0 $check-color,
        4px -6px 0 $check-color, 4px -8px 0 $check-color;
      transform: rotate(45deg);
    }
  }
}
