input {
  outline: 0;
  border: 0;
}

input::-ms-clear {
  display: none;
}

.input-blank {
  border: 0;
}

.checkbox {
  input[type="checkbox"] {
    margin-top: 0;
  }
}

form {
  a {
    text-decoration: underline;
  }
}

.has-error {
  input {
    //border: 2px solid $alert-danger-border;
    outline: 2px solid $alert-danger-border;
    outline-offset: -2px;

    //position: relative;
    //
    //&:after {
    //  @include text-helper($form__error-content-font, $form__error-content-size);
    //  content: $form__error-content;
    //  position: absolute;
    //  left: $form__error-content-left;
    //  top: $form__error-content-top;
    //  color: $form__error-content-color;
    //}
  }
}

.container-alerts {
  font-size: $font-size-small;

  .alert {
    @extend %icon-notification;

    &:before {
      margin-right: 5px;
      font-size: $icon-size-tiny;
      color: $white;
      position: relative;
      top: -2px;
    }
  }

  //.alert-danger {
  //  &:before {
  //  }
  //}
}