input {
  outline: 0;
  border: 0;
}

input::-ms-clear {
  display: none;
}

.input-blank {
  border: 0;
}

.checkbox {
  input[type="checkbox"] {
    margin-top: 0;
  }
}

form {
  a {
    text-decoration: underline;
  }
}

.has-error {
  input {
    border: 2px solid $alert-danger-border;
  }
}

.container-alerts {
  font-size: $font-size-small;

  .alert {
    @extend %icon-circle-filled;

    &:before {
      margin-right: 5px;
      font-size: $icon-size-tiny;
    }
  }

  .alert-danger {
    &:before {
      color: $alert-danger-text;
    }
  }
}