#header {
  .item-media-header {
    @extend %clear-gutter-gap;
  }
}

.item-media-header {
  min-height: 58px;
  max-height: 200px;
  overflow: hidden;
  position: relative;

  .media-header-image {
    position: static;
  }

  img {
    @extend %img-full-responsive;
    @include animation(fadeIn $transition-duration $transition-easing $transition-duration both);
  }

  .text-headline {
    @include text-headline-size(58px);
    letter-spacing: -3px;
    position: absolute;
    top: 50%;
    text-shadow: rgba(0, 0, 0, 0.75) 0px 0px 1px;
    font-family: $font-headline-bold;
    width: 100%;
    text-align: center;
    color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: -29px;
  }

  @media (max-width: $screen-xxs-max) {
    .text-headline {
      @include text-headline-size($headline-size-h1);
      margin-top: -($headline-size-h1/2);
    }
  }
}