#header-home {
  position: relative;
  min-height: 60px;

  .container-content {
    @extend %region-fixed-content;
    position: relative;
  }

  .logo {
    display: block;
    width: 35%;
    min-width: 180px;
    padding: $grid-gutter-width 0;

    img {
      @extend %img-full-responsive;
    }
  }

  .socials-bar {
    @extend %transition-default;
    @extend %fade-in;
    position: absolute;
    top: $grid-gutter-width;
    right: 0;
  }

  @media (max-width: $screen-xxs-max) {
    .socials-bar {
      @include fade-out();
    }
  }
}
