.icon-facebook {
  @extend %ion-social-facebook;
}

.icon-twitter {
  @extend %ion-social-twitter;
}

.icon-pinterest {
  @extend %ion-social-pinterest;
}

.icon-instagram {
  @extend %ion-social-instagram;
}

.icon-email {
  @extend %ion-email;
}

.icon-whatsapp {
  @extend %ion-social-whatsapp;
}

.icon-menu {
  @extend %ion-android-menu;
}

.icon-small-arrow-left {
  @extend %small-arrow-left;
}

.icon-small-arrow-down {
  @extend %small-arrow-down;
}

.icon-small-arrow-right {
  @extend %small-arrow-right;
}

.icon-gallery-arrow-left {
  @extend %gallery-arrow-left;
}

.icon-gallery-arrow-right {
  @extend %gallery-arrow-right;
}

.icon-copyright {
  @extend %icon-copyright;
}

.icon-close {
  @extend %ion-ios-close-empty;
  cursor: pointer;

  &:hover {
    color: $color-hover;
  }
}

.icon-search {
  @extend %ion-ios-search;
  cursor: pointer;

  &:hover {
    color: $color-hover;
  }
}

.icon-info {
  @extend %ion-ios-information;
}

.icon-load {
  @extend %ion-load-c;
}

.icon-return {
  @extend %icon-return;
}
