.item-paragraph--media, .item-media {
  .video-container, .img-container {
    margin-bottom: 15px;
  }

  .caption {
    position: relative;
    min-height: $socials-size-md;  
    padding-right: $item-image-socials-width + $grid-gutter-width;
  }

  .text-description {
    @extend %text-tiny;
    @extend %text-tiny-size-large;
    margin-top: 5px;

    p {
      line-height: inherit;
      font-size: inherit;
    }
  }

  .text-copyright {
    margin: 0;
  }

  .socials-bar {
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
  }
}

.item-media--image {
  @extend %item-media--image;
}

.item-media--gallery {
  @extend %item-media--gallery;
}

.item-media--header {
  @extend %item-media--header;
}

.item-media--header-image {
  @extend %item-media--header-image;
}