.item-media {
  .video-container, .img-container {
    margin-bottom: 15px;
  }

  .text-description {
    @extend %text-tiny;
    @extend %text-tiny-size-large;
    margin-top: 5px;
    padding-right: $item-image-socials-width + $grid-gutter-width;

    p {
      line-height: inherit;
      font-size: inherit;
    }
  }

  .text-copyright {
    margin: 0;
  }

  .caption {
    position: relative;
    min-height: $item-social-size;
  }

  .socials-bar {
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
  }
}

.item-media-image {
  &.landscape {
    .img-container {
      padding-bottom: 61%;
    }
  }

  &.portrait {
    .img-container {
      padding-bottom: 100%;
    }
  }

  .img-container {
    text-align: center;
    position: relative;
    height: 0;
    margin-left: 1px;
    margin-right: 1px;
    overflow: hidden;

    & > * {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  picture {
    @extend %flexbox;
    @extend %justify-content-center;
    @extend %align-items-center;
  }

  img {
    width: auto;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
  }
}

.item-media-gallery {
  @include transition(height $transition-duration $transition-easing);

  .gallery-wrapper {
    //@extend %flexbox;
    overflow: hidden;
    width: 100%;
  }

  .gallery-header {
    position: relative;
    margin-bottom: $grid-gutter-width;

    .text-item-count {
      @extend %text-label;
      @extend %text-label-size-xxl;
    }
  }

  .gallery-navigation {
    position: absolute;
    right: 0;
    top: 0;

    span {
      font-size: $icon-size-medium;
      cursor: pointer;

      &:first-child {
        margin-right: $grid-gutter-width;
      }
    }
  }

  .item-media-image {
    .img-container {
      background-color: $bg-color-gray-light;
      padding-bottom: 75%;
    }
  }

  .text-description {
    min-height: (floor($font-size-large * $line-height-text-tiny)*2) + 5px;
  }
}

.media-header-image {
  position: relative;

  .img-container {
    img {
      @extend %img-full-responsive;
    }
  }

  .caption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}