.item-paragraph--media, .item-media {
  .video-container, .img-container {

  }

  .caption {
    position: relative;
    min-height: $socials-size-md;
    padding-right: $item-image-socials-width + $grid-gutter-width;
    word-wrap: break-word;
    margin-top: 15px;
  }

  .text-description {
    @extend %item-media__description;
  }

  .text-copyright {
    margin: 0;
  }

  .socials-bar {
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
  }
}

.item-media--image {
  @extend %item-media--image;
}

.item-media--gallery {
  @extend %item-media--gallery;
}

.item-media--header {
  @extend %item-media--header;
}

.item-media--header-image {
  @extend %item-media--header-image;
}

.item-media--file {
  @extend %item-media--file;
}