.item-paragraph--media,
.item-media {
  .video-container,
  .img-container {
  }

  & > .caption {
    position: relative;
    min-height: $socials-size-md;
    padding-right: $item-image-socials-width + $grid-gutter-width;
    word-wrap: break-word;
    margin-top: $media__caption-gap-v;
  }

  .text-description {
    @extend %item-media__description;
  }

  .text-copyright {
    margin: 0;
  }

  .socials-bar {
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
  }
}

@include blazy-components();

.item-media--image {
  @extend %item-media--image;
}

.item-media--gallery {
  @extend %item-media--gallery;
}

.item-media--header {
  @extend %item-media--header;
}

.item-media__header-image {
  @extend %item-media__header-image;
}

.item-media--file {
  @extend %item-media--file;
}

.nexx-separator {
  @include nexx-separator();
}

.item-paragraph--small .item-media--nexx-video,
.item-media--nexx-video {
  @media (max-width: $screen-xs-max) {
    margin-left: -$container-h-gap--mobile;
    margin-right: -$container-h-gap--mobile;

    .caption {
      padding-left: $container-h-gap--mobile;
    }
  }
}
