#menu-submenu-navigation {

  .menu {
    position: relative;
    text-align: center;
    margin: $grid-gutter-width 0;
  }

  .menu-item {
    @include inline-block();
    @extend %text-label;
    @extend %text-label-size-large;
    color: $text-color;
    text-transform: uppercase;

    a {
      padding: 0 $padding;
    }
  }

  .is-active {
    color: $color-hover;
  }

  @media (max-width: $screen-sm-min) {
    &.is-open {
      .menu-item {
        a {
          display: block;
        }

        .is-active {
          @include icon-arrow-up-small();
        }
      }

      .menu {
        padding-top: $label-size-large + ($padding*2) + 20px;
      }
    }

    .menu {
      padding-top: $label-size-large + ($padding*2);
    }

    .menu-item {
      display: inline;

      a {
        padding: $padding 0;
        //border-top: $h-line-style;
        display: none;
        text-align: left;
        color: $gray-base;
      }
    }

    .menu-item {
      .is-active {
        @include icon();
        @include icon-arrow-down-small();

        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 0;

        &:before {
          position: absolute;
          right: 0;
          color: $text-color;
        }
      }
    }
  }
}