.region-newsletter {
  @include newsletter--horizontal();
}

/**
* Lading Page
**/
.region-newsletter-page {
  position: relative;
  min-height: 500px;
  height: 0;
  padding-bottom: 100%;

  .container-content {
    background-position: top center;
    background-image: url(../images/static/newsletter_landingpage_xs.jpg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @media (min-width: $screen-sm-min) {
      background-image: url(../images/static/newsletter_landingpage_sm.jpg);
    }

    @media (min-width: $screen-lg-min) {
      background-image: url(../images/static/newsletter_landingpage_lg.jpg);
    }

    @media (min-width: $screen-xl-min) {
      background-image: url(../images/static/newsletter_landingpage_xl.jpg);
    }
  }

  @media (min-width: $screen-md-min) {

    .container-content-item {
      background-color: rgba($white, 0.8);
      width: $screen-sm-min;
      height: 400px;
      margin-left: - floor($screen-sm-min/2);
      margin-top: -200px;
      top: 50%;
      left: 50%;
      bottom: auto;
      right: auto;
      color: $text-color;
    }
  }

  @media (min-width: $screen-lg-min) {
    height: 0;
    padding-bottom: 65%;
  }
}