.region--full-content, .region-full-content {
  @extend %region--full-content;
  @extend %region__children--full-content;
}

//padded / lined teaser
.region-content, .region-feed-teasers {
  @include region-content();
}

.region-lazy-loading, .region-content > .region-infinite-block {
  @include region-lazy-loading();
}

#page-wrapper {
  .region-presenter {
    @include page-wrapper__region-presenter();
  }

  .region-breadcrumb + .region-full-content {
    margin-top: 0;
    border-top: 0;
  }

  .region-marketing.ad-active + .region-full-content {
    @if ($region-v-lined) {
      margin-top: -$h-line-width; //double line
    } @else {
      margin-top: 0;
    }
  }
}

.region-infinite-block {

}

.no-horizontal-padding {
  padding-left: 0;
  padding-right: 0;
}

.region--fixed-content, .region-fixed-content, .container-fixed-content, .container--fixed-content {
  @extend %region--fixed-content;
}

.region-teaser-full-content {
  padding: 0;
  border-top: 0;
}

.region__teasers--horizontal, .region__seo-linker--image {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.region__teasers--horizontal {
  @extend %region__teasers--horizontal;
}

.region-no-gap + .region-full-content {
  border-top: 0;
  padding-top: 0;
}

.region-ecommerceslider {
  @extend %ecommerce-slider--full;
  @include gap__container--h-negative();
}