//padded / lined teaser
.region-content, .region-feed-teasers {
  @include region-content();
}

.region--full-content, .region-full-content {
  @include region--full-content();
  @include region__children--full-content();
}

.region-lazy-loading, .region-content > .region-infinite-block {
  @include region-lazy-loading();
}

#page-wrapper {
  .region-presenter {
    @include page-wrapper__region-presenter();
  }

  .region-breadcrumb + .region-full-content {
    margin-top: 0;
    border-top: 0;
  }
}

.region-infinite-block {

}

.no-horizontal-padding {
  padding-left: 0;
  padding-right: 0;
}

.region--fixed-content, .region-fixed-content, .container-fixed-content, .container--fixed-content {
  @extend %region--fixed-content;
}

.region-teaser-full-content {
  padding: 0;
  border-top: 0;
}

.region__teasers--horizontal, .region__seo-linker--image {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.region__teasers--horizontal {
  @extend %region__teasers--horizontal;
}

.region-no-gap + .region-full-content {
  border-top: 0;
  padding-top: 0;
}

.region-ecommerceslider {
  @extend %ecommerce-slider;

  .ecommerce-slider__title {
    @extend %title--horizontal-block;
  }
}

.region-ecommerceslider.region-full-content {
  @extend %ecommerce-slider--full;

  padding-left: 0;
  padding-right: 0;
}

.region-ecommerceslider.region-middle-content {
  @extend %region--fixed-content;
}