.sidebar-navigation {
  position: sticky;
  left: 0;
  top: $navigation-height;

  @media (min-width: $screen-sm-min) {
    float: left;
    margin-right: $grid-unit-3;

    .btn__open-tree {
      display: none;
    }
  }

  li {
    @include transition-property(background-color color);
    @include transition-duration($transition-duration);
    @include transition-timing-function($transition-easing);
    @include text-helper(
      $sidebar-navigation__font-id,
      $sidebar-navigation__size
    );
    background-color: $color-white;
    text-transform: $sidebar-navigation__text-transform;
    color: $sidebar-navigation__text-color;
    padding: $sidebar-navigation__li-padding;
    margin: $sidebar-navigation__li-margin;
    position: relative;

    &.is-active {
      color: $sidebar-navigation__li-active-color;
      background-color: $sidebar-navigation__li-active-bg; 
    }

    a {
      z-index: 1;
    }

    .progress {
      display: block;
      position: absolute;
      left: 0;
      width: 0%;
      top: 0;
      bottom: 0;
      z-index: 1;
      background-color: $sidebar-navigation__li-progress-bg;
    }
  }
}
