.socials {
  .item-social {
    @extend %socials-default-item;
  }

  //fb / whatsapp / instagram / etc
  @include socials-default-items();
}

.socials-bar-clean {
  .item-social {
    @include socials-clean-horizontal-bar-item();
  }
}

.socials-bar {
  @include socials-bar-container();
}

.teaser .socials-bar {
  .item-social {
    @extend %socials-teaser-horizontal-bar-item;
  }
}

.item-media .socials-bar {
  .item-social {
    @extend %socials-media-horizontal-bar-item;
  }
}

.socials-horizontal-bar {
  @include socials-labeled-horizontal-bar-text();

  .item-social {
    @extend %socials-labeled-horizontal-bar-item;
  }
}

.socials-vertical-bar {
  @include socials-vertical-bar();

  .item-social {
    @extend %socials-vertical-bar-item;
  }
}

.socials-bar {
  .item-social.icon-whatsapp {
    display: none;
  }
}

@mixin placeholder() {
  align-items: center;
  border: 1px solid rgb(204, 214, 221);
  display: none;
  flex-direction: column;
  justify-content: center;
  visibility: visible;

  &:before {
    content: ' ';
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
  }

  &:after {
    @include button();
    @include button--md();
    @include button--white();
    content: 'Embed laden';
    margin-top: $grid-unit-2;
  }
}

.item-paragraph--pinterest,
.item-paragraph--twitter {
  .item-media__wrapper {
    min-height: 519px;
  }
}

.item-media__wrapper {
  position: relative;
}

.item-media__consent {
  @include placeholder();
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.instagram-media {
  &:not(.instagram-media-rendered) {
    box-shadow: none !important;

    [style='padding-top: 8px;'] {
      & > div {
        display: none;
      }
    }

    svg {
      display: none;
    }

    & + .item-media__consent {
      display: flex;

      &:before {
        background-image: url(/themes/contrib/infinite/images/static/instagram.png);
      }
    }
  }
}

.embed-youtube {
  &:not(.rendered) {
    background-color: $black;

    & + .item-media__consent {
      display: flex;

      &:before {
        background-image: url(/themes/contrib/infinite/images/static/youtube.png);
        width: 150px;
      }
    }
  }
}

[data-pin-do='embedPin'] {
  & + .item-media__consent {
    display: flex;

    &:before {
      background-image: url(/themes/contrib/infinite/images/static/pinterest.png);
    }
  }
}

.twitter-tweet.element-hidden {
  & + .item-media__consent {
    display: flex;

    &:before {
      background-image: url(/themes/contrib/infinite/images/static/twitter.png);
    }
  }
}
