[data-internal-url], [data-external-url] {
  cursor: pointer;

  &:hover {
    .text-headline {
      color: $text-highlighted;
    }
  }
}

/**
* Teaser Default
**/

.teaser {
  @extend %teaser-default;
}

//vertical feed list
.teaser-list-large, .teaser-list--large {
  @extend %teaser-feed-large;
}

.list__images--horizontal {
  @extend %swipeable__images--horizontal;
  @extend %list__images--horizontal;

  .teaser {
    @extend %list__images--horizontal__item;
    @extend %swipeable__images--horizontal__item;
    @extend %teaser-list-h;

    @include teaser-list-h-text();
  }
}

/**
* Teaser Landscape
**/

.teaser-landscape-medium {
  @extend %teaser-landscape-medium;
  @include teaser-landscape-medium-text();
}

/**
* Presenter Fullcontent
**/

.teaser-presenter--full {
  @extend %teaser-presenter--full;
}

.teaser-presenter--half {
}

.teaser-presenter--lg {
  @extend %teaser-presenter--lg;
}

.teaser-landscape-large {
  @media (max-width: $screen-xs-max) {
    .teaser__caption {
      padding-top: $gap-size-xs;
    }
  }

  @media (min-width: $screen-sm-min) {
    .teaser__caption {
      padding-top: $gap-size-sm;
    }
  }
}

.teaser-square-xs {
  @extend %teaser-square-xs;
}

/**
  * Teaser Square
  **/

.teaser-square-medium {
  @extend %teaser-square-medium;
}

.teaser--horoscope-square {
  @extend %teaser--horoscope-square;
}

.teaser--horoscope-square-medium {
  @extend %teaser--horoscope-square-medium;
}

/**
* Teaser Portrait
**/

.teaser-portrait-small {
  @extend %teaser--portrait-small;
}

.teaser-portrait-medium {
  @extend %teaser--portrait-medium;
}

.teaser-content-right, .teaser--content-right {
  @extend %teaser--content-right;
}
