[data-internal-url], [data-external-url] {
  cursor: pointer;

  &:hover {
    .text-headline {
      color: $text-highlighted;
    }
  }
}

.teaser-list-large {
  .teaser {
    @extend %teaser-feed-large;
    @extend %gap-teaser-feed-large;
  }
}

.teaser-list-horizontal {
  @include make-row();

  .teaser {
    @include make-xs-column($grid-columns / $teaser-list-horizontal-count-default);
    @extend %teaser-list-h;
  }

  @media (max-width: $screen-xs-max) {
    @include flexbox();

    .teaser {
      @include flex-shrink(0);
      width: 40%;
    }
  }
}

/**
* Teaser Default
**/

.teaser {
  @extend %teaser-default;
}

/**
* Teaser Fullcontent
**/

.teaser-full-content {
  @extend %teaser-full-content;
}

/**
* Presenter half
**/

.teaser-presenter-half {
  .author {
    display: none;
  }
}

/**
* Teaser Landscape
**/

.teaser-landscape-medium {
  @extend %teaser-feed-large;
}

//.teaser-landscape-medium {
//
//  .text-headline {
//    @extend %text-headline-size-h3;
//  }
//
//  @media (max-width: $screen-md-max) {
//    .text-headline {
//      @include text-headline-size($headline-size-h4);
//    }
//  }
//}

.teaser-landscape-large {
  & > .caption-teaser {
    padding-top: $gap-section;
  }
}

/**
* Teaser Content-Right
**/

.teaser-landscape-medium {
  & > .img-container {
    @include make-md-column(15);
  }

  & > .caption-teaser {
    @include make-md-column(9);
  }

  .text-headline {
    margin-left: -3px;
  }
}

/**
  * Teaser Square
  **/

.teaser-square-medium {
  & > .img-container, .caption-teaser {
    @include make-xs-column($grid-columns/2);
  }
}

/**
* Teaser Portrait
**/

.teaser-portrait-small {
  & > .img-container {
    @include make-xs-column($grid-columns/3);
  }

  .caption-teaser {
    @include make-xs-column($grid-columns - ($grid-columns/3));
  }
}

.teaser-portrait-medium {
  & > .img-container {
    @include make-xs-column(floor($grid-columns/2.05));
  }

  .caption-teaser {
    @include make-xs-column($grid-columns - floor($grid-columns/2.05));
  }
}

.teaser-portrait-small, .teaser-portrait-medium {
  @media (max-width: $screen-xs-min) {
    .img-container img {
      width: 75%;
    }

    .caption-teaser {
      width: 75%;
    }
  }
}

.teaser-content-right {
  @include make-row();

  .caption-teaser {
    padding-top: 0;
  }

  &.teaser-landscape-medium {
    @media (max-width: $screen-sm-max) {
      & > .caption-teaser {
        padding-top: $grid-gutter-width;
      }
    }
  }
}
