body {
  color: $text-color;
  font-size: $font-size-base;
  font-family: $font-content;
  -webkit-font-smoothing: subpixel-antialiased;

  @media screen and (max-device-width: $screen-xs-min) {
    -webkit-text-size-adjust: none;
  }
}

a {
  @include transition-property(color, background-color, border-color);
  @include transition-duration(.35s);
  @include transition-timing-function(ease);
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $text-highlighted;
  }
}

.text-headline {
  @extend %text-headline;
}

.text-label {
  @extend %text-label;
}

.text-tiny {
  @extend %text-tiny;
}

.text-category {
  @extend %label--category;
}

.text-copyright {
  @extend %label--copyright;
}

.text-description {
  strong, b {
    font-family: inherit;
  }

  a {
    text-decoration: underline;
  }
}

.text-content-html {
  @extend %text-content-html;
}

strong, b, .text--highlighted {
  @include bold-settings();
}

i, em {
  font-style: italic;
}