/**
** Form
**/
$form__error-content-font-id: $font-headline-id !default;
$form__error-content-size: 20px !default;
$form__error-content: "!" !default;
$form__error-content-color: $alert-danger-text !default;
$form__error-content-top: -4px !default;
$form__error-content-left: -14px !default;