/** copytext--text-block **/
$copytext--text-block-mobile: 18px !default;
$copytext--text-block-tablet: 19px !default;
$copytext--text-block-desktop: 21px !default;

$text-content__children-margin-top--mobile: $grid-gutter-width !default;
$text-content__children-margin-top--tablet: $grid-gutter-width !default;
$text-content__children-margin-top--desktop: $grid-gutter-width !default;