/**
** Specific Lists Gaps
**/
$gap-v-region-mobile: $gap-v-xl-mobile !default;
$gap-v-region-tablet: $gap-v-xl-tablet !default;
$gap-v-region-desktop: $gap-v-xl-desktop !default;

$gap-v-sm-region-mobile: $gap-v-sm-mobile !default;
$gap-v-sm-region-tablet: $gap-v-sm-tablet !default;
$gap-v-sm-region-desktop: $gap-v-sm-desktop !default;

$gap__caption-top--h-teaser-mobile: 14px !default;
$gap__caption-top--h-teaser-tablet: $gap-size-xs !default;
$gap__caption-top--h-teaser-desktop: $gap-size-sm !default;

/**
** Container Horizontal Gap
**/
$container-h-gap--mobile: 22px !default;
$container-h-gap--tablet: 32px !default;
$container-h-gap--desktop: 42px !default;

/**
** Margins Content Horizontal
**/
$margin-v-item-content__item-mobile: $gap-size-lg !default;
$margin-v-item-content__item-tablet: $gap-size-lg !default;
$margin-v-item-content__item-desktop: $gap-size-xxxl !default;

//size default
$container-padding-top-mobile: $gap-size-md !default;
$container-padding-top-tablet: $gap-size-lg !default;
$container-padding-top-desktop: $gap-size-lg !default;

//size xs
$container-padding-xs-top-mobile: $gap-size-xs !default;
$container-padding-xs-top-tablet: $gap-size-xs !default;
$container-padding-xs-top-desktop: $gap-size-xs !default;

//size sm
$container-padding-sm-top-mobile: $gap-size-xs !default;
$container-padding-sm-top-tablet: $gap-size-sm !default;
$container-padding-sm-top-desktop: $gap-size-sm !default;