//NICHT MEHR BENUTZEN!
/**
** Btns
**/
$btn--small-font-id: $font-label-id !default;
$btn--small-border: 1px solid $color-highlighted !default;
$btn--small-radius: 15px !default;
$btn--small-color: $white !default;
$btn--small-bg-color: $color-highlighted !default;
$btn--small-letter-spacing: 1px !default;
$btn--small-highlighted-color: $white !default;
$btn--small-highlighted-bg-color: $color-hover !default;
$btn--small-highlighted-border: 1px solid $color-hover !default;
$btn--small-text-transform: uppercase !default;
$btn--small-padding-mobile: 4px 20px !default;
$btn--small-padding-tablet: 4px 20px !default;
$btn--small-padding-desktop: 4px 20px !default;
$btn__label-size-mobile--small: 13px !default;
$btn__label-size-tablet--small: 13px !default;
$btn__label-size-desktop--small: 14px !default;

/** lined **/
$btn--small-bordered-font-id: $font-label-id !default;
$btn--small-bordered-border: 1px solid $color-highlighted !default;
$btn--small-bordered-radius: 15px !default;
$btn--small-bordered-color: $color-brand !default;
$btn--small-bordered-bg-color: transparent !default;
$btn--small-bordered-letter-spacing: 0.1em !default;
$btn--small-bordered-highlighted-color: $color-hover !default;
$btn--small-bordered-highlighted-bg-color: transparent !default;
$btn--small-bordered-highlighted-border: 1px solid $color-hover !default;
$btn--small-bordered-text-transform: uppercase !default;
$btn--small-bordered-padding-mobile: 4px 20px !default;
$btn--small-bordered-padding-tablet: 4px 20px !default;
$btn--small-bordered-padding-desktop: 4px 20px !default;
$btn__label-size-mobile--small-bordered: 13px !default;
$btn__label-size-tablet--small-bordered: 13px !default;
$btn__label-size-desktop--small-bordered: 14px !default;

$btn--large-font-id: $font-headline-bold-id !default;
$btn--large-text-transform: uppercase !default;
$btn--large-border: 1px solid $color-highlighted !default;
$btn--large-bg-color: $color-highlighted !default;
$btn--large-color: $white !default;
$btn--large-highlighted-bg-color: $gray-base !default;
$btn--large-highlighted-color: $white !default;
$btn--large-border: transparent !default;
$btn--large-highlighted-border: 1px solid $gray-base !default;
$btn--large-radius: 0 !default;
$btn--large-letter-spacing: 0.05em !default;
$btn--large-padding-mobile: 12px 20px 8px !default;
$btn--large-padding-tablet: 12px 20px 8px !default;
$btn--large-padding-desktop: 12px 20px 8px !default;
$btn__label-size-mobile--large: 15px !default;
$btn__label-size-tablet--large: 15px !default;
$btn__label-size-desktop--large: 15px !default;