/**
** Tables
**/
$table__title-font-id--text-block: $font-headline-id !default;
$table__title-color--text-block: $title--text-block-color !default;

$table-border-spacing-mobile--text-block: (0px 0px) !default;
$table-border-spacing-tablet--text-block: (10px 0px) !default;
$table-border-spacing-desktop--text-block: (10px 0px) !default;

//all tds
$table__td-padding-mobile--text-block: 2px 0px !default;
$table__td-padding-tablet--text-block: 4px 25px 4px 10px !default;
$table__td-padding-desktop--text-block: 4px 25px 4px 10px !default;
$table__td-border-bottom--text-block: $h-line-style !default;

$table__td-first-font-id--text-block: $font-content-bold-id !default;
$table__td-first-color--text-block: $color-brand !default;
$table__td-first-letter-spacing--text-block: $content-letter-spacing !default;
$table__td-first-size-mobile--text-block: $copytext--text-block-mobile !default;
$table__td-first-size-tablet--text-block: $copytext--text-block-tablet !default;
$table__td-first-size-desktop--text-block: $copytext--text-block-desktop !default;

$table__td-font-id--text-block: $font-content-id !default;
$table__td-color--text-block: $text-color !default;
$table__td-letter-spacing--text-block: $content-letter-spacing !default;
$table__td-size-mobile--text-block: $copytext--text-block-mobile !default;
$table__td-size-tablet--text-block: $copytext--text-block-tablet !default;
$table__td-size-desktop--text-block: $copytext--text-block-desktop !default;
