/**
** Breadcrumb
**/
$breadcrumb-font-id: $font-label-id !default;
$breadcrumb-before-font-id: $breadcrumb-font-id !default;
$breadcrumb-before-content: ">" !default;
$breadcrumb-before-color: $color-highlighted !default;
$breadcrumb-before-left: -12px !default;
$breadcrumb-before-top: 0 !default;
$breadcrumb-before-size: inherit !default;
$breadcrumb-before-margin: 0 !default;
$breadcrumb-color: $text-color;
$breadcrumb__item-margin: 0 0 0 15px !default;
//bootstrap variable
$breadcrumb-color-highlighted: $color-highlighted !default;
$breadcrumb-size-mobile: $label--category-size--mobile !default;
$breadcrumb-size-tablet: $label--category-size--tablet !default;
$breadcrumb-size-desktop: $label--category-size--desktop !default;
