/**
** Tags
**/
$tags__article-font-id: $font-tiny-id !default;
$tags__article-text-size-mobile: $title-size-xxxs !default;
$tags__article-text-size-tablet: $title-size-xxs !default;
$tags__article-text-size-desktop: $title-size-xxs !default;
$tags__item-margin-mobile: 0px 5px 5px 0px !default;
$tags__item-margin-tablet: 0px 5px 5px 0px !default;
$tags__item-margin-desktop: 0px 5px 5px 0px !default;