/**
** Pager
**/
$pager__tree-bg-color--list: $gray-light !default;
$pager__tree-padding--list: 10px 20px !default;
$pager__active-color--list: $color-hover !default;
$pager__links-font-id--list: $font-label-id !default;
$pager__links-text-transform--list: uppercase !default;
$pager__links-letter-spacing--list: 0.1em !default;
$pager__links-color--list: $gray-base !default;
$pager__links-size-mobile--list: $title-size-xxxs !default;
$pager__links-size-tablet--list: $title-size-xxxs !default;
$pager__links-size-desktop--list: $title-size-xxxs !default;
$pager__links-icon-size-mobile--list: 12px !default;
$pager__links-icon-size-tablet--list: 12px !default;
$pager__links-icon-size-desktop--list: 12px !default;
$pager__links-color-hover--list: $color-hover !default;
$pager__links-margin--list: 14px 0px 0 !default;
$pager__links-height--list: 22px !default;