$tipser__hide-font-id: $font-content-id !default;
$tipser-font-id: $font-content-id !default; 

$tipser__buy-icon: '\e911' !default;
$tipser__buy-icon-size--header: 27px !default;
$tipser__buy-icon-size--main-navigation: 27px !default;
