$native-logo--height: 20px !default;
$native-logo--height--mobile: $native-logo--height !default;
$native-logo--font-size: 16px !default;
$native-logo--font-size--mobile: $native-logo--font-size !default;
