$newsletter__z-index--modal: 999999 !default;

$newsletter__section-max-width: 600px !default;
$newsletter__section-text-align:center !default;
$newsletter__bg-color: $color-brand !default;
$newsletter__title-font-id: $font-headline-id !default;
$newsletter__title-size-mobile--default: getFontSize(18px) !default;
$newsletter__title-size-tablet--default: getFontSize(20px) !default;
$newsletter__title-size-desktop--default: getFontSize(20px) !default;

$newsletter__input-font-id: $font-content-id !default;

$newsletter__optin-font-id: $font-label-id !default;
$newsletter__optin-size: getFontSize(11px) !default;
$newsletter__optin-color: $color-gray-1 !default;

$newsletter__alert-font-id: $font-label-id !default;
$newsletter__alert-size: getFontSize(12px) !default;
$newsletter__alert-color: $color-white !default;
$newsletter__alert-bg-color: #e22521 !default;

//success
$newsletter__success-title-font-id: $font-headline-id !default;
$newsletter__success-title-size-mobile--default: getFontSize(18px) !default;
$newsletter__success-title-size-desktop--default: getFontSize(20px) !default;

$newsletter__success-text-font-id: $font-content-id !default;
$newsletter__success-text-size-mobile--default: getFontSize(16px);
$newsletter__success-text-size-desktop--default: getFontSize(16px);

$newsletter__optin-body-font-id: $font-label-id !default;
$newsletter__optin-body-size: getFontSize(14px) !default;
