/**
** Deprecated
 */

@mixin btn($bg-color: $color-highlighted, $color: $white) {
  @include transition-property(color, background-color, border-color);
  @include transition-duration(.35s);
  @include transition-timing-function(ease);
  @include text-headline();
  @include text-headline-size($title-size-xxxs);

  outline: none;
  background-color: $bg-color;
  border-radius: 0;
  text-transform: uppercase;
  color: $color;
  border: 1px solid transparent;
  vertical-align: middle;

  &:hover {
    color: $color;
    background-color: $color-hover;
    border: 1px solid $color-hover;
  }

  &:focus {
    outline: 0 !important;
  }
}

@mixin btn--small($sizes: ($btn__label-size-mobile--small, $btn__label-size-desktop--small, $btn__label-size-desktop--small), $font: $btn--small-font-id) {
  $size-mobile: nth($sizes, 1);
  $size-tablet: nth($sizes, 2);
  $size-desktop: nth($sizes, 3);

  @include text-helper($font);
  @include transition-property(color, background-color, border-color);
  @include transition-duration($transition-duration);
  @include transition-timing-function($transition-easing);
  background-color: $btn--small-bg-color;
  color: $btn--small-color;
  border: $btn--small-border;
  border-radius: $btn--small-radius;
  letter-spacing: $btn--small-letter-spacing;
  display: inline-block;
  text-transform: $btn--small-text-transform;
  cursor: pointer;

  &:hover {
    @extend %btn--small--highlighted;
  }

  @media (max-width: $screen-xs-max) {
    @include text-helper-size($font, $size-mobile);
    padding: $btn--small-padding-mobile;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($font, $size-tablet);
    padding: $btn--small-padding-tablet;
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($font, $size-desktop);
    padding: $btn--small-padding-desktop;
  }
}

@mixin btn--small--highlighted() {
  background-color: $btn--small-highlighted-bg-color;
  color: $btn--small-highlighted-color;
  border: $btn--small-highlighted-border;
}

@mixin btn--small-bordered($sizes: ($btn__label-size-mobile--small-bordered, $btn__label-size-desktop--small-bordered, $btn__label-size-desktop--small-bordered), $font: $btn--small-bordered-font-id) {
  $size-mobile: nth($sizes, 1);
  $size-tablet: nth($sizes, 2);
  $size-desktop: nth($sizes, 3);

  @include text-helper($font);
  @include transition-property(color, background-color, border-color);
  @include transition-duration($transition-duration);
  @include transition-timing-function($transition-easing);
  @include icon-arrow-right-small(true, '&:after');
  @extend %icon--after;
  background-color: $btn--small-bordered-bg-color;
  color: $btn--small-bordered-color;
  border: $btn--small-bordered-border;
  border-radius: $btn--small-bordered-radius;
  letter-spacing: $btn--small-bordered-letter-spacing;
  display: inline-block;
  text-transform: $btn--small-bordered-text-transform;
  cursor: pointer;

  &:hover {
    @extend %btn--small-bordered--highlighted;
  }

  &:after {
    margin-left: 1px;
    font-weight: bold;
    margin-top: -2px;
    margin-right: -7px;
  }

  @media (max-width: $screen-xs-max) {
    @include text-helper-size($font, $size-mobile);
    padding: $btn--small-bordered-padding-mobile;

    &:after {
      font-size: $size-mobile + 5px;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($font, $size-tablet);
    padding: $btn--small-bordered-padding-tablet;

    &:after {
      font-size: $size-tablet + 5px;
    }
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($font, $size-desktop);
    padding: $btn--small-bordered-padding-desktop;

    &:after {
      font-size: $size-desktop + 5px;
    }
  }
}

@mixin btn--small-bordered--highlighted() {
  background-color: $btn--small-bordered-highlighted-bg-color;
  color: $btn--small-bordered-highlighted-color;
  border: $btn--small-bordered-highlighted-border;
}

@mixin btn--large($sizes: ($btn__label-size-mobile--large, $btn__label-size-desktop--large, $btn__label-size-desktop--large), $font: $btn--large-font-id) {
  $size-mobile: nth($sizes, 1);
  $size-tablet: nth($sizes, 2);
  $size-desktop: nth($sizes, 3);

  @include text-helper($font);
  @include transition-default();
  background-color: $btn--large-bg-color;
  color: $btn--large-color;
  border: $btn--large-border;
  border-radius: $btn--large-radius;
  letter-spacing: $btn--large-letter-spacing;
  display: inline-block;
  text-transform: $btn--large-text-transform;
  cursor: pointer;

  &:hover {
    @extend %btn--large--highlighted;
  }

  @media (max-width: $screen-xs-max) {
    @include text-helper-size($font, $size-mobile);
    padding: $btn--large-padding-mobile;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($font, $size-tablet);
    padding: $btn--large-padding-tablet;
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($font, $size-desktop);
    padding: $btn--large-padding-desktop;
  }
}

@mixin btn--large--highlighted() {
  background-color: $btn--large-highlighted-bg-color;
  color: $btn--large-highlighted-color;
  border: $btn--large-highlighted-border;
}

@mixin btn__open-tree--mobile() {
  @include icon();
  @include icon-arrow-down-small();
  display: block;

  &:before {
    position: absolute;
    right: $container-h-gap--mobile;
    color: $text-color;
  }

  &.is-active {
    @include icon-arrow-up-small();
  }
}

/**
** New Styleguide
 */

@mixin button() {
  @include transition-property(color, background-color, border-color);
  @include transition-duration(.35s);
  @include transition-timing-function(ease);
  @include text-helper($button__font-id--default);
  border: 1px solid transparent;
  -webkit-border-radius: $button__border-radius--default;
  -moz-border-radius: $button__border-radius--default;
  border-radius: $button__border-radius--default;
  letter-spacing: $button__letter-spacing--default;
  text-transform: $button__text-transform--default;
  white-space: $button__white-space--default;
}

@mixin button--size($font-id, $size, $height, $line-height, $padding) {
  @include text-helper-size($font-id, $size, $line-height);
  height: $height;
  padding: $padding;
}

@mixin button--sm() {
  @include button--size($button__font-id--default, $button__label-size--sm-default, $button__height--sm-default, $button__line-height--sm-default, $button__padding--sm-default);
}

@mixin button--md() {
  @include button--size($button__font-id--default, $button__label-size--md-default, $button__height--md-default, $button__line-height--md-default, $button__padding--md-default);
}

@mixin button--lg() {
  @include button--size($button__font-id--default, $button__label-size--lg-default, $button__height--lg-default, $button__line-height--lg-default, $button__padding--lg-default);
}

@mixin button--xl() {
  @include button--size($button__font-id--default, $button__label-size--xl-default, $button__height--xl-default, $button__line-height--xl-default, $button__padding--xl-default);
}

@mixin button--responsive-lg() {
  @media (max-width: $screen-xs-max) {
    @include button--md();
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include button--md();
  }

  @media (min-width: $screen-md-min) {
    @include button--lg();
  }
}

@mixin button--responsive-md() {

  @media (max-width: $screen-xs-max) {
    @include button--sm();
  }

  @media (min-width: $screen-sm-min) {
    @include button--md();
  }
}

@mixin button--responsive-icon-pseudo-sm($container: "&:before") {
  #{$container} {
    margin-top: -1px;
  }
  //@media (max-width: $screen-xs-max) {
  //}
  //
  //@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  //  #{$container} {
  //    margin-top: -1px;
  //  }
  //}
  //
  //@media (min-width: $screen-md-min) {
  //  #{$container} {
  //    margin-top: -1px;
  //  }
  //}
}

@mixin button--responsive-icon-pseudo-md($container: "&:before") {
  @media (max-width: $screen-xs-max) {
    #{$container} {
      margin-top: -2px;
      margin-left: -2px;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    #{$container} {
      margin-top: -3px;
      margin-left: -3px;
    }
  }

  @media (min-width: $screen-md-min) {
    #{$container} {
      margin-top: -4px;
      margin-left: -4px;
    }
  }
}

/**
** BG Colored
 */

@mixin button--bg-colored($bg-color: $button__bg-color--bg-colored-default, $color: $button__color--bg-colored-default) {
  background-color: $bg-color;
  color: $color;
}

@mixin button--bg-colored-default() {
  @include button--bg-colored($button__bg-color--bg-colored-default, $button__color--bg-colored-default);
}

@mixin button--bg-colored-hover() {
  @include button--bg-colored($button__bg-color--bg-colored-hover, $button__color--bg-colored-hover);
}

@mixin button--bg-colored-pressed() {
  @include button--bg-colored($button__bg-color--bg-colored-pressed, $button__color--bg-colored-pressed);
}

@mixin button--bg-colored-disabled() {
  @include button--bg-colored($button__bg-color--bg-colored-disabled, $button__color--bg-colored-disabled);
  border: none;
  pointer-events: none;
}

/**
** BG Lined
 */
@mixin button--lined-colored($border-color: $button__border-color--lined-colored-default, $color: $button__color--lined-colored-default) {
  border: 1px solid $border-color;
  color: $color;
}

@mixin button--lined-colored-default() {
  @include button--lined-colored($button__border-color--lined-colored-default, $button__color--lined-colored-default);
}

@mixin button--lined-colored-hover() {
  @include button--lined-colored($button__border-color--lined-colored-hover, $button__color--lined-colored-hover);
}

@mixin button--lined-colored-pressed() {
  @include button--lined-colored($button__border-color--lined-colored-pressed, $button__color--lined-colored-pressed);
}

/**
** BG Lined Gray
 */
@mixin button--lined-gray($border-color: $button__border-color--lined-gray-default, $color: $button__color--lined-gray-default) {
  border: 1px solid $border-color;
  color: $color;
}

@mixin button--lined-gray-default() {
  @include button--lined-gray($button__border-color--lined-gray-default, $button__color--lined-gray-default);
}

@mixin button--lined-light() {
  @include button--lined-gray($white, $white);
}

@mixin button--lined-gray-hover() {
  @include button--lined-gray($button__border-color--lined-gray-hover, $button__color--lined-gray-hover);
}

@mixin button--lined-gray-pressed() {
  @include button--lined-gray($button__border-color--lined-gray-pressed, $button__color--lined-gray-pressed);
}

/**
** BG Plain Colored
 */
@mixin button--plain-colored($color: $button__color--plain-colored-default) {
  color: $color;
  padding-left: 0;
  padding-right: 0;
}

@mixin button--plain-colored-default() {
  @include button--plain-colored($button__color--plain-colored-default);
}

@mixin button--plain-colored-hover() {
  @include button--plain-colored($button__color--plain-colored-hover);
}

@mixin button--plain-colored-pressed() {
  @include button--plain-colored($button__color--plain-colored-pressed);
}

/**
** BG Plain Gray
 */
@mixin button--plain-gray($color: $button__color--plain-gray-default) {
  color: $color;
  padding-left: 0;
  padding-right: 0;
}

@mixin button--plain-gray-default() {
  @include button--plain-gray($button__color--plain-gray-default);
}

@mixin button--plain-gray-hover() {
  @include button--plain-gray($button__color--plain-gray-hover);
}

@mixin button--plain-gray-pressed() {
  @include button--plain-gray($button__color--plain-gray-pressed);
}


/** InStyle relaunch stuff **/
@mixin button--dark() {
  background-color: $color-button-1;
  color: $color-white;
  border-color: $color-button-1;
}
@mixin button--white() {
  background-color: $color-button-2;
  color: $color-dark-1;
  border-color: $color-button-1;
}
@mixin button--gray() {
  background-color: $color-button-3;
  color: $color-dark-1;
  border-color: $color-gray-3;
}
@mixin button--hover() {
  background-color: $color-button-hover;
  color: $color-white;
  border-color: $color-button-hover;
}
@mixin button--disabled() {
  background-color: $color-button-disabled;
  color: $color-gray-3;
  border-color:  $color-button-disabled;
  border: none;
  pointer-events: none;
}

@mixin button--icon-style($iconfont) {
  font-family: $font-icons;
  font-weight: normal;
  letter-spacing: normal;
  content: $iconfont;
  font-size: 16px;
  line-height: initial;
  position: relative;
}

@mixin button--icon($iconfont:'', $iconposition:'left') {
  @if $iconfont == '' {
    @error 'You have to define an icon-font code e.g. e911 for the shopping bag';
  } @else {
    @if $iconposition == 'left' {
      &:before {
        @include button--icon-style($iconfont);
        margin-right: $grid-unit-1;
        top: 2px;
      }
    }
    @if $iconposition == 'right' {
      &:after {
        @include button--icon-style($iconfont);
        margin-left: $grid-unit-1;
        top: 1px;
      }
    }
  }
}
