@mixin item-author() {
  @include clearfix();
  color: $author__label-color;
  display: inline-block;
  min-width: 235px;

  &[data-internal-url] {
    cursor: pointer;
  }

  &:hover {
    .img-container {
      @include opacity($teaser-hover-opacity);
    }

    .text-author span {
      color: $author__label-hover-color;
    }
  }

  .caption {
    @include text-helper($author__label-font-id, $author__label-size);
    letter-spacing: $author__label-letter-spacing;
  }

  .text-author {
    margin: $author__label-author-margin;
    line-height: 1;
    white-space: nowrap;

    span {
      display: inline-block;
    }
  }

  .container-avatar {
    width: $author__profile-image-size--teaser-default;
    height: $author__profile-image-size--teaser-default;
    float: left;
    margin: $author__profile-image-margin--teaser-default;

    img {
      border-radius: $author__profile-image-radius--teaser-default;
      -webkit-border-radius: $author__profile-image-radius--teaser-default;
      -moz-border-radius: $author__profile-image-radius--teaser-default;
    }
  }
}

@mixin item-author--vita-short() {
  text-align: $author-text-align--vita-short;

  .item-date--vita-short {
    display: block;
  }

  .item-author__profile-image {
    a {
      max-width: 50%;
    }

    img {
      padding: 2px;
      max-width: 100%;
      height: auto;
      border: $author__profile-image-border--vita-short;
      border-radius: $author__profile-image-radius--vita-short;
      -webkit-border-radius: $author__profile-image-radius--vita-short;
      -moz-border-radius: $author__profile-image-radius--vita-short;
    }
  }

  .item-author__name {
    @include text-helper($author__name-font-id--vita-short);
    color: $author__name-color--vita-short;
  }

  .item-author__email, .item-author__job {
    @include text-helper($author__email-font-id--vita-short);
    color: $author__email-color--vita-short;
  }

  .item-author__short-info {
    @include text-helper($author__short-info-font-id--vita-short);
    color: $author__short-info-color--vita-short;
  }

  @media (max-width: $screen-xs-max) {
    padding-top: $author-padding-top-bottom-mobile--vita-short;
    padding-bottom: $author-padding-top-bottom-mobile--vita-short;

    .item-author__name {
      @include text-helper-size($author__name-font-id--vita-short, $author__name-size-mobile--vita-short);
      margin: $author__name-margin-mobile--vita-short;
    }

    .item-author__email, .item-author__job {
      @include text-helper-size($author__email-font-id--vita-short, $author__email-size-mobile--vita-short);
      margin: $author__email-margin-mobile--vita-short;
    }

    .item-author__short-info {
      @include text-helper-size($author__short-info-font-id--vita-short, $author__short-info-size-mobile--vita-short);
      margin: $author__short-info-margin-mobile--vita-short;
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    padding-top: $author-padding-top-bottom-tablet--vita-short;
    padding-bottom: $author-padding-top-bottom-tablet--vita-short;

    .item-author__name {
      @include text-helper-size($author__name-font-id--vita-short, $author__name-size-tablet--vita-short);
      margin: $author__name-margin-tablet--vita-short;
    }

    .item-author__email, .item-author__job {
      @include text-helper-size($author__email-font-id--vita-short, $author__email-size-tablet--vita-short);
      margin: $author__email-margin-tablet--vita-short;
    }

    .item-author__short-info {
      @include text-helper-size($author__short-info-font-id--vita-short, $author__short-info-size-tablet--vita-short);
      margin: $author__short-info-margin-tablet--vita-short;
    }
  }

  @media (min-width: $screen-md-min) {
    padding-top: $author-padding-top-bottom-desktop--vita-short;
    padding-bottom: $author-padding-top-bottom-desktop--vita-short;

    .item-author__name {
      @include text-helper-size($author__name-font-id--vita-short, $author__name-size-desktop--vita-short);
      margin: $author__name-margin-desktop--vita-short;
    }

    .item-author__email, .item-author__job {
      @include text-helper-size($author__email-font-id--vita-short, $author__email-size-desktop--vita-short);
      margin: $author__email-margin-desktop--vita-short;
    }

    .item-author__short-info {
      @include text-helper-size($author__short-info-font-id--vita-short, $author__short-info-size-desktop--vita-short);
      margin: $author__short-info-margin-desktop--vita-short;
    }
  }
}

@mixin item-author--teaser-large() {
  @extend %clearfix;
  @include item-author__gap--teaser-large();

  .item-author__profile-image {
    img {
      padding: 2px;
      max-width: 100%;
      height: auto;
      border: $author__profile-image-border--teaser-large;
      border-radius: $author__profile-image-radius--teaser-large;
      -webkit-border-radius: $author__profile-image-radius--teaser-large;
      -moz-border-radius: $author__profile-image-radius--teaser-large;
    }
  }

  .item-author__name {
    @include text-helper($author__name-font-id--teaser-large);
    color: $author__name-color--teaser-large;
  }

  .item-author__job {
    @include text-helper($author__job-font-id--teaser-large);
    color: $author__job-color--teaser-large;
    text-transform: $author__job-text-transform--teaser-large;
    letter-spacing: $author__job-letter-spacing--teaser-large;
  }

  @media (max-width: $screen-xs-max) {
    text-align: $author-text-align-mobile--teaser-large;

    .item-author__profile-image img {
      max-width: 50%;
    }

    .item-author__caption {
      text-align: $author__caption-text-align-mobile--teaser-large;
    }

    .item-author__name {
      @include text-helper-size($author__name-font-id--teaser-large, $author__name-size-mobile--teaser-large);
      margin: $author__name-margin-mobile--teaser-large;
    }

    .item-author__job {
      @include text-helper-size($author__job-font-id--teaser-large, $author__job-size-mobile--teaser-large);
      margin: $author__job-margin-mobile--teaser-large;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .item-author__profile-image {
      margin: $author__profile-image-margin-mobile--teaser-large;
    }

    .item-author__name {
      @include text-helper-size($author__name-font-id--teaser-large, $author__name-size-tablet--teaser-large);
      margin: $author__name-margin-tablet--teaser-large;
    }

    .item-author__job {
      @include text-helper-size($author__job-font-id--teaser-large, $author__job-size-tablet--teaser-large);
      margin: $author__job-margin-tablet--teaser-large;
    }
  }

  @media (min-width: $screen-sm-min) {
    @include flexbox();
    @include align-items(center);
    @include justify-content($author-justify-desktop--teaser-large);
    max-width: $author-max-width-desktop--teaser-large;

    .item-author__profile-image {
      display: inline-block;
      min-width: $author__profile-image-width-desktop--teaser-large;
      max-width: $author__profile-image-width-desktop--teaser-large;
      margin: $author__profile-image-margin-tablet--teaser-large;
    }

    .item-author__caption {
      text-align: $author__caption-text-align-desktop--teaser-large;
    }
  }

  @media (min-width: $screen-md-min) {
    .item-author__profile-image {
      margin: $author__profile-image-margin-desktop--teaser-large;
    }

    .item-author__name {
      @include text-helper-size($author__name-font-id--teaser-large, $author__name-size-desktop--teaser-large);
      margin: $author__name-margin-desktop--teaser-large;
    }

    .item-author__job {
      @include text-helper-size($author__job-font-id--teaser-large, $author__job-size-desktop--teaser-large);
      margin: $author__job-margin-desktop--teaser-large;
    }
  }
}

@mixin item-author__gap--teaser-large() {
  border-top: $h-line-style;

  &:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
  }

  @media (max-width: $screen-xs-max) {
    padding-top: $gap-size-sm;
    margin-top: $gap-size-sm;
  }

  @media (min-width: $screen-sm-min) {
    padding-top: $gap-size-sm / 2;
    margin-top: $gap-size-sm / 2;
  }
}

@mixin item-author--teaser-small() {
  @include make-sm-column($grid-columns/2);
  @include item-author__gap--teaser-small();
  text-align: $author-text-align--teaser-small;

  .item-author__profile-image {
    a {
      display: inline-block;
    }

    img {
      padding: 2px;
      max-width: 100%;
      height: auto;
      border: $author__profile-image-border--teaser-small;
      border-radius: $author__profile-image-radius--teaser-small;
      -webkit-border-radius: $author__profile-image-radius--teaser-small;
      -moz-border-radius: $author__profile-image-radius--teaser-small;
    }
  }

  .item-author__name {
    @include text-helper($author__name-font-id--teaser-small);
    color: $author__name-color--teaser-small;
  }

  .item-author__job {
    @include text-helper($author__job-font-id--teaser-small);
    color: $author__job-color--teaser-small;
    text-transform: $author__job-text-transform--teaser-small;
    letter-spacing: $author__job-letter-spacing--teaser-small;
  }

  @media (max-width: $screen-xs-max) {
    .item-author__profile-image {
      a {
        max-width: 50%;
      }
    }

    .item-author__name {
      @include text-helper-size($author__name-font-id--teaser-small, $author__name-size-mobile--teaser-small);
      margin: $author__name-margin-mobile--teaser-small;
    }

    .item-author__job {
      @include text-helper-size($author__job-font-id--teaser-small, $author__job-size-mobile--teaser-small);
      margin: $author__job-margin-mobile--teaser-small;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .item-author__profile-image {
      margin: $author__profile-image-margin-mobile--teaser-small;
    }

    .item-author__name {
      @include text-helper-size($author__name-font-id--teaser-small, $author__name-size-tablet--teaser-small);
      margin: $author__name-margin-tablet--teaser-small;
    }

    .item-author__job {
      @include text-helper-size($author__job-font-id--teaser-small, $author__job-size-tablet--teaser-small);
      margin: $author__job-margin-tablet--teaser-small;
    }
  }

  @media (min-width: $screen-sm-min) {

    .item-author__profile-image {
      display: inline-block;
      margin: $author__profile-image-margin-tablet--teaser-small;

      a {
        max-width: 75%;
      }
    }
  }

  @media (min-width: $screen-md-min) {
    .item-author__profile-image {
      margin: $author__profile-image-margin-desktop--teaser-small;
    }

    .item-author__name {
      @include text-helper-size($author__name-font-id--teaser-small, $author__name-size-desktop--teaser-small);
      margin: $author__name-margin-desktop--teaser-small;
    }

    .item-author__job {
      @include text-helper-size($author__job-font-id--teaser-small, $author__job-size-desktop--teaser-small);
      margin: $author__job-margin-desktop--teaser-small;
    }
  }
}

@mixin item-author__gap--teaser-small() {
  @media (max-width: $screen-xs-max) {
    border-top: $h-line-style;
    padding-top: $gap-size-sm;
    margin-top: $gap-size-sm;
  }
}

@mixin item-author--teaser-small-detail() {
  @include make-sm-column($grid-columns/2);
  @include item-author__gap--teaser-small-detail();
  text-align: $author-text-align--teaser-small-detail;

  .item-author__profile-image {
    a {
      display: inline-block;
    }

    img {
      padding: 2px;
      max-width: 100%;
      height: auto;
      border: $author__profile-image-border--teaser-small-detail;
      border-radius: $author__profile-image-radius--teaser-small-detail;
      -webkit-border-radius: $author__profile-image-radius--teaser-small-detail;
      -moz-border-radius: $author__profile-image-radius--teaser-small-detail;
    }
  }

  .item-author__name {
    @include text-helper($author__name-font-id--teaser-small-detail);
    color: $author__name-color--teaser-small-detail;
  }

  .item-author__job {
    @include text-helper($author__job-font-id--teaser-small-detail);
    color: $author__job-color--teaser-small-detail;
    text-transform: $author__job-text-transform--teaser-small-detail;
    letter-spacing: $author__job-letter-spacing--teaser-small-detail;
  }

  @media (max-width: $screen-xs-max) {
    .item-author__profile-image {
      a {
        max-width: 50%;
      }
    }

    .item-author__name {
      @include text-helper-size($author__name-font-id--teaser-small-detail, $author__name-size-mobile--teaser-small-detail);
      margin: $author__name-margin-mobile--teaser-small-detail;
    }

    .item-author__job {
      @include text-helper-size($author__job-font-id--teaser-small-detail, $author__job-size-mobile--teaser-small-detail);
      margin: $author__job-margin-mobile--teaser-small-detail;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .item-author__profile-image {
      margin: $author__profile-image-margin-mobile--teaser-small-detail;
    }

    .item-author__name {
      @include text-helper-size($author__name-font-id--teaser-small-detail, $author__name-size-tablet--teaser-small-detail);
      margin: $author__name-margin-tablet--teaser-small-detail;
    }

    .item-author__job {
      @include text-helper-size($author__job-font-id--teaser-small-detail, $author__job-size-tablet--teaser-small-detail);
      margin: $author__job-margin-tablet--teaser-small-detail;
    }
  }

  @media (min-width: $screen-sm-min) {

    .item-author__profile-image {
      display: inline-block;
      margin: $author__profile-image-margin-tablet--teaser-small-detail;

      a {
        max-width: 75%;
      }
    }
  }

  @media (min-width: $screen-md-min) {
    .item-author__profile-image {
      margin: $author__profile-image-margin-desktop--teaser-small-detail;
    }

    .item-author__name {
      @include text-helper-size($author__name-font-id--teaser-small-detail, $author__name-size-desktop--teaser-small-detail);
      margin: $author__name-margin-desktop--teaser-small-detail;
    }

    .item-author__job {
      @include text-helper-size($author__job-font-id--teaser-small-detail, $author__job-size-desktop--teaser-small-detail);
      margin: $author__job-margin-desktop--teaser-small-detail;
    }
  }

  .item-author__short-info {
    @include text-helper($author__short-info-font-id--teaser-small-detail);
    color: $author__short-info-color--teaser-small-detail;
    text-transform: $author__short-info-text-transform--teaser-small-detail;
    letter-spacing: $author__short-info-letter-spacing--teaser-small-detail;
  }

  @media (max-width: $screen-xs-max) {
    .item-author__short-info {
      @include text-helper-size($author__short-info-font-id--teaser-small-detail, $author__short-info-size-mobile--teaser-small-detail);
      margin: $author__short-info-margin-mobile--teaser-small-detail;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .item-author__short-info {
      @include text-helper-size($author__short-info-font-id--teaser-small-detail, $author__short-info-size-tablet--teaser-small-detail);
      margin: $author__short-info-margin-tablet--teaser-small-detail;
    }
  }

  @media (min-width: $screen-md-min) {
    .item-author__short-info {
      @include text-helper-size($author__short-info-font-id--teaser-small-detail, $author__short-info-size-desktop--teaser-small-detail);
      margin: $author__short-info-margin-desktop--teaser-small-detail;
    }
  }
}

@mixin item-author__gap--teaser-small-detail() {
  @include item-author__gap--teaser-small();
}

@mixin item-author__row() {
  @media (max-width: $screen-xs-max) {
    &:first-child > .item-author:first-child {
      padding-top: 0;
      margin-top: 0;
      border-top: 0;
    }
  }

  @media (min-width: $screen-sm-min) {
    @include make-row();
    @include margin--v-sm();
    @include padding--v-sm();
    border-top: $h-line-style;

    &:first-child {
      padding-top: 0;
      margin-top: 0;
      border-top: 0;
    }
  }
}