@mixin btn($bg-color: $color-highlighted, $color: $white) {
  @include transition-property(color, background-color, border-color);
  @include transition-duration(.35s);
  @include transition-timing-function(ease);
  @include text-headline();
  @include text-headline-size($title-size-xxxs);

  outline: none;
  background-color: $bg-color;
  border-radius: 0;
  text-transform: uppercase;
  color: $color;
  border: 1px solid transparent;
  vertical-align: middle;

  &:hover {
    color: $color;
    background-color: $color-hover;
    border: 1px solid $color-hover;
  }

  &:focus {
    outline: 0 !important;
  }
}

@mixin btn--small($sizes: ($btn__label-size-mobile--small, $btn__label-size-desktop--small, $btn__label-size-desktop--small), $font: $btn--small-font-id) {
  $size-mobile: nth($sizes, 1);
  $size-tablet: nth($sizes, 2);
  $size-desktop: nth($sizes, 3);

  @include text-helper($font);
  @include transition-property(color, background-color, border-color);
  @include transition-duration($transition-duration);
  @include transition-timing-function($transition-easing);
  background-color: $btn--small-bg-color;
  color: $btn--small-color;
  border: $btn--small-border;
  border-radius: $btn--small-radius;
  letter-spacing: $btn--small-letter-spacing;
  display: inline-block;
  text-transform: $btn--small-text-transform;
  cursor: pointer;

  &:hover {
    @extend %btn--small--highlighted;
  }

  @media (max-width: $screen-xs-max) {
    @include text-helper-size($font, $size-mobile);
    padding: $btn--small-padding-mobile;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($font, $size-tablet);
    padding: $btn--small-padding-tablet;
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($font, $size-desktop);
    padding: $btn--small-padding-desktop;
  }
}

@mixin btn--small--highlighted() {
  background-color: $btn--small-highlighted-bg-color;
  color: $btn--small-highlighted-color;
  border: $btn--small-highlighted-border;
}

@mixin btn--large($sizes: ($btn__label-size-mobile--large, $btn__label-size-desktop--large, $btn__label-size-desktop--large), $font: $btn--large-font-id) {
  $size-mobile: nth($sizes, 1);
  $size-tablet: nth($sizes, 2);
  $size-desktop: nth($sizes, 3);

  @include text-helper($font);
  @include transition-default();
  background-color: $btn--large-bg-color;
  color: $btn--large-color;
  border: $btn--large-border;
  border-radius: $btn--large-radius;
  letter-spacing: $btn--large-letter-spacing;
  display: inline-block;
  text-transform: $btn--large-text-transform;
  cursor: pointer;

  &:hover {
    @extend %btn--large--highlighted;
  }

  @media (max-width: $screen-xs-max) {
    @include text-helper-size($font, $size-mobile);
    padding: $btn--large-padding-mobile;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($font, $size-tablet);
    padding: $btn--large-padding-tablet;
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($font, $size-desktop);
    padding: $btn--large-padding-desktop;
  }
}

@mixin btn--large--highlighted() {
  background-color: $btn--large-highlighted-bg-color;
  color: $btn--large-highlighted-color;
  border: $btn--large-highlighted-border;
}

@mixin btn__open-tree--mobile() {
  @include icon();
  @include icon-arrow-down-small();
  display: block;

  &:before {
    position: absolute;
    right: $container-h-gap--mobile;
    color: $text-color;
  }

  &.is-active {
    @include icon-arrow-up-small();
  }
}