@mixin region--fixed-content {
  @include center-block();
  max-width: $content-max-width;
}

@mixin region--full-content() {
  @include gap__container--h-negative();
  @include gap__container--h-padding();
}

@mixin region__children--full-content {
  &:first-child.region-marketing {
    &.ad-active {
      //@include margin--v-region((-$gap-v-region-mobile, -$gap-v-region-tablet, -$gap-v-region-desktop));
    }

    &.ad-inactive + .region-full-content {
      @extend %gap__container--v-reset;
    }
  }

  & > .item-content__header:first-child {
    padding-top: 0;
  }
}

@mixin region-infinite-block() {
  padding-bottom: $rib-gap-bottom-mobile;

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    padding-bottom: $rib-gap-bottom-tablet;
  }

  @media (min-width: $screen-md-min) {
    padding-bottom: $rib-gap-bottom-desktop;
  }
}