@mixin region--fixed-content {
  @include center-block();
  max-width: $content-max-width;
}

@mixin region--full-content() {
  @include gap__container--h-negative();
  @include gap__container--h-padding();
}

@mixin region__children--full-content {
  &:first-child.region-marketing {
    &.ad-active {
      //@include margin--v-region((-$gap-v-region-mobile, -$gap-v-region-tablet, -$gap-v-region-desktop));
    }

    &.ad-inactive + .region-full-content {
      @extend %gap__container--v-reset;
    }
  }

  & > .item-content__header:first-child {
    padding-top: 0;
  }
}

@mixin region__teasers--horizontal() {
  @extend %container--v-sm-padding;
  @include container--v-padding(bottom, ($container-padding-sm-top-mobile, $container-padding-sm-top-tablet, $container-padding-sm-top-desktop));
}

@mixin region-lazy-loading() {
  & > .region-marketing:first-child {
    &.ad-active {
      @include margin--v-region((-$gap-v-region-mobile, -$gap-v-region-tablet, -$gap-v-region-desktop));
    }
  }
}

@mixin region-content() {
  & > .region-full-content:not(.no-v-padding):first-child {
    @extend %container--v-padding;

    .no-v-padding:first-child {
      @include margin--v-region((-$gap-v-region-mobile, -$gap-v-region-tablet, -$gap-v-region-desktop));
    }
  }

  .region-full-content + .region-full-content:not(.item-content--article) {
    @extend %gap--v-region;
    @if ($region-v-lined) {
      border-top: $h-line-style;
    }
  }
}
