@mixin make-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
  float: left;
  width: percentage(($columns / $grid-columns));
}

@mixin page-wrapper__region-presenter() {
  padding-top: 0;

  .teaser-content-right, .teaser--content-right {
    @extend %container--v-padding;
  }
}