@mixin item-media__description() {
  @include text-helper($media__description-font);
  margin: $media__description-margin;
  color: $media__description-color;

  p {
    line-height: inherit;
    font-size: inherit;
  }

  @media (max-width: $screen-xs-max) {
    @include text-helper-size($media__description-font, $media__description-size-mobile);
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($media__description-font, $media__description-size-tablet);
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($media__description-font, $media__description-size-desktop);
  }
}

@mixin item-media--image() {
  .img-container {
    text-align: center;
    position: relative;
  }

  &.item-media--image-landscape {
    img {
      width: 100%;
      height: auto;
    }
  }

  &.item-media--image-portrait {
    img {
      max-height: 100%;
      max-width: 70%;
    }
  }
}

@mixin item-media--gallery() {
  @include transition(all $transition-duration $transition-easing);
  @include item-media--gallery-text();
  position: relative;

  .gallery-wrapper {
    overflow: hidden;
    width: 100%;
  }

  .gallery-header {
    position: relative;
    margin-bottom: $grid-gutter-width;
  }

  .gallery-navigation {
    position: absolute;
    right: 0;
    top: 0;

    span {
      font-size: $icon-size-large;
      cursor: pointer;

      &:first-child {
        margin-right: $grid-gutter-width;
      }
    }
  }

  .img-container {
    height: 0;
    padding-bottom: 75%; //default - overrides in paragraphs layoutswitcher

    & > * {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  picture {
    @extend %flexbox;
    @extend %justify-content-center;
    @extend %align-items-center;
  }

  .item-media--image-landscape {
    img {
      width: 100%;
      height: auto;
    }
  }

  .item-media--image-portrait {
    img {
      width: auto;
      height: 100%;
    }
  }

  .text-description {
    min-height: (floor($font-size-large * $line-height-text-tiny)*2) + 5px;
  }
}

/**
** Media Header
**/

@mixin item-media--header() {
  @include item-media--header-text();
  @include gap__container--h-negative();

  overflow: hidden;
  position: relative;

  .media-header-image {
    position: static;
  }

  img {
    @extend %img-full-responsive;
    //@include animation(fadeIn $transition-duration $transition-easing $transition-duration both);
  }

  .caption {
    @extend %flexbox;
    @extend %align-items-center;
    @extend %justify-content-center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .text-headline {
    text-align: center;
    width: 100%;
  }
}

@mixin item-media--file() {
  @include item-media--file-text();
  position: relative;
  min-height: $media__min-height--file;

  .item-media__title--file {
    margin: $media__title-margin--file;
    display: inline-block;
  }

  .item-media__description--file {
    margin: $media__description-margin--file;
  }


  @media (max-width: $screen-xs-max) {
    .item-media__btn-download--file {
      margin: $media__btn-download-margin-mobile--file;
    }
  }

  @media (min-width: $screen-sm-min)  {
    padding-right: 50%;

    .item-media__btn-download--file {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 50%;
    }
  }
}

@mixin item-media--header-image() {
  @include item-media--header-ratio();
  position: relative;
  height: 0;
  overflow: hidden;

  .img-container {
    img {
      @extend %img-full-responsive;
    }
  }
}

@mixin item-media--header-ratio() {
  @media (max-width: $screen-xxs-max) {
    padding-bottom: $media__header-ratio-xs;
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    padding-bottom: $media__header-ratio-sm;
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    padding-bottom: $media__header-ratio-md;
  }

  @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
    padding-bottom: $media__header-ratio-lg;
  }

  @media (min-width: $screen-xl-min) {
    padding-bottom: $media__header-ratio-xl;
  }
}