@mixin title--horizontal-block() {
  @include text-helper($title--horizontal-block-font);
  text-align: center;
  text-transform: $title--horizontal-block-text-transform;
  letter-spacing: $title--horizontal-block-letter-spacing;
  color: $title--horizontal-block-color;
  padding-top: 6px; //umlaute fix

  .item-title {
    text-align: center;
  }

  @media (max-width: $screen-xs-max) {
    @include text-helper-size($title--horizontal-block-font, $title--horizontal-block-mobile);
    margin-bottom: $title--horizontal-block-gap-bottom-mobile;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($title--horizontal-block-font, $title--horizontal-block-tablet);
    margin-bottom: $title--horizontal-block-gap-bottom-tablet;
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($title--horizontal-block-font, $title--horizontal-block-desktop);
    margin-bottom: $title--horizontal-block-gap-bottom-desktop;
  }
}

@mixin title--article() {
  @include text-helper($title--article-font);
  max-width: $title--article-max-width;
  color: $title--article-color;

  @media (max-width: $screen-xs-max) {
    @include text-helper-size($title--article-font, $title--article-mobile);
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($title--article-font, $title--article-tablet);
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($title--article-font, $title--article-desktop);
  }
}

@mixin title--page-center() {
  text-align: center;
  color: $title--page-center-color;
  letter-spacing: -1px;

  @media (max-width: $screen-xs-max) {
    @include text-headline-size($title--page-center-mobile);
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include text-headline-size($title--page-center-tablet);
  }

  @media (min-width: $screen-md-min) {
    @include text-headline-size($title--page-center-desktop);
  }
}

@mixin title--text-block() {
  @include text-helper($title--text-block-font);
  margin: $title-margin--text-block;
  color: $title--text-block-color;

  @media (max-width: $screen-xs-max) {
    @include text-helper-size($title--text-block-font, $title--text-block-mobile);
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($title--text-block-font, $title--text-block-tablet);
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($title--text-block-font, $title--text-block-desktop);
  }

  &:first-child {
    margin-top: 0;
  }

  & + p, & + table {
    margin: $title__p-margin--text-block;
  }

  & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin: $title__headline-margin--text-block;
  }
}

@mixin title--content-block($sizes: ($title--content-block-mobile, $title--content-block-tablet, $title--content-block-desktop), $font: $title--content-block-font, $color: $title--content-block-color) {
  $size-mobile: nth($sizes, 1);
  $size-tablet: nth($sizes, 2);
  $size-desktop: nth($sizes, 3);

  @include text-helper($font);
  color: $color;

  .item-title {
    text-align: left;
  }

  @media (max-width: $screen-xs-max) {
    @include text-helper-size($font, $size-mobile);
    margin-bottom: $title--content-block-gap-bottom-mobile;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($font, $size-tablet);
    margin-bottom: $title--content-block-gap-bottom-tablet;
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($font, $size-desktop);
    margin-bottom: $title--content-block-gap-bottom-desktop;
  }
}