@mixin label--category($sizes: ($label--category-size--mobile, $label--category-size--tablet, $label--category-size--desktop)) {
  $size-mobile: nth($sizes, 1);
  $size-tablet: nth($sizes, 2);
  $size-desktop: nth($sizes, 3);

  @include text-helper($label--category-font-id);
  text-transform: uppercase;
  color: $label--category-color;

  @media (max-width: $screen-xxs-max) {
    @include text-helper-size($label--category-font-id, $size-mobile);
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($label--category-font-id, $size-tablet);
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($label--category-font-id, $size-desktop);
  }
}

@mixin label--marketing($size: $label--marketing-size-default, $font: $label--marketing-font-id, $color: $label--marketing-color) {
  @include text-helper($font, $size);
  color: $color;
}

@mixin label--affiliate() {
  @include text-helper($label--affiliate-font-id, $label--affiliate-size--desktop);
  color: $label--affiliate-color;
  text-transform: $label--advertorial-text-transform;
  text-align: right;
  line-height: 1.4;
  letter-spacing: 0.7px;
  color: #aaa;
  margin: 8px 0;

  @media (max-width: $screen-xxs-max) {
    @include text-helper-size($label--affiliate-font-id, $label--affiliate-size--mobile);
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($label--affiliate-font-id, $label--affiliate-size--tablet);
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($label--affiliate-font-id, $label--affiliate-size--desktop);
  }
}

@mixin label--copyright($sizes: ($label--copyright-size--mobile, $label--copyright-size--tablet, $label--copyright-size--desktop), $font: $label--copyright-font-id, $color: $label--copyright-color) {
  $size-mobile: nth($sizes, 1);
  $size-tablet: nth($sizes, 2);
  $size-desktop: nth($sizes, 3);

  @extend %icon-copyright;
  @include text-helper($font);
  color: $color;
  text-transform: $label--copyright-text-transform;
  @extend %label--copyright--suffix !optional;

  span + span {
    &:before {
      content: ",";
      margin-left: -4px;
      margin-right: 3px;
    }
  }

  @media (max-width: $screen-xxs-max) {
    @include text-helper-size($label--copyright-font-id, $size-mobile);
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($label--copyright-font-id, $size-tablet);
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($label--copyright-font-id, $size-desktop);
  }
}

@mixin label--copyright--suffix() {

}
