@mixin teaser-default() {
  @include teaser__text--default();

  @if ($teaser__use-multi-links--default == false) {
    &:hover {
      .teaser__img-container {
        @include opacity($teaser-hover-opacity);
      }
    }
  }

  .teaser__img-container {
    @include transition-default(opacity, $transition-duration, $transition-easing);
    @include opacity(1);
    overflow: hidden;
    cursor: pointer;

    @if ($teaser__use-multi-links--default == true) {
      &:hover {
        @include opacity($teaser-hover-opacity);
      }

      &:hover + .caption, &:hover + .teaser__caption {
        .teaser__title {
          color: $text-highlighted;
        }
      }
    }

    img {
      @include img-full-responsive(inline-block);
    }
  }

  .teaser__title {
    display: block;
    max-width: 100%;
  }

  .teaser__copy {
    margin-top: 20px;
    color: $teaser__copy-color--default;
    letter-spacing: $teaser__copy-letter-spacing--default;
  }

  .teaser__overhead {
    @include transition-default();  
    display: inline-block;

    &:hover {
      color: $text-highlighted;
    }
  }

  @media (max-width: $screen-xxs-max) {
    .author {
      margin-top: $teaser__author--default-gap-top-mobile;
    }

    .socials-bar {
      margin-top: $teaser__socials--default-gap-top-mobile;
    }

    .teaser__overhead {
      margin-bottom: $teaser__category--default-gap-bottom-mobile;
    }

    .teaser__overhead {
      margin-bottom: $teaser__overhead-gap-bottom-tablet--default;
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .author {
      margin-top: $teaser__author--default-gap-top-tablet;
    }

    .socials-bar {
      margin-top: $teaser__socials--default-gap-top-tablet;
    }

    .teaser__overhead {
      margin-bottom: $teaser__overhead-gap-bottom-tablet--default;
    }
  }

  @media (min-width: $screen-md-min) {
    .author {
      margin-top: $teaser__author--default-gap-top-desktop;
    }

    .socials-bar {
      margin-top: $teaser__socials--default-gap-top-desktop;
    }

    .teaser__overhead {
      margin-bottom: $teaser__overhead-gap-bottom-desktop--default;
    }
  }
}

@mixin teaser-list__gap--horoscope-middle() {
  border-top: $h-line-style;

  &:first-child {
    margin-top: 0;
  }

  @media (max-width: $screen-xxs-max) {
    padding-top: $teaser-list__gap-mobile--teaser-horoscope-middle;
    margin-top: $teaser-list__gap-mobile--teaser-horoscope-middle;
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    padding-top: $teaser-list__gap-tablet--teaser-horoscope-middle;
    margin-top: $teaser-list__gap-tablet--teaser-horoscope-middle;
  }

  @media (min-width: $screen-md-min) {
    padding-top: $teaser-list__gap-desktop--teaser-horoscope-middle;
    margin-top: $teaser-list__gap-desktop--teaser-horoscope-middle;
  }
}

@mixin teaser-list__gap--horoscope-50() {
  border-top: $h-line-style;

  @media (max-width: $screen-xxs-max) {
    padding-top: $teaser-list__gap-mobile--teaser-horoscope-middle;
    margin-top: $teaser-list__gap-mobile--teaser-horoscope-middle;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: 0;
    }
  }

  @media (min-width: $screen-xs-min) {
    &:first-child, &:nth-child(2) {
      margin-top: 0;
      padding-top: 0;
      border-top: 0;
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    padding-top: $teaser-list__gap-tablet--teaser-horoscope-middle;
    margin-top: $teaser-list__gap-tablet--teaser-horoscope-middle;
  }

  @media (min-width: $screen-md-min) {
    padding-top: $teaser-list__gap-desktop--teaser-horoscope-middle;
    margin-top: $teaser-list__gap-desktop--teaser-horoscope-middle;
  }
}

@mixin teaser-feed-large-gap() {
  border-top: $feed-teaser-h-line;

  &:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
  }

  @media (max-width: $screen-xxs-max) {
    padding-top: $feed-teaser-gap-top-mobile;
    margin-top: $feed-teaser-gap-top-mobile;
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    padding-top: $feed-teaser-gap-top-tablet;
    margin-top: $feed-teaser-gap-top-tablet;
  }

  @media (min-width: $screen-md-min) {
    padding-top: $feed-teaser-gap-top-desktop;
    margin-top: $feed-teaser-gap-top-desktop;
  }
}

@mixin teaser-feed-large() {
  .teaser {
    @extend %teaser-feed-large-gap;
    @include teaser-feed-large-text();
  }

  .teaser-square-medium, .teaser-portrait-medium {
    @include teaser-feed-large-text(($feed-teaser-headline-middle-size-mobile, $feed-teaser-headline-middle-size-tablet, $feed-teaser-headline-middle-size-desktop));
  }
}

@mixin teaser-list--horoscope-middle() {
  .teaser {
    @extend %teaser-list__gap--horoscope-middle;
    @include teaser-list__text--horoscope-middle();
  }
}

@mixin teaser-list--horoscope-50() {
  @include make-row();

  .teaser {
    @extend %teaser-list__gap--horoscope-50;
    @include teaser-list__text--horoscope-50();
    @include make-sm-column($grid-columns/2);
  }
}

@mixin teaser-square-xs() {
  @include make-row();
  @include teaser-square-xs-text();

  & > .teaser__img-container {
    @include make-xxs-column(6);
  }

  & > .caption-teaser, .teaser__caption {
    @include make-xxs-column(18);
  }
}

@mixin teaser-square-medium() {
  & > .teaser__img-container,
  .caption-teaser, .teaser__caption {
    @include make-xs-column($grid-columns/2);
  }
}

@mixin teaser--horoscope-square() {
  position: relative;

  @media (max-width: $screen-xs-max) {

    .teaser__img-container {
      img {
        max-width: 40%;
      }
    }

    .teaser__caption {
      position: static;
    }

    .teaser__caption-pos-content {
      position: absolute;
      width: 60%;
      right: 0px;
      top: 0px;
      padding: 20px;
    }
  }

  @media (min-width: $screen-sm-min) {
    .teaser__caption {
      padding-top: $gap-size-sm;
    }

    .teaser__img-container {
      img {
        max-width: 85%;
      }
    }
  }
}

@mixin teaser--horoscope-square-medium() {
  @extend %teaser--content-right;
  position: relative;

  & > .teaser__img-container {
    @include make-sm-column(10);
  }

  .teaser__caption {
    @include make-sm-column(14);
  }

  @media (max-width: $screen-xs-max) {
    .teaser__img-container {
      img {
        max-width: 40%;
      }
    }

    .teaser__caption {
      position: static;
    }

    .teaser__caption-pos-content {
      position: absolute;
      width: 60%;
      right: 0px;
      top: 0px;
      padding: 20px;
    }
  }

  @media (min-width: $screen-sm-min) {
    .teaser__img-container {
      padding-left: 0;
    }
  }
}

@mixin teaser--portrait-small() {
  & > .teaser__img-container {
    @include make-xs-column($grid-columns/3);
  }

  .caption-teaser, .teaser__caption {
    @include make-xs-column($grid-columns - ($grid-columns/3));
  }

  @media (max-width: $screen-xxs-max) {
    & > .teaser__img-container img {
      width: 75%;
    }
  }
}

@mixin teaser--portrait-medium() {
  & > .teaser__img-container {
    @include make-xs-column(floor($grid-columns/2.05));
  }

  .caption-teaser, .teaser__caption {
    @include make-xs-column($grid-columns - floor($grid-columns/2.05));
  }

  @media (max-width: $screen-xxs-max) {
    & > .teaser__img-container img {
      width: 75%;
    }
  }
}

@mixin teaser-landscape-medium() {
  @include make-row();

  & > .teaser__img-container {
    @include make-md-column(15);
  }

  & > .caption-teaser, .teaser__caption {
    @include make-md-column(9);
  }

  @media (max-width: $screen-xs-max) {
    .teaser__caption {
      padding: $teaser__caption-padding-mobile--landscape-medium;
    }
  }
}

@mixin teaser-landscape-large() {
  @media (max-width: $screen-xs-max) {
    .teaser__caption {
      padding: $teaser__caption-padding-mobile--landscape-large;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .teaser__caption {
      padding: $teaser__caption-padding-tablet--landscape-large;
    }
  }

  @media (min-width: $screen-md-min) {
    .teaser__caption {
      padding: $teaser__caption-padding-desktop--landscape-large;
    }
  }
}

@mixin teaser-list-h() {
  position: relative;
  min-height: 1px;

  .caption-teaser, .teaser__caption {
    @include gap__caption-top--h-teaser();
  }

  .item-marketing-sponsored {
    margin-bottom: 13px;
  }

  .item-marketing-native {
    .logo, .brand {
      height: 17px;
    }
  }
}

@mixin teaser--content() {
  &:hover {
    .text-headline a, .text-headline a:hover {
      color: $teaser--content-headline-hover-color;
    }
  }

  .caption, .teaser__caption {
    @include gap__caption-top--h-teaser();
  }

  .teaser__title {
    @include text-helper($teaser--content-headline-font-id);
    color: $teaser--content-headline-color;
  }

  @media (max-width: $screen-xs-max) {
    @include make-row();

    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    .img-container, .teaser__img-container {
      @include make-column(6);
      padding-right: 0;
    }

    .caption, .teaser__caption {
      @include make-column(18);
      margin-top: 0;
      //padding-right: 0;
    }

    .teaser__title {
      @include text-helper-size($teaser--content-headline-font-id, $teaser--content-headline-size-mobile);
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .teaser__title {
      @include text-helper-size($teaser--content-headline-font-id, $teaser--content-headline-size-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .teaser__title {
      @include text-helper-size($teaser--content-headline-font-id, $teaser--content-headline-size-desktop);
    }
  }
}

@mixin teaser-presenter--full() {
  @include teaser-presenter-text();
  padding-top: 0;
  padding-bottom: 0;
  position: relative;

  &:hover {
    .title--presenter-full {
      color: $text-highlighted;
    }
  }

  .teaser__img-container-wrapper {
    @extend %gap__container--h-negative;
  }

  .teaser__img-container {
    height: 0;
  }

  .teaser__caption-wrapper {
    @extend %region--fixed-content;
    position: relative;
  }

  .teaser__caption {
    max-width: $teaser__title-max-width--full-content;
    width: 100%;
  }

  .teaser__overhead {
    background-color: $teaser__overhead-bg--full-content;
    color: $teaser__overhead-color--full-content;
  }

  .teaser__title {
    background-color: $teaser__title-bg--full-content;
    color: $teaser__title-color--full-content;
  }

  @media (max-width: $screen-xs-max) {
    .teaser__overhead {
      padding: $teaser__overhead-padding--full-content-mobile;
    }

    .teaser__title {
      padding: $teaser__title-padding--full-content-mobile;
    }

    .teaser__img-container {
      padding-bottom: $teaser__img-ratio--full-content-mobile;
    }
  }

  @media (min-width: $screen-sm-min) {
    .teaser__caption {
      @if ($teaser__caption-use-pos-absolute--full-content == true) {
        position: absolute;
      }
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    padding-bottom: $teaser__padding-bottom--full-content-tablet;

    .teaser__img-container {
      padding-bottom: $teaser__img-ratio--full-content-tablet;
    }

    .teaser__caption {
      @if ($teaser__caption-use-pos-absolute--full-content == true) {
        bottom: $teaser__caption-bottom--full-content-tablet;
      }
    }

    .teaser__overhead {
      padding: $teaser__overhead-padding--full-content-tablet;
    }

    .teaser__title {
      padding: $teaser__title-padding--full-content-tablet;
    }
  }

  @media (max-width: $screen-sm-max) {

    .teaser__title {
      max-width: none;
    }
  }

  /**
  * Large Screens
  **/
  @media (min-width: $screen-md-min) {
    padding-bottom: $teaser__padding-bottom--full-content-desktop;

    .teaser__img-container {
      padding-bottom: $teaser__img-ratio--full-content-desktop;
    }

    .teaser__caption {
      @if ($teaser__caption-use-pos-absolute--full-content == true) {
        left: -($container-h-gap--desktop/2);
        bottom: $teaser__caption-bottom--full-content-desktop;
      }
    }

    .teaser__overhead {
      padding: $teaser__overhead-padding--full-content-desktop;
    }

    .teaser__title {
      padding: $teaser__title-padding--full-content-desktop;
    }
  }
}

@mixin teaser-presenter--lg() {
  @include teaser-landscape-medium();
  @include teaser-presenter-text();
}

@mixin teaser--content-right() {
  @include make-row();

  .teaser__caption {
    padding-top: 0;
  }

  @media (max-width: $screen-xs-max) {
    .teaser__caption {
      padding-top: $gap-size-xs;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    &.teaser-landscape-medium {
      .teaser__caption {
        padding-top: $gap-size-sm;
      }
    }
  }
}
