@mixin item-paragraph--small() {
  @include clearfix();
}

@mixin item-paragraph--media() {
  .caption {
    @extend %region-fixed-content;
  }
}

@mixin item-paragraph--media--image() {
  @extend %item-paragraph--media;

  .img-container {
    background-color: $bg-color-gray-light;
  }

  &.item-paragraph--full {
    .img-container {
      @extend %clear-gutter-gap;
    }

    .item-media--image-portrait {
      img {
        max-width: 70%;
      }
    }
  }
}

@mixin item-paragraph--gallery() {
  @extend %item-paragraph--media--image;

  &.item-paragraph--full {
    @extend %clear-gutter-gap;

    //todo check if possible in root // here
    .gallery-header {
      margin-left: $gap-size-sm;
      margin-right: $gap-size-sm;
    }

    .item-media--gallery {

    }

    .img-container {
      padding-bottom: $gallery-ratio-full;
      margin: 0;
    }
  }

  &.item-paragraph--middle {
    .img-container {
      padding-bottom: $gallery-ratio-middle;
    }

    .item-media--image-landscape {
      img {
        width: auto;
        height: auto;
      }
    }
  }

  &.item-paragraph--small {
    .img-container {
      padding-bottom: $gallery-ratio-small;
    }
  }

  .swiper-slide {
    width: 100%;
  }
}

@mixin item-paragraph--text() {
  @extend %text-content-html;
  @extend %copytext--text-block;

  & > iframe, .instagram-media {
    margin-top: $gap-section !important;
  }
}

@mixin item-paragraph--spotlight() {
  @include item-content--spotlight-text();

  /** Defaults **/
  position: relative;

  img {
    @include img-full-responsive();
  }

  .item-social {
    @include socials-clean-horizontal-bar-item--light();
  }

  .spotlight__caption {
    color: $spotlight__caption-color;
  }

  /** Layouts **/

  &.item-paragraph--small {
    @include _spotlight--small();
  }

  &.item-paragraph--middle {
    @media (max-width: $screen-xs-max) {
      @include _spotlight--small();
    }

    @media (min-width: $screen-sm-min) {
      @include _spotlight--middle();
    }
  }

  &.item-paragraph--full {
    @include clear-gutter-gap();

    @media (max-width: $screen-xs-max) {
      @include _spotlight--small();
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include _spotlight--middle();
    }

    @media (min-width: $screen-md-min) {
      @include _spotlight--full();
    }
  }
}

@mixin _spotlight--small() {
  @include item-content--spotlight-small-text();

  .spotlight__caption {
    @include container-v-padding();
    padding-left: $gap-size-sm;
    padding-right: $gap-size-sm;
    padding-bottom: $gap-size-sm;
    background: $spotlight__caption-bg;
    position: relative;
  }

  .spotlight__title {
    margin-bottom: $gap-size-xxs;
  }

  .spotlight__subtitle {
    margin-bottom: $gap-size-xs;
  }

  .spotlight__copytext {
    margin-bottom: $gap-size-lg;
  }
}

@mixin _spotlight--middle() {
  @include item-content--spotlight-middle-text();

  .spotlight__caption {
    @include container-v-padding();
    padding-left: $gap-size-sm;
    padding-right: $gap-size-sm;
    padding-bottom: $gap-size-sm;
    background: $spotlight__caption-bg;
    position: relative;
  }

  .spotlight__title, .spotlight__subtitle {
    margin-bottom: $gap-size-xs;
  }

  .spotlight__copytext {
    margin-bottom: $gap-size-md;
  }
}

@mixin _spotlight--full() {
  @include item-content--spotlight-full-text();

  .spotlight__caption {
    @include flexbox(vertical);
    @include align-items(center);
    @include justify-content(flex-end);
    width: $spotlight__caption--full-width;
    max-width: 40%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: $spotlight__caption-padding;
    z-index: 2;

    & > * {
      max-width: 100%;
    }
  }

  .spotlight__title, .spotlight__subtitle {
    margin-bottom: $gap-size-sm;
  }

  .spotlight__copytext {
    margin-bottom: $gap-size-lg;
  }

  &:after {
    content: " ";
    background: $spotlight__caption--full-bg;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin item-paragraph--instagram() {
  padding: 5px 0;

  iframe {
    @include center-block();
    //max-width: 500px;
    width: 100%;
    box-shadow: none !important;
  }
}

@mixin item-paragraph--pinterest() {
  text-align: center;

  & > * {
    max-width: 100% !important;
    min-width: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
  }
}

@mixin item-paragraph--twitter() {
  & > iframe {
    @include center-block();
    width: 100% !important;
    max-width: 520px !important;
  }
}

@mixin item-paragraph--tracdelight() {
  @include products--horizontal-block();

  &.item-paragraph--full {
    @extend %gap--v-region;

    @if ($region-v-lined) {
      border-top: $h-line-style;
    }

    .item-title {
      @extend %title--horizontal-block;
    }
  }

  &.item-paragraph--small, &.item-paragraph--middle {
    .item-title {
      @extend %title--content-block;
    }
  }

  .item-product {
    @include product__item-text();
    @include product__item--horizontal-block();
  }
}

@mixin item-paragraph--term-teaser() {
  @include item-paragraph--content-teaser();
}

@mixin item-paragraph--recent-content() {
  @include item-paragraph--content-teaser();
}

@mixin item-paragraph--content-teaser() {

  &.item-paragraph--small, &.item-paragraph--middle {
    .text-title {
      @include title--content-block();
    }
  }

  .list__content-teaser--horizontal {
    @extend %list__content-teaser--horizontal;
  }

  .teaser {
    @extend %teaser--content;
    @extend %list__content-teaser__item--horizontal;
  }

  @media (min-width: $screen-sm-min) {
    &.item-paragraph--full {
      .teaser {
        @include list__content-teaser__item--horizontal($list__content-teaser--horizontal-count--full);
      }
    }

    &.item-paragraph--middle {
      .teaser {
        @include list__content-teaser__item--horizontal($list__content-teaser--horizontal-count--middle);
      }
    }

    &.item-paragraph--small {
      .teaser {
        @include list__content-teaser__item--horizontal($list__content-teaser--horizontal-count--small);
      }
    }
  }
}

/**
** Profile
**/

@mixin item-paragraph--profile() {
  @include item-paragraph--profile-text;

  .title {
    margin-bottom: $profile__title-gap-bottom;
  }

  .img-container {
    img {
      @extend %img-full-responsive;
    }
  }

  .caption {
    padding-top: $gap-size-xxs;
  }

  .facts {
    max-width: $profile__fact-max-width;
    width: 100%;
    display: inline-block;
  }

  table, tbody, th, td, tr {
    display: block;
    text-align: center;
  }

  tr {
    @include item-paragraph--profile__fact-item();
  }

  &.item-paragraph--small {
    @include _profile--small();
  }

  &.item-paragraph--middle {
    @media (max-width: $screen-xs-max) {
      @include _profile--small();
    }

    @media (min-width: $screen-sm-min) {
      @include _profile--middle();
    }
  }

  &.item-paragraph--full {
    @media (max-width: $screen-xs-max) {
      @include _profile--small();
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include _profile--middle();
    }

    @media (min-width: $screen-md-min) {
      @include _profile--full();
    }
  }
}

@mixin _profile--small() {
  .col--left {
    margin: 0 auto $gap-size-xxl auto;
    max-width: $profile__fact-max-width;
  }
}

@mixin _profile--middle() {
  @include _profile--two-col();

  .col--left {
    margin: 0 auto $gap-size-xxxl auto;
    max-width: $profile__fact-max-width;
  }
}

@mixin _profile--full() {
  @include _profile--two-col();

  .col--left {
    text-align: right;

    .img-container, .caption {
      max-width: 387px;
      display: inline-block;
      width: 100%;
    }

    .caption {
      text-align: left;
    }
  }
}

@mixin _profile--two-col() {
  .wrapper {
    @include region-fixed-content();
  }

  .row {
    @include make-row();
  }

  .col--left {
    @include make-md-column(10);
  }

  .col--right {
    @include make-md-column(14);
  }
}

@mixin item-paragraph--profile__fact-item() {
  th {
    border-top: $h-line-style;
    padding-top: $gap-size-xxs;
    margin-top: $gap-size-xxs;
  }

  td {
    margin-top: $gap-size-xxs;
  }
}