@mixin swipeable__images--horizontal() {
  @media (max-width: $screen-xs-max) {
    @include flexbox();
  }
}

@mixin swipeable__images--horizontal__item() {
  @media (max-width: $screen-xs-max) {
    @include flex-shrink(0);
    width: $teaser__shrinked-width--list-horizontal;
    padding-left: 0;
    padding-right: 0;
  }
}
