@mixin item-horoscope__viversum-sponsored() {
  border-top: $horoscope__sponsored-border;
  padding: $horoscope__sponsored-padding;
  margin: $horoscope__sponsored-margin;
  letter-spacing: $horoscope__sponsored-letter-spacing;
  text-align: right;

  &:after {
    content: " ";
    position: relative;
    background-image: url($horoscope__viversum-logo);
    background-repeat: no-repeat;
    width: $horoscope__viversum-logo-width;
    height: $horoscope__viversum-logo-height;
    top: $horoscope__viversum-logo-top;
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin item-horoscope__viversum-banner() {
  margin: $horoscope__viversum-banner-margin;
  padding: $horoscope__viversum-banner-padding;
  border-top: $horoscope__viversum-banner-border;

  &:after {
    content: " ";
    background-image: url($horoscope__viversum-banner);
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: $horoscope__viversum-banner-ratio;
    height: 0;
    overflow: hidden;
    display: block;
  }
}
