@mixin ads-native() {
  .item-marketing-sponsored {
    margin-bottom: $gap-section;
  }

  .item-marketing-advertorial {
    @include text-helper($label--advertorial-font-id, $label--advertorial-size);
    color: $label--advertorial-color;
    text-transform: $label--advertorial-text-transform;
  }

  .item-marketing-partnership {
    img,
    svg {
      height: $native-logo--height;
      @media (max-width: $screen-xs-max) {
        height: $native-logo--height--mobile;
      }
    }
  }

  .item-marketing-native {
    .native_campaign {
      @include flexbox();
      @include align-items($native-teaser__advertorial-align-items);
      @include justify-content($native-teaser__justify-content);
    }

    .teaser & {
      .native_campaign {
        @include justify-content($native-teaser__justify-content--teaser);
      }
    }

    .logo, .brand {
      height: $native-logo--height;
      @media (max-width: $screen-xs-max) {
        height: $native-logo--height--mobile;
      }
    }

    .separator, .marketing-label  {
      font-family: $font-content-bold;
      padding: $native-teaser__separator-padding--advertorial;
      font-size: $native-logo--font-size;
      @media (max-width: $screen-xs-max) {
        line-height: $native-logo--height--mobile;
        font-size: $native-logo--font-size--mobile;
      }
    }

    .separator {
      color: $native-teaser__seperator--color;
      margin: $native-teaser__separator-margin--advertorial;
    }

    .marketing-label {
      @include flexbox();
      @include align-items($native-teaser__advertorial-align-items);
      color: $native-teaser__marketing-label--color;
      text-transform: $native-teaser__marketing-text-transform;
      font-size: $native-teaser__marketing-font-size;

      &:before {
        content: "|";
        margin-right: $grid-unit-half;
      }
    }

    img, svg {
      height: 100%;
      width: auto;
      max-width: 100%;
    }
  }
}
