@mixin teaser-default() {

  .img-container {
    @include transition-default(opacity, $transition-duration, $transition-easing);
    @include opacity(1);
    overflow: hidden;
    cursor: pointer;

    &:hover {
      @include opacity($teaser-hover-opacity);
    }

    &:hover + .caption {
      .text-headline {
        color: $text-highlighted;
      }
    }

    img {
      @include img-full-responsive(inline-block);
    }
  }

  .text-headline {
    display: block;
    max-width: 100%;
  }

  .text-category {
    display: inline-block;
    margin-bottom: $gap-size-sm;

    &:hover {
      color: $text-highlighted;
    }
  }

  @media (max-width: $screen-xxs-max) {
    .author {
      margin-top: $teaser__author--default-gap-top-mobile;
    }

    .socials-bar {
      margin-top: $teaser__socials--default-gap-top-mobile;
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .author {
      margin-top: $teaser__author--default-gap-top-tablet;
    }

    .socials-bar {
      margin-top: $teaser__socials--default-gap-top-tablet;
    }
  }

  @media (min-width: $screen-md-min) {
    .author {
      margin-top: $teaser__author--default-gap-top-desktop;
    }

    .socials-bar {
      margin-top: $teaser__socials--default-gap-top-desktop;
    }
  }
}

@mixin teaser-feed-large-gap() {
  border-top: $h-line-style;

  &:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
  }

  @media (max-width: $screen-xxs-max) {
    padding-top: $feed-teaser-gap-top-mobile;
    margin-top: $feed-teaser-gap-top-mobile;
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    padding-top: $feed-teaser-gap-top-tablet;
    margin-top: $feed-teaser-gap-top-tablet;
  }

  @media (min-width: $screen-md-min) {
    padding-top: $feed-teaser-gap-top-desktop;
    margin-top: $feed-teaser-gap-top-desktop;
  }
}

@mixin teaser-feed-large() {
  @media (max-width: $screen-xxs-max) {
    .caption-teaser {
      padding-top: $gap-size-xs;
    }
  }
}

@mixin teaser-square-xs() {
  @include make-row();
  @include teaser-square-xs-text();

  & > .img-container {
    @include make-xxs-column(6);
  }

  & > .caption-teaser {
    @include make-xxs-column(18);
  }
}

@mixin teaser--portrait-small() {
  & > .img-container {
    @include make-xs-column($grid-columns/3);
  }

  .caption-teaser {
    @include make-xs-column($grid-columns - ($grid-columns/3));
  }

  @media (max-width: $screen-xxs-max) {
    .img-container img {
      width: 75%;
    }
  }
}

@mixin teaser--portrait-medium() {
  & > .img-container {
    @include make-xs-column(floor($grid-columns/2.05));
  }

  .caption-teaser {
    @include make-xs-column($grid-columns - floor($grid-columns/2.05));
  }

  @media (max-width: $screen-xxs-max) {
    .img-container img {
      width: 75%;
    }
  }
}

@mixin teaser-landscape-medium() {
  @include make-row();

  & > .img-container {
    @include make-md-column(15);
  }

  & > .caption-teaser {
    @include make-md-column(9);
  }

  .text-headline {
    margin-left: -3px;
  }

  @media (max-width: $screen-xxs-max) {
    .caption-teaser {
      padding-top: $gap-size-xs;
    }
  }
}

@mixin teaser-list-h() {
  position: relative;
  min-height: 1px;

  .caption-teaser {
    @include title--caption-top-gap();
  }

  .item-marketing-sponsored {
    margin-bottom: 13px;
  }

  .item-marketing-native {
    .logo, .brand {
      height: 17px;
    }
  }

  @media (max-width: $screen-xs-max) {
    .text-headline {
      @include text-content-size($teaser-list-h-headline-size-mobile);
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .text-headline {
      @include text-content-size($teaser-list-h-headline-size-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .text-headline {
      @include text-content-size($teaser-list-h-headline-size-desktop);
    }
  }
}

@mixin teaser--content() {
  .caption {
    @include title--caption-top-gap();
  }

  .text-headline {
    @include text-content();
  }

  @media (max-width: $screen-xs-max) {
    @include make-row();

    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    .img-container {
      @include make-column(6);
      padding-right: 0;
    }

    .caption {
      @include make-column(18);
      margin-top: 0;
      //padding-right: 0;
    }

    .text-headline {
      @include text-content-size($teaser--content-headline-size-mobile);
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .text-headline {
      @include text-content-size($teaser--content-headline-size-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .text-headline {
      @include text-content-size($teaser--content-headline-size-desktop);
    }
  }
}

@mixin teaser-full-content() {
  padding-top: 0;
  position: relative;
  padding-bottom: 0;

  &:hover {
    .title--presenter-full {
      color: $text-highlighted;
    }
  }

  .caption__wrapper {
    @include region--fixed-content();
    position: relative;
  }

  .img-container {
    @include gap__container--h-negative();
  }

  .caption {
    max-width: $full-headlines-max-width;
    width: 100%;

    & > * {
      padding-top: 15px;
    }
  }

  .title-overhead--presenter-full {
    @extend %label--category;
  }

  .title--presenter-full {
    @include text-headline($fc-teaser-headline-size-mobile);
  }

  @media (min-width: $screen-sm-min) {
    padding-bottom: $gap-size-md;

    .caption {
      position: absolute;

      & > * {
        padding: 15px ($grid-gutter-width - 3px) 0;
        background-color: $white;
      }
    }

    .img-container {
      padding-bottom: 43.1%;
      height: 0;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .caption {
      bottom: - $gap-size-md;
    }

    .title--presenter-full {
      @include text-headline-size($fc-teaser-headline-size-tablet);
    }
  }

  /**
  * Large Screens
  **/
  @media (min-width: $screen-md-min) {
    .caption {
      left: -$grid-gutter-width;
      bottom: 0;
    }

    .title--presenter-full {
      @include text-headline($fc-teaser-headline-size-desktop);
    }
  }

  @media (max-width: $screen-sm-max) {
    .title--presenter-full {
      max-width: none;
    }
  }
}

@mixin teaser--content-right() {
  @include make-row();

  .caption-teaser {
    padding-top: 0;
  }

  &.teaser-landscape-medium {
    @media (max-width: $screen-sm-max) {
      & > .caption-teaser {
        padding-top: $grid-gutter-width;
      }
    }
  }
}
