@mixin list__images--horizontal($gaps: ($teaser__gap--list-horizontal-mobile, $teaser__gap--list-horizontal-tablet, $teaser__gap--list-horizontal-desktop)) {
  @include clearfix();
  $gap-mobile: nth($gaps, 1);
  $gap-tablet: nth($gaps, 2);
  $gap-desktop: nth($gaps, 3);

  @media (max-width: $screen-xs-max) {
    margin-left: -$gap-mobile;
    margin-right: -$gap-mobile;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    margin-left: -$gap-tablet;
    margin-right: -$gap-tablet;
  }

  @media (min-width: $screen-md-min) {
    margin-left: -$gap-desktop;
    margin-right: -$gap-desktop;
  }
}

@mixin list__images--horizontal__item($gaps: ($teaser__gap--list-horizontal-mobile, $teaser__gap--list-horizontal-tablet, $teaser__gap--list-horizontal-desktop), $count: $teaser-list-horizontal-count-default) {
  $gap-mobile: nth($gaps, 1);
  $gap-tablet: nth($gaps, 2);
  $gap-desktop: nth($gaps, 3);

  @media (max-width: $screen-xs-max) {
    padding-left: $gap-mobile;
    padding-right: $gap-mobile;
  }

  @media (min-width: $screen-sm-min) {
    float: left;
    width: percentage(($grid-columns / $count) / $grid-columns);
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    padding-left: $gap-tablet;
    padding-right: $gap-tablet;
  }

  @media (min-width: $screen-md-min) {
    padding-left: $gap-desktop;
    padding-right: $gap-desktop;
  }
}

@mixin list__content-teaser--horizontal() {
  @include clearfix();

  @media (max-width: $screen-xs-max) {
    margin-left: -$list__content-teaser--horizontal-gap-h-mobile;
    margin-right: -$list__content-teaser--horizontal-gap-h-mobile;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    margin-left: -$list__content-teaser--horizontal-gap-h-tablet;
    margin-right: -$list__content-teaser--horizontal-gap-h-tablet;
    margin-top: -$list__content-teaser__item--horizontal-gap-top-tablet*2;
  }

  @media (min-width: $screen-md-min) {
    margin-left: -$list__content-teaser--horizontal-gap-h-desktop;
    margin-right: -$list__content-teaser--horizontal-gap-h-desktop;
    margin-top: -$list__content-teaser__item--horizontal-gap-top-desktop*2;
  }
}

@mixin list__content-teaser__item--horizontal($item-count: $list__content-teaser--horizontal-count--small) {
  @media (max-width: $screen-xs-max) {
    margin-top: $list__content-teaser__item--horizontal-gap-top-mobile;
    padding-top: $list__content-teaser__item--horizontal-gap-top-mobile;
    padding-left: $list__content-teaser--horizontal-gap-h-mobile;
    padding-right: $list__content-teaser--horizontal-gap-h-mobile;
  }

  @media (min-width: $screen-sm-min) {
    float: left;
    width: percentage(($grid-columns / $item-count) / $grid-columns);
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    margin-top: $list__content-teaser__item--horizontal-gap-top-tablet;
    //padding-top: $list__content-teaser__item--horizontal-gap-top-tablet;
    padding-left: $list__content-teaser--horizontal-gap-h-tablet;
    padding-right: $list__content-teaser--horizontal-gap-h-tablet;
  }

  @media (min-width: $screen-md-min) {
    margin-top: $list__content-teaser__item--horizontal-gap-top-desktop;
    //padding-top: $list__content-teaser__item--horizontal-gap-top-desktop;
    padding-left: $list__content-teaser--horizontal-gap-h-desktop;
    padding-right: $list__content-teaser--horizontal-gap-h-desktop;
  }
}

@mixin list__links--module() {
  @include list__links--module-text();
  margin: $list__links-margin--module;
  padding: $list__links-padding--module;

  li {
    margin: $list__links-item-margin--module;
    border-bottom: $list__links-item-h-line--module;
  }
}

@mixin list__alphabetical() {
  h2, h3 {
    padding: $list--alphabetical-headline-padding;
    margin: $list--alphabetical-headline-margin;
    border-top: $h-line-style;
    border-bottom: $h-line-style;
    color: $list--alphabetical-headline-color;
  }

  li {
    margin: $list--alphabetical-list-item-margin;

    &:first-child {
      margin-top: 0;
    }
  }
}

@mixin list__glossary() {
  @include clearfix();
  @include list__glossary-text();
  line-height: $list__glossary-line-height;
  color: $list__glossary-disabled-color;

  li {
    margin: $list__glossary-margin;
    float: left;
    text-align: center;
    background-color: $list__glossary-background-disabled-color;
  }

  a {
    color: inherit;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    color: $text-color;
    background-color: $list__glossary-background-color;
    padding: $list__glossary-padding;
    border: $list__glossary-border;
    line-height: $list__glossary-line-height - ($h-line-width*2);

    &.active, &:hover {
      background-color: $list__glossary-background-color-active;
      color: $list__glossary-color-active;
    }
  }
}

@mixin list__item--teasers-square-xs() {
  @include gap--v-sm();
  border-top: $h-line-style;
}

@mixin list--text-block() {
  list-style-position: inside;
  margin-top: 1em;

  li {
    position: relative;
    line-height: 1.5;
    margin-top: 0.5em;
    margin-left: 1em;
    text-indent: -1em;
    padding-left: 1em;

    &:first-child {
      margin-top: 0;
    }
  }

  .is-active {
    color: $pager-active-color;
  }
}

@mixin list-ul--text-block($use-padding: true) {
  list-style-type: disc;

  @if ($use-padding) {
    padding-left: 2px; //overflow fix
  }
}