@mixin seo-linker-text() {
  .seo-linker__item-title {
    @include text-headline($seo-linker__item-title-size);
  }

  .seo-linker__link-list--image {
    @include text-content-size($seo-linker__link-list-size);
  }
}

/**
** Teaser types
**/

@mixin teaser-feed-large-text($sizes: ($feed-teaser-headline-size-mobile, $feed-teaser-headline-size-tablet, $feed-teaser-headline-size-desktop)) {
  $size-mobile: nth($sizes, 1);
  $size-tablet: nth($sizes, 2);
  $size-desktop: nth($sizes, 3);

  @media (max-width: $screen-xs-max) {
    .text-headline {
      @include text-headline-size($size-mobile);
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .text-headline {
      @include text-headline-size($size-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .text-headline {
      @include text-headline-size($size-desktop);
    }
  }
}

@mixin teaser-list-h-text() {

  &:hover {
    color: $teaser__title-hover-color--list-horizontal;

    .text-headline {
      color: inherit;
    }
  }

  .text-headline {
    @include text-helper($teaser__title-font--list-horizontal);
    color: $teaser__title-color--list-horizontal;
  }

  @media (max-width: $screen-xs-max) {
    .text-headline {
      @include text-helper-size($teaser__title-font--list-horizontal, $teaser__title-size--list-horizontal-mobile);
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .text-headline {
      @include text-helper-size($teaser__title-font--list-horizontal, $teaser__title-size--list-horizontal-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .text-headline {
      @include text-helper-size($teaser__title-font--list-horizontal, $teaser__title-size--list-horizontal-desktop);
    }
  }
}

@mixin teaser-landscape-medium-text() {
  @include teaser-feed-large-text();
}

@mixin teaser-square-xs-text() {
  .text-headline {
    @include text-headline();
  }

  @media (max-width: $screen-xs-max) {
    .text-headline {
      @include text-headline-size($teaser-square-xs-headline-size-mobile);
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .text-headline {
      @include text-headline-size($teaser-square-xs-headline-size-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .text-headline {
      @include text-headline-size($teaser-square-xs-headline-size-desktop);
    }
  }
}

/**
** Socials
**/

@mixin socials-labeled-horizontal-bar-text() {
  .item-social span {
    @include text-helper($socials-labeled-horizontal-bar-label-font, $socials-labeled-horizontal-bar-label-size);
    line-height: $socials-labeled-horizontal-bar-label-size + 1px;
    text-transform: uppercase;
  }
}

/**
** Products
**/

//todo only text
@mixin product__item-text() {
  .text-headline {
    @include text-helper($product__item-text-headline-font, $product__item-text-headline-size);
    color: $product__item-text-headline-color;
  }

  .text-brand {
    @include text-helper($product__item-text-brand-font, $product__item-text-brand-size);
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $product__item-text-brand-color;
  }

  .text-price {
    @include text-helper($product__item-text-price-font, $product__item-text-price-size);
    color: $product__item-text-price-color;
  }

  .text-shipping {
    @include text-helper($product__item-text-shipping-font, $product__item-text-shipping-size);
    color: $product__item-text-shipping-color;
  }

  .text-shop {
    @extend %btn--small;
  }
}

/**
** Lists
**/

@mixin list__links--module-text() {
  @include text-helper($list__links--module-font, $list__links--module-font-size);
}

@mixin list__glossary-text() {
  @include text-helper($list__glossary-font, $list__glossary-font-size);
}

@mixin item-content--spotlight-text() {
  text-align: center;

  .title {
    @include text-helper($spotlight__title-font);
    letter-spacing: $spotlight__title-letter-spacing;
    text-shadow: $spotlight__caption-text-shadow;
  }

  .subtitle {
    @include text-helper($spotlight__subtitle-font, $spotlight__subtitle-size);
    text-transform: uppercase;
    text-shadow: $spotlight__caption-text-shadow;
  }

  .copytext {
    @include text-helper($spotlight__copytext-font);
    text-shadow: $spotlight__caption-text-shadow;
  }
}

@mixin item-content--spotlight-small-text() {
  .title {
    @include text-helper-size($spotlight__title-font, $spotlight__title-size-mobile);
  }

  .copytext {
    @include text-helper-size($spotlight__copytext-font, $spotlight__copytext-size-mobile);
  }
}

@mixin item-content--spotlight-middle-text() {
  .title {
    @include text-helper-size($spotlight__title-font, $spotlight__title-size-tablet);
  }

  .copytext {
    @include text-helper-size($spotlight__copytext-font, $spotlight__copytext-size-tablet);
  }
}

@mixin item-content--spotlight-full-text() {
  .title {
    @include text-helper-size($spotlight__title-font, $spotlight__title-size-desktop);
    letter-spacing: 1.1;
  }

  .copytext {
    @include text-helper-size($spotlight__copytext-font, $spotlight__copytext-size-desktop);
  }
}

/**
** Menus
**/

@mixin menu--main-navigation-text() {
  .menu-item {
    @include text-helper($menu--main-navigation-font, $menu--main-navigation-size, 1);
    text-transform: uppercase;
    //line-height: 1;
  }
}

@mixin menu--main-navigation__flyout-text() {
  @include text-helper($menu--main-navigation__flyout-font, $menu--main-navigation__flyout-size);
}

@mixin menu--submenu-navigation-text() {
  .label-menu {
    @include text-helper($menu--submenu-navigation-font, $menu--submenu-navigation-size);
    text-transform: uppercase;
  }

  .menu-item {
    @include text-helper($menu--submenu-navigation-font, $menu--submenu-navigation-size);
    color: $text-color;
    text-transform: uppercase;
  }
}

@mixin item-paragraph--profile-text() {

  .title {
    @extend %text-label;
    @include text-label-size($profile__title-size);
    text-transform: uppercase;
    color: $profile__title-color;
  }

  .col--right {
    text-align: center;
  }

  th {
    @extend %text-label;
    @include text-label-size($profile__th-size);
    color: $profile__th-color;
    text-transform: uppercase;
  }

  td {
    color: $profile__td-color;
  }
}

@mixin item-media--header-text() {
  .text-headline {
    @include text-headline-bold();
    text-shadow: $title--media-header-text-shadow;
    text-transform: $title--media-header-text-transform;
    color: $title--media-header-color;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media (max-width: $screen-xs-max) {
    .text-headline {
      @include text-headline-size($title--media-header-mobile);
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .text-headline {
      @include text-headline-size($title--media-header-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .text-headline {
      @include text-headline-size($title--media-header-desktop);
      letter-spacing: $title--media-header-letter-spacing;
    }
  }
}

/**
** Menu Sidebar
**/
@mixin menu--sidebar-main-text() {
  .menu-item {
    @include text-helper($menu--sidebar-main-font, $menu--sidebar-main-size);
    text-transform: $menu--sidebar-main-text-transform;
  }
}

@mixin menu--sidebar-misc-text() {
  color: $gray-base;

  .menu-item {
    @include text-helper($menu--sidebar-misc-font, $menu--sidebar-misc-size);
    text-transform: $menu--sidebar-misc-text-transform;
  }

  li {
    &:hover {
      a {
        color: $color-highlighted-hover;
      }
    }
  }
}

/**
** Media
**/
@mixin item-media--gallery-text() {
  .text-item-count {
    @include text-helper($gallery__count-font);
    color: $gallery__count-color;
  }

  @media (max-width: $screen-xs-max) {
    .text-item-count {
      @include text-helper-size($gallery__count-font, $gallery__count-size-mobile);
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .text-item-count {
      @include text-helper-size($gallery__count-font, $gallery__count-size-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .text-item-count {
      @include text-helper-size($gallery__count-font, $gallery__count-size-desktop);
    }
  }
}

@mixin item-media--file-text() {
  .item-media__title--file {
    @include text-helper($media__title-font--file);
    color: $media__title-color--file;
  }

  .item-media__description--file {
    @include text-helper($media__description-font--file);
    color: $media__description-color--file;
  }

  .item-media__btn-download--file {
    @include btn--small(($media__btn-download-size-mobile--file, $media__btn-download-size-tablet--file, $media__btn-download-size-desktop--file), $media__btn-download-font--file);
  }

  @media (max-width: $screen-xs-max) {
    .item-media__title--file {
      @include text-helper-size($media__title-font--file, $media__title-size-mobile--file);
    }

    .item-media__description--file {
      @include text-helper-size($media__description-font--file, $media__description-size-mobile--file);
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .item-media__title--file {
      @include text-helper-size($media__title-font--file, $media__title-size-tablet--file);
    }

    .item-media__description--file {
      @include text-helper-size($media__description-font--file, $media__description-size-tablet--file);
    }
  }

  @media (min-width: $screen-md-min) {
    .item-media__title--file {
      @include text-helper-size($media__title-font--file, $media__title-size-desktop--file);
    }

    .item-media__description--file {
      @include text-helper-size($media__description-font--file, $media__description-size-desktop--file);
    }
  }
}