@mixin header--home() {
  position: relative;
  min-height: 60px;

  .container-content {
    @extend %region--fixed-content;
    position: relative;
  }

  .logo {
    display: block;
    width: $header-home__logo-width;
    min-width: $header-home__logo-min-width; //180px;
    padding: $header-home__logo-padding;

    @if($header-home__logo-align == "center") {
      margin-left: auto;
      margin-right: auto;
    }

    img {
      @extend %img-full-responsive;
    }

    svg {
      width: 100%;
      height: auto;
    }
  }

  .socials-bar {
    @extend %transition-default;
    @include fade-in();
    position: absolute;
    top: $grid-gutter-width;
    right: 0;
  }

  @media (max-width: $screen-xs-max) {
    .socials-bar > div:first-child {
      @include fade-out();
    }
  }
}
