@mixin seo-linker-text() {
  .seo-linker__item-title {
    @include text-helper($seo-linker__item-title-font-id);
  }

  .seo-linker__link-list--image {
    @include text-helper($seo-linker__link-list-font-id);
    color: $seo-linker__link-list-color;

    a:hover {
      color: $seo-linker__link-list-hover-color;
    }
  }

  @media (max-width: $screen-xs-max) {
    .seo-linker__item-title {
      @include text-helper-size($seo-linker__item-title-font-id, $seo-linker__item-title-size-mobile);
    }

    .seo-linker__link-list--image {
      @include text-helper-size($seo-linker__link-list-font-id, $seo-linker__link-list-size-mobile);
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .seo-linker__item-title {
      @include text-helper-size($seo-linker__item-title-font-id, $seo-linker__item-title-size-tablet);
    }

    .seo-linker__link-list--image {
      @include text-helper-size($seo-linker__link-list-font-id, $seo-linker__link-list-size-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .seo-linker__item-title {
      @include text-helper-size($seo-linker__item-title-font-id, $seo-linker__item-title-size-desktop);
    }

    .seo-linker__link-list--image {
      @include text-helper-size($seo-linker__link-list-font-id, $seo-linker__link-list-size-desktop);
    }
  }
}

/**
** Teaser types
**/

@mixin teaser__text--default() {
  .teaser__overhead {
    @include text-helper($teaser__overhead-font-id--default);
    @include text-helper-size($teaser__overhead-font-id--default, $teaser__overhead-size-mobile--default);
    text-transform: uppercase;
    color: $teaser__overhead-color--default;
    letter-spacing: $teaser__overhead-letter-spacing--default;

    @if ($is-mobile == false) {
      @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
        @include text-helper-size($teaser__overhead-font-id--default, $teaser__overhead-size-tablet--default);
      }

      @media (min-width: $screen-md-min) {
        @include text-helper-size($teaser__overhead-font-id--default, $teaser__overhead-size-desktop--default);
      }
    }
  }

  .teaser__copy {
    @extend %copytext--teaser-default;
  }
}

@mixin teaser-presenter-text($overhead-sizes: ($teaser__overhead-size--full-content-mobile, $teaser__overhead-size--full-content-tablet, $teaser__overhead-size--full-content-desktop), $overhead-font: $teaser__overhead-font-id--full-content, $title-sizes: ($teaser__title-size--full-content-mobile, $teaser__title-size--full-content-tablet, $teaser__title-size--full-content-desktop), $title-font: $teaser__title-font-id--full-content, $title-line-heights: ($teaser__title-line-height--full-content-mobile, $teaser__title-line-height--full-content-tablet, $teaser__title-line-height--full-content-desktop)) {
  $overhead-size-mobile: nth($overhead-sizes, 1);
  $overhead-size-tablet: nth($overhead-sizes, 2);
  $overhead-size-desktop: nth($overhead-sizes, 3);

  $title-size-mobile: nth($title-sizes, 1);
  $title-size-tablet: nth($title-sizes, 2);
  $title-size-desktop: nth($title-sizes, 3);

  $title-lh-mobile: nth($title-line-heights, 1);
  $title-lh-tablet: nth($title-line-heights, 2);
  $title-lh-desktop: nth($title-line-heights, 3);

  .teaser__overhead {
    @include text-helper($overhead-font);
    text-transform: $teaser__overhead-text-transform--full-content;
  }

  .teaser__title {
    @include text-helper($title-font);
    text-transform: $teaser__title-text-transform--full-content;
  }

  @media (max-width: $screen-xs-max) {
    .teaser__overhead {
      @include text-helper-size($overhead-font, $overhead-size-mobile);
    }

    .teaser__title {
      @include text-helper-size($title-font, $title-size-mobile, $title-lh-mobile);
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .teaser__overhead {
      @include text-helper-size($overhead-font, $overhead-size-tablet);
    }

    .teaser__title {
      @include text-helper-size($title-font, $title-size-tablet, $title-lh-tablet);
    }
  }

  /**
  * Large Screens
  **/
  @media (min-width: $screen-md-min) {
    .teaser__overhead {
      @include text-helper-size($overhead-font, $overhead-size-desktop);
    }

    .teaser__title {
      @include text-helper-size($title-font, $title-size-desktop, $title-lh-desktop);
    }
  }
}

@mixin teaser-feed-large-text($sizes: ($feed-teaser-headline-size-mobile, $feed-teaser-headline-size-tablet, $feed-teaser-headline-size-desktop)) {
  $size-mobile: nth($sizes, 1);
  $size-tablet: nth($sizes, 2);
  $size-desktop: nth($sizes, 3);

  .teaser__title {
    @include text-headline();
    text-transform: $feed-teaser-headline-text-transform;
  }

  @media (max-width: $screen-xs-max) {
    .teaser__title {
      @include text-headline-size($size-mobile);
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .teaser__title {
      @include text-headline-size($size-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .teaser__title {
      @include text-headline-size($size-desktop);
    }
  }
}

@mixin teaser-list__text--middle($sizes: ($teaser-list__headline-size-mobile--teaser-middle, $teaser-list__headline-size-tablet--teaser-middle, $teaser-list__headline-size-desktop--teaser-middle), $font: $teaser-list__headline-font-id--teaser-middle) {
  $size-mobile: nth($sizes, 1);
  $size-tablet: nth($sizes, 2);
  $size-desktop: nth($sizes, 3);

  .text-headline {
    @include text-helper($font);
  }

  @media (max-width: $screen-xs-max) {
    .text-headline {
      @include text-helper-size($font, $size-mobile);
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .text-headline {
      @include text-helper-size($font, $size-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .text-headline {
      @include text-helper-size($font, $size-desktop);
    }
  }
}

@mixin teaser-list__text--horoscope-middle($sizes: ($teaser-list__headline-size-mobile--teaser-horoscope-middle, $teaser-list__headline-size-tablet--teaser-horoscope-middle, $teaser-list__headline-size-desktop--teaser-horoscope-middle), $font: $teaser-list__headline-font-id--teaser-horoscope-middle) {
  $size-mobile: nth($sizes, 1);
  $size-tablet: nth($sizes, 2);
  $size-desktop: nth($sizes, 3);

  .text-headline {
    @include text-helper($font);
  }

  @media (max-width: $screen-xs-max) {
    .text-headline {
      @include text-helper-size($font, $size-mobile);
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .text-headline {
      @include text-helper-size($font, $size-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .text-headline {
      @include text-helper-size($font, $size-desktop);
    }
  }
}

@mixin teaser-list__text--horoscope-50($sizes: ($teaser-list__headline-size-mobile--teaser-horoscope-middle, $teaser-list__headline-size-tablet--teaser-horoscope-middle, $teaser-list__headline-size-desktop--teaser-horoscope-middle), $font: $teaser-list__headline-font-id--teaser-horoscope-middle) {
  @include teaser-list__text--horoscope-middle($sizes, $font);
}

@mixin teaser-list-h-text() {

  &:hover {
    color: $teaser__title-hover-color--list-horizontal;

    .teaser__title {
      color: inherit;
    }
  }

  .teaser__title {
    @include text-helper($teaser__title-font-id--list-horizontal);
    color: $teaser__title-color--list-horizontal;
  }

  @media (max-width: $screen-xs-max) {
    .teaser__title {
      @include text-helper-size($teaser__title-font-id--list-horizontal, $teaser__title-size--list-horizontal-mobile);
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .teaser__title {
      @include text-helper-size($teaser__title-font-id--list-horizontal, $teaser__title-size--list-horizontal-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .teaser__title {
      @include text-helper-size($teaser__title-font-id--list-horizontal, $teaser__title-size--list-horizontal-desktop);
    }
  }
}

@mixin teaser-landscape-medium-text() {
  @include teaser-feed-large-text();
}

@mixin teaser-square-xs-text() {
  .teaser__title {
    @include text-helper($teaser-square-xs-font-id);
  }

  @media (max-width: $screen-xs-max) {
    .teaser__title {
      @include text-helper-size($teaser-square-xs-font-id, $teaser-square-xs-headline-size-mobile);
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .teaser__title {
      @include text-helper-size($teaser-square-xs-font-id, $teaser-square-xs-headline-size-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .teaser__title {
      @include text-helper-size($teaser-square-xs-font-id, $teaser-square-xs-headline-size-desktop);
    }
  }
}

/**
** Socials
**/

@mixin socials-labeled-horizontal-bar-text() {
  .item-social span {
    @include text-helper($socials-labeled-horizontal-bar-label-font-id, $socials-labeled-horizontal-bar-label-size);
    line-height: $socials-labeled-horizontal-bar-label-size + 1px;
    text-transform: uppercase;
  }
}

/**
** Products
**/

//todo only text
@mixin product__item-text() {

  &:hover:not(.item-product--sold-out) {
    .text-shop {
      @extend %product__item-text-shop--hover;
    }
  }

  &.item-product--strikethrough {
    .text-price--current {
      @include text-helper-size($product__item-text-price-font-id--strikethrough, $product__item-text-price-size--strikethrough);
      color: $product__item-text-price-color--strikethrough;
    }
  }

  &.item-product--sold-out {
    .text-shop {
      @extend %button--bg-colored-disabled;
    }
  }

  .text-headline {
    @include text-helper($product__item-text-headline-font-id, $product__item-text-headline-size, $product__item-text-headline-line-height);
    color: $product__item-text-headline-color;
  }

  .text-brand {
    @include text-helper($product__item-text-brand-font-id, $product__item-text-brand-size);
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $product__item-text-brand-color;
  }

  .text-price--strikethrough {
    @include text-helper($product__item-text-price-strikethrough-font-id, $product__item-text-price-strikethrough-size);
    color: $product__item-text-price-strikethrough-color;
    text-decoration: line-through;
    background-image: -webkit-linear-gradient($product__item-text-price-strikethrough-filter);
    background-image: -o-linear-gradient($product__item-text-price-strikethrough-filter);
    background-image: linear-gradient($product__item-text-price-strikethrough-filter);
  }

  .text-price--current {
    @include text-helper($product__item-text-price-font-id, $product__item-text-price-size);
    color: $product__item-text-price-color;
  }

  .text-shipping {
    @include text-helper($product__item-text-shipping-font-id, $product__item-text-shipping-size);
    color: $product__item-text-shipping-color;
  }

  .text-shop {
    @extend %product__item-text-shop--default;
  }
}

@mixin product__item-text-shop--default() {
  @extend %button;
  @extend %button--sm;
  @extend %button--lined-colored-default;
  display: inline-block;

  &:hover {
    @include product__item-text-shop--hover;
  }

  &:active {
    @include product__item-text-shop--hover;
  }

  &:disabled, &.disabled {
    @include button--disabled;
  }

  &.text-shop--tipser {
    @include button--white;
    @include button--icon($tipser__buy-icon, 'right');

    &:hover {
      @include button--lined-colored-hover;
    }
  }
}

// @mixin product__item-text-shop--default() {
//   @extend %button;
//   @extend %button--sm;
//   @extend %button--lined-colored-default;
//   display: inline-block;
// }

@mixin product__item-text-shop--hover() {
  @extend %button--lined-colored-hover;
}

@mixin product__item-text--ecommerce-slider() {

  &:hover:not(.item-product--sold-out) {
    .text-shop {
      //@include button--lined-colored($button__border-color--lined-colored-hover !important, $color: $button__color--lined-colored-hover !important);
      @extend %product__item-text-shop--ecommerce-slider-hover;
    }
  }

  &.item-product--strikethrough {
    .text-price--current {
      @include text-helper-size($ecommerce-slider__item-text-price-font-id--strikethrough, $ecommerce-slider__item-text-price-size--strikethrough);
      color: $ecommerce-slider__item-text-price-color--strikethrough;
    }

  }

  &.item-product--sold-out {
    .text-shop {
      @include button--bg-colored($button__bg-color--bg-colored-disabled !important, $color: $button__color--bg-colored-disabled !important);
      border: none !important;
      pointer-events: none;
    }
  }

  .text-headline {
    @include text-helper($ecommerce-slider__item-text-headline-font-id, $ecommerce-slider__item-text-headline-size);
    color: $ecommerce-slider__item-text-headline-color;
  }

  .text-brand {
    @include text-helper($ecommerce-slider__item-text-brand-font-id, $ecommerce-slider__item-text-brand-size);
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $ecommerce-slider__item-text-brand-color;
  }

  .text-price--current {
    @include text-helper($ecommerce-slider__item-text-price-font-id, $ecommerce-slider__item-text-price-size);
    color: $ecommerce-slider__item-text-price-color;
  }

  .text-price--strikethrough {
    @include text-helper($ecommerce-slider__item-text-price-strikethrough-font-id, $ecommerce-slider__item-text-price-strikethrough-size);
    color: $ecommerce-slider__item-text-price-strikethrough-color;
    text-decoration: line-through;
    background-image: -webkit-linear-gradient($ecommerce-slider__item-text-price-strikethrough-filter);
    background-image: -o-linear-gradient($ecommerce-slider__item-text-price-strikethrough-filter);
    background-image: linear-gradient($ecommerce-slider__item-text-price-strikethrough-filter);
  }

  .text-shipping {
    @include text-helper($ecommerce-slider__item-text-shipping-font-id, $ecommerce-slider__item-text-shipping-size);
    color: $ecommerce-slider__item-text-shipping-color;
  }

  .text-shop {
    //@extend %button;
    //@extend %button--sm;
    //@include button--lined-colored($button__border-color--lined-colored-default !important, $color: $button__color--lined-colored-default !important);
    //display: inline-block;
    @extend %product__item-text-shop--ecommerce-slider;
  }
}

@mixin product__item-text-shop--ecommerce-slider() {
  @include product__item-text-shop--default();
}

@mixin product__item-text-shop--ecommerce-slider-hover() {
  @include product__item-text-shop--hover();
}

@mixin product__item-text--single-product() {
  text-align: $product-text-align--single-product;
  position: relative;

  &:hover:not(.item-product--sold-out) {
    .text-shop {
      @extend %product__item-text-shop--single-product-hover;
    }
  }

  &.item-product--sold-out {
    .text-shop {
      @extend %button--bg-colored-disabled;
    }

  }

  &.item-product--strikethrough {
    .text-price--current {
      @include text-helper-size($product__item-text-price-font-id--single-product-strikethrough, $product__item-text-price-size--single-product-strikethrough);
      color: $product__item-text-price-color--single-product-strikethrough;
    }
  }

  .text-headline {
    @include text-helper($product__item-text-headline-font-id--single-product, $product__item-text-headline-size-mobile--single-product);
    color: $product__item-text-headline-color--single-product;
  }

  .text-brand {
    @include text-helper($product__item-text-brand-font-id--single-product, $product__item-text-brand-size--single-product);
    letter-spacing: $product__item-text-brand-letter-spacing--single-product;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $product__item-text-brand-color--single-product;
    min-height: $product__item-text-brand-size--single-product + 7px;
  }

  .text-price--current {
    @include text-helper($product__item-text-price-font-id--single-product, $product__item-text-price-size--single-product);
    color: $product__item-text-price-color--single-product;
    letter-spacing: 1px;
  }

  .text-price--strikethrough {
    @include text-helper($product__item-text-price-strikethrough-font-id--single-product, $product__item-text-price-strikethrough-size--single-product);
    color: $product__item-text-price-strikethrough-color--single-product;
    text-decoration: line-through;
    letter-spacing: 1px;
  }

  .text-shop {
    @extend %product__item-text-shop--single-product;
  }

  @media (min-width: $screen-md-min) {
    &:before, &:after {
      font-size: $product__shop-icon-size--single-product;
      right: $product__shop-icon-pos-right--single-product;
    }

    .text-headline {
      @include text-helper-size($product__item-text-headline-font-id--single-product, $product__item-text-headline-size-desktop--single-product);
    }
  }
}

@mixin product__item-text-shop--single-product() {
  @include product__item-text-shop--default();
}

@mixin product__item-text-shop--single-product-hover() {
  @include product__item-text-shop--hover();
}

/**
** Lists
**/

@mixin list__links--module-text() {
  @include text-helper($list__links--module-font-id, $list__links--module-font-size);
}

@mixin list__glossary-text() {
  @include text-helper($list__glossary-font-id, $list__glossary-font-size);
}

@mixin item-content--spotlight-text() {
  text-align: center;

  .title {
    @include text-helper($spotlight__title-font-id);
    letter-spacing: $spotlight__title-letter-spacing;
    text-shadow: $spotlight__caption-text-shadow;
  }

  .subtitle {
    @include text-helper($spotlight__subtitle-font-id, $spotlight__subtitle-size);
    text-transform: uppercase;
    text-shadow: $spotlight__caption-text-shadow;
  }

  .copytext {
    @include text-helper($spotlight__copytext-font-id);
    text-shadow: $spotlight__caption-text-shadow;
  }
}

@mixin item-content--spotlight-small-text() {
  .title {
    @include text-helper-size($spotlight__title-font-id, $spotlight__title-size-mobile);
  }

  .copytext {
    @include text-helper-size($spotlight__copytext-font-id, $spotlight__copytext-size-mobile);
  }
}

@mixin item-content--spotlight-middle-text() {
  .title {
    @include text-helper-size($spotlight__title-font-id, $spotlight__title-size-tablet);
  }

  .copytext {
    @include text-helper-size($spotlight__copytext-font-id, $spotlight__copytext-size-tablet);
  }
}

@mixin item-content--spotlight-full-text() {
  .title {
    @include text-helper-size($spotlight__title-font-id, $spotlight__title-size-desktop);
    letter-spacing: 1.1;
  }

  .copytext {
    @include text-helper-size($spotlight__copytext-font-id, $spotlight__copytext-size-desktop);
  }
}

/**
** Menus
**/

@mixin menu--main-navigation-text() {
  .menu-item {
    @include text-helper($menu--main-navigation-font-id, $menu--main-navigation-size, 1);
    text-transform: uppercase;
    //line-height: 1;
  }
}

@mixin menu--main-navigation__flyout-text() {
  @include text-helper($menu--main-navigation__flyout-font-id, $menu--main-navigation__flyout-size);
}

@mixin menu--submenu-navigation-text() {
  .label-menu {
    @include text-helper($menu--submenu-navigation-font-id, $menu--submenu-navigation-size);
    text-transform: uppercase;
  }

  .menu-item {
    @include text-helper($menu--submenu-navigation-font-id, $menu--submenu-navigation-size);
    color: $menu--submenu-navigation-color;
    text-transform: uppercase;
  }
}

@mixin item-paragraph--profile-text() {

  .title {
    @extend %text-label;
    @include text-label-size($profile__title-size);
    text-transform: uppercase;
    color: $profile__title-color;
  }

  .col--right {
    text-align: center;
  }

  th {
    @extend %text-label;
    @include text-label-size($profile__th-size);
    color: $profile__th-color;
    text-transform: uppercase;
  }

  td {
    color: $profile__td-color;
  }
}

@mixin item-media--header-text() {
  .text-headline {
    @include text-helper($title--media-header-font-id);
    text-shadow: $title--media-header-text-shadow;
    text-transform: $title--media-header-text-transform;
    color: $title--media-header-color;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media (max-width: $screen-xxs-max) {
    .text-headline {
      @include text-helper-size($title--media-header-font-id, $title--media-header-mobile);
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .text-headline {
      @include text-helper-size($title--media-header-font-id, $title--media-header-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .text-headline {
      @include text-helper-size($title--media-header-font-id, $title--media-header-desktop);
      letter-spacing: $title--media-header-letter-spacing;
    }
  }
}

/**
** Menu Sidebar
**/
@mixin menu--sidebar-main-text() {
  .menu-item {
    @include text-helper($menu--sidebar-main-font-id, $menu--sidebar-main-size);
    text-transform: $menu--sidebar-main-text-transform;
  }
}

@mixin menu--sidebar-misc-text() {
  color: $menu--sidebar-misc-color;

  .menu-item {
    @include text-helper($menu--sidebar-misc-font-id, $menu--sidebar-misc-size);
    text-transform: $menu--sidebar-misc-text-transform;
  }

  li {
    &:hover {
      a {
        color: $menu--sidebar-misc-hover-color;
      }
    }
  }

  @content;
}

/**
** Media
**/
@mixin item-media--gallery-text() {
  .text-item-count {
    @include text-helper($gallery__count-font-id);
    color: $gallery__count-color;
  }

  @media (max-width: $screen-xs-max) {
    .text-item-count {
      @include text-helper-size($gallery__count-font-id, $gallery__count-size-mobile);
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .text-item-count {
      @include text-helper-size($gallery__count-font-id, $gallery__count-size-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .text-item-count {
      @include text-helper-size($gallery__count-font-id, $gallery__count-size-desktop);
    }
  }
}

@mixin item-media--file-text() {
  .item-media__title--file {
    @include text-helper($media__title-font-id--file);
    color: $media__title-color--file;
  }

  .item-media__description--file {
    @include text-helper($media__description-font-id--file);
    color: $media__description-color--file;
  }

  .item-media__btn-download--file {
    @include btn--large(($media__btn-download-size-mobile--file, $media__btn-download-size-tablet--file, $media__btn-download-size-desktop--file), $media__btn-download-font-id--file);
  }

  @media (max-width: $screen-xs-max) {
    .item-media__title--file {
      @include text-helper-size($media__title-font-id--file, $media__title-size-mobile--file);
    }

    .item-media__description--file {
      @include text-helper-size($media__description-font-id--file, $media__description-size-mobile--file);
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .item-media__title--file {
      @include text-helper-size($media__title-font-id--file, $media__title-size-tablet--file);
    }

    .item-media__description--file {
      @include text-helper-size($media__description-font-id--file, $media__description-size-tablet--file);
    }
  }

  @media (min-width: $screen-md-min) {
    .item-media__title--file {
      @include text-helper-size($media__title-font-id--file, $media__title-size-desktop--file);
    }

    .item-media__description--file {
      @include text-helper-size($media__description-font-id--file, $media__description-size-desktop--file);
    }
  }
}

@mixin item-content__text--horoscopes() {
  .item-horoscope__viversum-sponsored {
    @include text-helper($horoscope__sponsored-font-id, $horoscope__sponsored-size);
    color: $horoscope__sponsored-color;
  }
}

@mixin item-content__text--node-horoscope() {
  .item-horoscope__viversum-sponsored {
    @include text-helper($horoscope__sponsored-font-id, $horoscope__sponsored-size);
    color: $horoscope__sponsored-color;
  }
}

@mixin item-anchor-nav__text() {
  @include text-helper($anchor-nav__item-font-id);
  text-transform: $anchor-nav__item-text-transform;

  li {
    display: inline-block;
  }

  @media (max-width: $screen-xs-max) {
    @include text-helper-size($anchor-nav__item-font-id, $anchor-nav__item-size-mobile);
    color: $anchor-nav__item-mobile-color;
  }

  @media (min-width: $screen-sm-min) {
    color: $anchor-nav__item-color;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($anchor-nav__item-font-id, $anchor-nav__item-size-tablet);
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($anchor-nav__item-font-id, $anchor-nav__item-size-desktop);
  }
}
