@mixin item-breadcrumb($sizes: ($breadcrumb-size-mobile, $breadcrumb-size-tablet, $breadcrumb-size-desktop)) {
  $size-mobile: nth($sizes, 1);
  $size-tablet: nth($sizes, 2);
  $size-desktop: nth($sizes, 3);

  li {
    @include inline-block();
    @include text-helper($breadcrumb-font-id);
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
    margin: $breadcrumb__item-margin;
    color: $breadcrumb-color;

    &:before {
      content: $breadcrumb-before-content;
      color: $breadcrumb-before-color;
      position: absolute;
      left: $breadcrumb-before-left;
      top: $breadcrumb-before-top;
    }

    &:first-child {
      margin-left: 0;

      &:before {
        content: none;
      }
    }

    &:last-child {
      color: $breadcrumb-color-highlighted;
    }
  }

  @media (max-width: $screen-xxs-max) {
    li {
      @include text-helper-size($breadcrumb-font-id, $size-mobile);
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    li {
      @include text-helper-size($breadcrumb-font-id, $size-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    li {
      @include text-helper-size($breadcrumb-font-id, $size-desktop);
    }
  }
}
