@mixin tags--article() {
  @include text-helper($tags__article-font-id);

  .label {
    display: inline-block;
    margin-right: 7px;
  }

  ul {
    display: inline;
  }

  li {
    display: inline-block;
    position: relative;
    font-style: italic;
    margin: $tags__item-margin-mobile;

    &:last-child {
      a:after {
        content: none;
      }
    }
  }

  a {
    @include text-helper-size($tags__article-font-id, $tags__article-text-size-mobile);
    color: $color-highlighted;

    &:after {
      content: ",";
      position: absolute;
      right: -4px;
      color: $text-highlighted;
    }

    @if ($is-mobile == false) {
      &:hover {
        color: $color-highlighted-hover;
      }
    }
  }

  @if ($is-mobile == false) {
    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
      li {
        margin: $tags__item-margin-tablet;
      }

      a {
        @include text-helper-size($tags__article-font-id, $tags__article-text-size-tablet);
      }
    }

    @media (min-width: $screen-md-min) {
      li {
        margin: $tags__item-margin-desktop;
      }

      a {
        @include text-helper-size($tags__article-font-id, $tags__article-text-size-desktop);
      }
    }
  }
}
