@mixin menu--main-navigation() {
  @extend %clearfix;
  @extend %transition-duration;
  @extend %transition-timing-function;
  @include transition-property(left, right, opacity);

  @include menu--main-navigation-text();

  position: relative;
  border-top: $h-line-style;
  border-bottom: $h-line-style;
  background-color: $menu--main-navigation-bg;
  height: $menu--main-navigation-min-height;

  &.stuck {
    position: fixed;
    left: 0;
    right: 0;
    z-index: ($newsletter__z-index--modal - 10);
    margin-left: 0;
    margin-right: 0;
    overflow: visible;

    .label-menu {
      display: none;
    }
  }

  .container-content {
    @extend %flexbox;
    @extend %align-items-center;
    position: relative;
    height: 100%;
  }

  /** animated properties in page-front.scss **/
  .logo {
    width: $logo-sticky-width;
    margin: $menu--main-navigation-logo-sticky-margin;
    float: left;

    img {
      width: $logo-sticky-width;
      height: 100%;
    }
  }

  .menu {
    white-space: nowrap;

    & > .menu-item {
      @extend %menu--main-navigation__item;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        & > ol, & > ul {
          @extend %menu--main-navigation__flyout-open;
        }
      }
    }

    ol, ul {
      @extend %menu--main-navigation__flyout;
      @include menu--main-navigation__flyout-text();
    }
  }

  .menu-item--active-trail {
    color: $color-hover;
  }

  @media (max-width: $screen-xs-max) {
    padding: $menu--main-navigation-padding-mobile;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    padding: $menu--main-navigation-padding-tablet;
  }

  @media (min-width: $screen-md-min) {
    padding: $menu--main-navigation-padding-desktop;
  }

  @media (max-width: $screen-md-max) {

  }

  @media (max-width: $screen-sm-max) {
    .menu {
      display: none;
    }
  }
}

@mixin menu--main-navigation__item() {
  @extend %transition-duration;
  @extend %transition-timing-function;
  @include transition-property(opacity, color, visibility);
  display: inline-block;

  & > a {
    color: $menu--main-navigation__item-color;
    display: inline-block;
  }

  &:hover > a, .is-active, & > a:hover {
    @extend %menu--main-navigation__item--active;
  }

  @media (max-width: $screen-md-max) {
    letter-spacing: $menu--main-navigation__item-letter-spacing-md;
    margin: $menu--main-navigation__item-margin-tablet;

    & > a {
      padding: $menu--main-navigation__item-padding-tablet;
    }
  }

  @media (min-width: $screen-lg-min) {
    margin: $menu--main-navigation__item-margin-desktop;
    letter-spacing: $menu--main-navigation__item-letter-spacing-lg;

    & > a {
      padding: $menu--main-navigation__item-padding-desktop;
    }
  }
}

@mixin menu--main-navigation__item--active() {
  background-color: $menu--main-navigation__item-active-bg;
  color: $menu--main-navigation__item-active-color;
}

@mixin menu--main-navigation__flyout() {
  @include transition-fade($menu--main-navigation__flyout-fade-duration, $transition-easing, $menu--main-navigation__flyout-fade-delay);
  @extend %fade-out;
  position: absolute;
  top: $menu--main-navigation__flyout-top;
  min-width: $menu--main-navigation__flyout-width;
  background-color: $menu--main-navigation__flyout-bg-color;
  border: $menu--main-navigation__flyout-border;
  color: $menu--main-navigation__flyout-color;
  padding: $menu--main-navigation__flyout-padding;
  z-index: 3;

  li {
    @include menu--main-navigation__flyout-item();
    margin: $menu--main-navigation__flyout__item-margin;
    display: list-item;
  }

  a {
    display: inline-block;
  }
}

@mixin menu--main-navigation__flyout-open() {
  @extend %fade-in;
}

@mixin menu--main-navigation__flyout-item() {
  @extend %menu--main-navigation__item;
}

/**
** Submenu
**/

@mixin menu--submenu-navigation() {
  @include menu--submenu-navigation-text();

  .menu {
    position: relative;
    text-align: center;
    margin: 22px 0;
  }

  .menu-item {
    @include menu--submenu-navigation__item();
  }

  @include menu--submenu-navigation--mobile();
}

@mixin menu--submenu-navigation--mobile() {
  @media (max-width: $screen-xs-max) {
    &.is-open {
      .menu-item {
        a {
          display: block;
        }

        .is-active {
          @include icon-arrow-up-small();
        }
      }

      .menu {
        padding: $menu--submenu-navigation-padding-mobile--open;
      }
    }

    .menu {
      padding: $menu--submenu-navigation-padding-mobile;
    }

    .menu-item {
      display: block;

      a {
        display: none;
        text-align: left;
        color: $menu--submenu-navigation-mobile-color;
      }

      .is-active {
        @include icon();
        @include icon-arrow-down-small();

        color: $menu--submenu-navigation-mobile-color-active;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 0;

        &:before {
          color: $menu--submenu-navigation-mobile-color-active;
          position: absolute;
          right: 0;
        }
      }
    }
  }
}

@mixin menu--submenu-navigation__item() {
  @include inline-block();

  &:first-child {
    margin-left: 0;
  }

  a {
    padding: $menu--submenu-navigation__item_padding;
  }

  .is-active, a:hover {
    @include menu--submenu-navigation__item--active();
  }

  @media (max-width: $screen-xs-max) {
    margin: $menu--submenu-navigation__item_margin-mobile;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    margin: $menu--submenu-navigation__item_margin-tablet;
  }

  @media (min-width: $screen-md-min) {
    margin: $menu--submenu-navigation__item_margin-desktop;
  }
}

@mixin menu--submenu-navigation__item--active() {
  @include menu--main-navigation__item--active();
}

@mixin menu__sidebar-btn--main-navigation() {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  z-index: 2;
  color: $navigation-menu-icon-color;
  cursor: pointer;

  &:before {
    font-size: $navigation-menu-icon-size;
    cursor: pointer;
  }

  &:hover {
    color: $navigation-menu-icon-hover-color;
  }

  .label-menu {
    @include text-helper($menu--main-navigation__menu-label-font-id, $menu--main-navigation__menu-label-size, 1);
    @include inline-block();
    margin: $menu--main-navigation__menu-label-margin;
    color: $menu--main-navigation__menu-label-color;
    text-transform: $menu--main-navigation__menu-label-text-transform;
    display: none;
  }

  @media (max-width: $screen-xs-max) {
    left: $container-h-gap--mobile;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    left: $container-h-gap--tablet;
  }

  @media (min-width: $screen-md-min) {
    left: $container-h-gap--desktop;
  }
}

@mixin menu__search-btn--main-navigation() {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  color: $navigation-search-icon-color;

  &:before {
    font-size: $navigation-search-icon-size;
    cursor: pointer;
  }

  &:hover {
    color: $navigation-menu-icon-hover-color;
  }

  @media (max-width: $screen-xs-max) {
    right: $container-h-gap--mobile;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    right: $container-h-gap--tablet;
  }

  @media (min-width: $screen-md-min) {
    right: $container-h-gap--desktop;
  }
}

@mixin menu--sidebar() {
  @extend %transition-default;
  @extend %fade-out;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: $menu--sidebar-bg;

  &.open {
    @extend %fade-in;
    z-index: $zindex-menu-sidebar;

    .container-content {
      left: 0;
    }

    .menu li {
      @extend %fade-in;
    }
  }

  .container-content {
    @extend %transition-default;
    position: relative;
    width: $menu-sidebar-width;
    height: 100%;
    background-color: $menu__bg-color--sidebar;
    color: $menu__color--sidebar;
    border-right: $h-line-style;
    left: -$menu-sidebar-width;
    overflow-y: scroll;
  }

  .item-sidebar, .socials-bar {
    padding: $menu__item-sidebar-block-padding--sidebar;
    margin: $menu__item-sidebar-block-margin--sidebar;
  }

  .item-sidebar:not(.logo), .socials-bar {
    border-top: $menu__item-sidebar-block-border--sidebar;
  }

  .icon-close {
    position: absolute;
    right: 15px;
    top: 22px;
    font-size: $icon-size-large;
    padding-left: 10px;
    padding-right: 10px;
  }

  .logo {
    display: block;
    padding-right: 0;
    margin-right: 50px;

    img {
      width: $menu--sidebar-logo-width;
      height: auto;
    }
  }

  .menu {
    li {
      @extend %transition-default-linear;
      @extend %fade-out;
      margin-top: $menu__item--sidebar-gap-top;

      &:first-child {
        margin-top: 0;
      }
    }

    .is-active {
      color: $menu__item-active-color--sidebar;
    }
  }

  .menu-item {
    position: relative;
  }

  .item-lined {
    @include menu__item-lined--sidebar;
  }

  .item-soft {
    color: $menu__item--sidebar-soft-color;
  }
}

@mixin menu__item-lined--sidebar() {
  margin-top: floor($menu__item--sidebar-gap-top*3);
  display: inline-block;

  &:after {
    content: " ";
    border-top: $menu__item-sidebar-block-border--sidebar;
    width: 100%;
    position: absolute;
    top: $menu__item--sidebar-gap-top;
    left: 0;
  }
}

@mixin menu--sidebar-main() {
  @include menu--sidebar-main-text();
}

@mixin menu--sidebar-misc() {
  @include menu--sidebar-misc-text();
}

@mixin menu--sidebar-logos() {
  .menu .menu-item {
    @include hide-text();
    margin-top: $gap-size-lg;

    &:first-child {
      margin-top: 0;
    }
  }

  .item-sidebar__logo {
    @include opacity(0.5);
    @include transition-default();
    display: block;
    cursor: pointer;

    &:after {
      content: " ";
      width: 100%;
      height: 100%;
      display: block;

      filter: grayscale(100%) contrast(100);
      -webkit-filter: grayscale(100%) contrast(100);
    }

    &:hover {
      @include opacity(1);
      &:after {
      }
    }
  }

  @include menu__items--sidebar-logos();
}

@mixin menu__items--sidebar-logos() {

}
