@mixin text-helper($font, $size: '', $line-height: '') {

  @if ($font == $font-headline-id) {
    @extend %text-headline;
  } @else if ($font == $font-headline-bold-id) {
    @extend %text-headline-bold;
  } @else if ($font == $font-navigation-id) {
    @extend %text-navigation;
  } @else if ($font == $font-tiny-id) {
    @extend %text-tiny;
  } @else if ($font == $font-label-id) {
    @extend %text-label;
  } @else if ($font == $font-content-id) {
    @extend %text-content;
  } @else {
    font-family: $font;
  }

  @if ($size!= '') {
    @include text-helper-size($font, $size, $line-height);
  }
}

@mixin text-helper-size($font, $size, $line-height: '') {
  @if ($font == $font-headline or $font == $font-headline-bold) {

    @if ($line-height == '') {
      $line-height: $line-height-headline;
    }
    @include text-headline-size($size, $line-height);

  } @else if ($font == $font-label, $line-height) {

    @if ($line-height == '') {
      $line-height: $line-height-label;
    }
    @include text-label-size($size, $line-height);

  } @else if ($font == $font-tiny) {

    @if ($line-height == '') {
      $line-height: $line-height-text-tiny;
    }
    @include text-tiny-size($size, $line-height);

  } @else {

    @if ($line-height == '') {
      $line-height: $line-height-content;
    }
    @include text-content-size($size, $line-height);

  }
}

@mixin text-label($size: '', $color: '') {
  font-family: $font-label;
  letter-spacing: $label-letter-spacing;

  @if ($size!= '') {
    @include text-label-size($size);
  }

  @if ($color != '') {
    color: $color;
  }
}

@mixin text-label-size($size: $label-size-small, $line-height: $line-height-label) {
  font-size: $size;
  line-height: $line-height;
}

@mixin text-headline($size: '', $color: '', $letter-spacing: $headline-letter-spacing, $font-weight: $headline-font-weight) {
  font-family: $font-headline;
  @include _text-headline($size, $color, $letter-spacing, $font-weight);
}

@mixin text-headline-bold($size: '', $color: '', $letter-spacing: $headline-bold-letter-spacing, $font-weight: $headline-bold-font-weight) {
  font-family: $font-headline-bold;
  @include _text-headline($size, $color, $letter-spacing, $font-weight);
}

@mixin _text-headline($size: '', $color: '', $letter-spacing: $headline-letter-spacing, $font-weight: '') {
  letter-spacing: $letter-spacing;

  @if ($size!= '') {
    @include text-headline-size($size);
  }

  @if ($color != '') {
    color: $color;
  }

  @if ($font-weight != '') {
    font-weight: $font-weight;
  }
}

@mixin text-headline-size($size, $line-height: $line-height-headline) {
  font-size: $size;
  line-height: $line-height;
}

@mixin text-navigation($size: '', $color: '') {
  font-family: $font-navigation;
  letter-spacing: $navigation-letter-spacing;

  @if ($size != '') {
    @include text-navigation-size($size);
  }

  @if ($color != '') {
    color: $color;
  }
}

@mixin text-navigation-size($size, $line-height: $line-height-text-navigation) {
  font-size: $size;
  line-height: $line-height;
}

@mixin text-tiny($size: '', $color: '') {
  font-family: $font-tiny;
  letter-spacing: $tiny-letter-spacing;

  @if ($size != '') {
    @include text-tiny-size($size);
  }

  @if ($color != '') {
    color: $color;
  }
}

@mixin text-tiny-size($size, $line-height: $line-height-text-tiny) {
  font-size: $size;
  line-height: $line-height;
}

@mixin text-content($size: '', $color: '') {
  font-family: $font-content;
  letter-spacing: $content-letter-spacing;

  @if ($size != '') {
    @include text-content-size($size);
  }

  @if ($color != '') {
    color: $color;
  }
}

@mixin text-content-bold($size: '', $color: '') {
  font-family: $font-content-bold;
  letter-spacing: $content-bold-letter-spacing;

  @if ($size != '') {
    @include text-content-size($size);
  }

  @if ($color != '') {
    color: $color;
  }
}

@mixin text-content-size($size, $line-height: $line-height-content) {
  font-size: $size;
  line-height: $line-height;
}

@mixin text-content-html() {
  & > p, & > .text-label {
    &:first-child {
      margin-top: 0;
    }
  }

  h2, h3, h4, h5, h6 {
    @extend %title--text-block;
  }

  & > p, .btn, .btn--small, .btn--large {
    margin-top: $grid-gutter-width;
  }

  a {
    text-decoration: underline;
  }

  ul {
    @extend %list-ul--text-block;
  }

  ol {
    list-style-type: decimal;
  }

  ul, ol {
    @extend %list--text-block;
  }

  table {
    margin-top: 1em;

    @extend %table--text-block;
  }
}
