@mixin content__header-center() {

}

@mixin item-content__header() {
  @extend %gap__container--h-negative;

  .ratio-wrapper {
    @include item-media--header-ratio();
    position: relative;
    height: 0;
    overflow: hidden;

    .caption {
      @extend %gap__container--h-padding;
      @extend %flexbox;
      @extend %align-items-center;
      @extend %justify-content-center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .title--page {
    //text-align: center;
    width: 100%;
  }

  @media (max-width: $screen-xxs-max) {
    .author {
      margin: $author__margin-mobile--content-header;
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .author {
      margin: $author__margin-tablet--content-header;
    }
  }

  @media (min-width: $screen-md-min) {
    .author {
      margin: $author__margin-desktop--content-header;
    }
  }
}

@mixin item-content__content() {
  position: relative;

  .item-paragraph {
    @extend %margin--v-item-content__item;
  }

  .item-paragraph--full {
    &:first-child {
      margin-top: 0;
    }

    &:first-child:not(.item-paragraph--seo-links) {
      padding-top: 0;
    }
  }

  & > .item-paragraph--spotlight:first-child {
    @include margin--v-region((-$gap-v-region-mobile, -$gap-v-region-tablet, -$gap-v-region-desktop));
  }

  .item-group--outer-wrapper {
    @extend %region--full-content;

    .item-paragraph {
      &:first-child {
        margin-top: 0;
        padding-top: 0;
      }
    }
  }

  .socials-vertical-bar {
    position: absolute;
    top: 0;
    z-index: 10;
  }

  .item-group--outer {
    position: relative;
    min-height: 160px;
  }

  @media (max-width: $screen-xs-max) {
    .socials-vertical-bar {
      margin-left: 0;
    }
  }

  @media (min-width: $screen-sm-min) {
    .item-group--outer {
      @include region--fixed-content();
      padding-right: 0;
    }

    & > .item-paragraph--small, & > .item-paragraph--middle {
      @include region--fixed-content();
      padding-left: $article-socials-column-width;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .socials-vertical-bar {
      margin-left: -$article-socials-column-width-tablet;
    }

    .item-group--outer {
      padding-left: $article-socials-column-width-tablet;
    }
  }

  @media (min-width: $screen-md-min) {

    .socials-vertical-bar {
      margin-left: -$article-socials-column-width;
    }

    .item-group--outer {
      padding-left: $article-socials-column-width;
    }

    //todo check if > necessary
    & > .item-paragraph--small,
    & > .item-group--outer-wrapper > .item-group--outer > .item-paragraph--small,
    .item-content__block--tags,
    .item-content__block--pager,
    .item-content__block--meta-data {
      padding-right: $feed-ad-column-width + $feed-ad-column-margin;
    }
  }
}

@mixin item-content__block() {
  @extend %margin--v-item-content__item;

  &:first-child:not(.item-group--outer-wrapper) {
    margin-top: 0;
    padding-top: 0;
  }
}

@mixin item-content__row--sidebar() {
  @extend %flexbox;
  position: relative;

  & > .col--left {
    @extend %flex-item-1;
    width: 100%;
    overflow: hidden;
  }

  & > .col--right {
    display: block;
    position: relative;
    min-height: 1px;
    float: left;
    width: $feed-ad-column-width;
    margin-left: $feed-ad-column-margin;
  }

  @media (max-width: $screen-sm-max) {
    & > .col--right {
      display: none;
    }
  }

  //@media (min-width: $screen-md-min) {
  //}
}

@mixin item-content--user() {
  .region-teaser-list {
    @include gap--v-region();
  }

  .item-group--outer {
    padding-left: 0;
  }

  .item-author__article-title {
    @extend %region--fixed-content;
    @extend %title--content-block;
    @extend %gap--v-region;
    margin-bottom: 0;
  }

  .item-author--detail-large {
    @extend %region--fixed-content;

    @media (min-width: $screen-md-min) {
      padding-right: $feed-ad-column-width + $feed-ad-column-margin;
    }
  }
}

@mixin item-content--archive() {
  .item-content__header {
    @extend %gap__container--h-negative;
    border-bottom: $h-line-style;
  }

  .item-content__content {
    @extend %region--full-content;
    @extend %margin--v-xxl;
  }

  .btn__open-tree {
    @extend %region--full-content;
    @extend %btn__open-tree--mobile;
    display: none;
    padding: $archive__open-tree-padding; // $gap-size-md
    margin: $archive__open-tree-margin; //$gap-size-md;
    border-bottom: $archive__open-tree-border; //$h-line-style

    span {
      @extend %text-label;
      @include text-label-size($menu--submenu-navigation-size);
      text-transform: uppercase;
      color: $menu--submenu-navigation-color;
    }
  }

  .title--list {
    @include text-helper($archive__list-title-font, $archive__list-title-size);
    text-align: left;
    display: block;
    padding-bottom: $gap-size-xs;
    text-transform: $archive__list-title-text-transform;
    letter-spacing: $archive__list-title-letter-spacing;
  }

  .col--left {
    .title--list {
      color: $archive__list-title-color;
    }

    .block--archive-tree-ym {
      & > ul {

        & > li {
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }

    ul ul {
      @extend %list__glossary;

      li {
        min-width: 69px;
      }
    }
  }

  .col--right {
    .title--list {
      color: $archive__teaser-list-title-color //$gray-base;
    }
  }

  .list__teasers {
    li {
      @extend %list__item--teasers-square-xs;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  /**
  ** Responsive settings
  **/

  @media (max-width: $screen-xs-max) {
    &.btn__open-tree--is-open {
      .col--left {
        display: block;
      }

      .col--right {
        display: none;
      }
    }

    .btn__open-tree {
      display: block;
    }

    .col--left {
      display: none;
    }

    .col--right {
      margin-top: $gap-size-md;

      .title--list {
        display: none;
      }
    }

    .list__teasers {
      li:first-child {
        padding-top: 0;
        border-top: 0;
      }
    }

    .block--archive-tree-ym {
      & > ul {
        & > li {
          margin-top: $gap-size-lg;
        }
      }

      ul ul {
        li {
          margin-right: 1%;
          min-width: 24%;
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .item-content__row {
      @include make-row();
    }

    .col--left {
      @include make-xxs-column(10);
      text-align: right;
    }

    .col--right {
      @include make-xxs-column(14);
    }

    .block--archive-tree-ym {
      width: 220px;
      display: inline-block;

      & > ul {
        & > li {
          margin-top: $gap-size-xl;
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .col--left {
      padding-right: $gap-size-xxxl;
    }
  }

  @media (min-width: $screen-md-min) {
    .col--left {
      padding-right: 140px;
    }
  }
}

@mixin item-content--article() {
  @extend %container--v-sm-padding;

  .item-content__header {
    @extend %region--fixed-content;
  }

  .item-content__content {
    & > .item-content__block:first-child, & > .item-block:first-child {
      margin-top: 0;
    }
  }

  #main {
    padding-bottom: 0; //feed gap
  }

  .breadcrumb {
    @extend %region--fixed-content;
  }

  .item-content__block--meta-data {
    @extend %item-author--vita-short;
  }

  //position socials on top
  @media (max-width: $screen-xs-max) {

    .item-content__header {
      padding: $article__header-padding-mobile;
    }

    .item-content__content {
      //padding-top: $socials-vertical-bar-size-mobile + $gap-v-region-mobile;
      @include padding--v-region(top, (($gap-v-region-mobile*2), ($gap-v-region-tablet*2), ($gap-v-region-desktop*2)));
    }

    .item-group--outer-wrapper .item-group--outer {
      position: static;
    }

    .socials-vertical-bar {
      top: 0;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .item-content__header {
      padding: $article__header-padding-tablet;
    }
  }

  @media (min-width: $screen-md-min) {
    .item-content__header {
      padding: $article__header-padding-desktop;
    }
  }
}

@mixin item-content--taxonomy() {
  .item-content__header {
    //@extend %content__header-center;
    //@extend %region--full-content;
    @extend %gap__container--h-negative;
  }

  .item-content__content {
    @extend %region--full-content;
  }

  .item-content__header + .item-content__content {
    @extend %margin--v-region;
    @if ($region-v-lined) {
      border-top: $h-line-style;
    }
  }

  @media (max-width: $screen-xs-max) {
    .socials-vertical-bar {
      display: none;
    }
  }
}

@mixin item-content--horoscopes() {
  @include item-content__text--horoscopes();

  .item-content__content .item-group--outer {
    padding-left: 0;
  }

  .col--left {
    .item-paragraph--text:first-child {
      h2, .title--horoscopes {
        @include title--article(($title--article-mobile - 3px, $title--article-tablet, $title--article-desktop - 5px));
      }

      p {
        @include margin--v-sm();
      }
    }
  }

  .item-horoscope__teaser-list {
    @extend %teaser-list--horoscope-50;

    .teaser {
      @extend %teaser--horoscope-square;
    }
  }

  .item-horoscope__viversum-sponsored {
    @extend %item-horoscope__viversum-sponsored;
  }

  .item-horoscope__viversum-banner {
    @extend %item-horoscope__viversum-banner;
  }
}

@mixin item-content--node-horoscope() {
  @extend %item-content--article;
  @include item-content__text--node-horoscope();

  .item-horoscope__date {
    @extend %item-date--horoscope;
  }

  .item-horoscope__viversum-sponsored {
    @extend %item-horoscope__viversum-sponsored;
    border-top: $horoscope__sponsored-border;
  }

  .item-horoscope__viversum-banner {
    @extend %item-horoscope__viversum-banner;
  }

  .item-horoscope__teaser-list {
    @extend %teaser-list--horoscope-middle;

    .teaser {
      @extend %teaser--horoscope-square-medium;
    }
  }

  .item-horoscope__pager-typo {
    @extend %list--text-block;
    @extend %list-ul--text-block;
  }

  .item-horoscope__pager-typo-title {
    @extend %title--text-block;
  }

  .item-horoscope__pager {
    @extend %item-pager--list;
  }

  .item-horoscope__img-container {
    text-align: center;
    border-bottom: $horoscope__img-container-border--node;

    img {
      max-width: 70%;
    }
  }

  @media (max-width: $screen-xs-max) {
    .item-horoscope__img-container {
      margin-bottom: $horoscope__img-container-margin-mobile--node;
      padding-bottom: $horoscope__img-container-padding-mobile--node;
    }
  }

  @media (min-width: $screen-sm-min) {
    .item-pager__tree {
      .menu {
        @include make-row();

        li {
          @include make-column($grid-columns/2);
          margin-left: 0;
          text-indent: 0;
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .item-horoscope__img-container {
      margin-bottom: $horoscope__img-container-margin-tablet--node;
      padding-bottom: $horoscope__img-container-padding-tablet--node;
    }
  }

  @media (min-width: $screen-md-min) {
    .item-horoscope__img-container {
      margin-bottom: $horoscope__img-container-margin-desktop--node;
      padding-bottom: $horoscope__img-container-padding-desktop--node;
    }
  }
}

@mixin item-content--basic() {
  .item-content__header {
    //@extend %content__header-center;
    //@extend %region--full-content;
    @extend %gap__container--h-negative;
  }

  .item-content__content {
    @extend %region--full-content;
    @extend %gap--v-region;
    border-top: $h-line-style;
  }
}

@mixin item-content--vocabulary() {
  .item-content__header {
    //@extend %content__header-center;
    //@extend %container--v-padding-bottom;
    //@extend %region--full-content;
    @extend %gap__container--h-negative;
    border-bottom: $h-line-style;
  }

  .item-content__content {
    @extend %region--full-content;
    @extend %margin--v-xxl;
  }

  .btn__open-tree {
    @extend %region--full-content;
    @extend %btn__open-tree--mobile;
    display: none;
    padding: $archive__open-tree-padding;
    margin: $archive__open-tree-margin;
    border-bottom: $archive__open-tree-border;
  }

  .list__glossary {
    @extend %list__glossary;
    display: inline-block;
    text-align: left;

    li {
      min-width: 37px;
    }
  }

  .list__alphabetical {
    @extend %list__alphabetical;
  }

  /**
  ** Responsive settings
  **/

  @media (max-width: $screen-xs-max) {
    &.btn__open-tree--is-open {
      .col--left {
        display: block;
      }
    }

    .btn__open-tree {
      display: block;
    }

    .col--left {
      display: none;
    }

    .list__glossary {
      display: block;
      margin-top: $gap-size-sm;

      li {
        min-width: 24%;
        margin-right: 1%;
      }
    }

    .list__alphabetical {
      margin-top: $gap-size-xs;

      h2, h3 {
        @include region--full-content();
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .item-content__row {
      @include make-row();
    }

    .item-content__row-col {
      @include make-xxs-column($grid-columns/2);
    }

    .col--left {
      text-align: right;
    }

    .list__glossary {
      width: 280px;
    }

    .list__alphabetical {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .col--left {
      padding-right: $gap-size-xl;
    }

    .list__alphabetical {
      margin-top: $gap-size-xl;
    }
  }

  @media (min-width: $screen-md-min) {
    .col--left {
      padding-right: $gap-size-xxxl;
    }

    .list__alphabetical {
      margin-top: $gap-size-xxxl;
    }
  }
}