@mixin item-paragraph--small() {
  @include clearfix();

  .item-paragraph__title {
    @include title--content-block();
  }
}

@mixin item-paragraph--middle() {
  @include region--fixed-content();

  .item-paragraph__title {
    @include title--content-block();
  }
}

@mixin item-paragraph--full() {
  .item-paragraph__title {
    @extend %title--horizontal-block;
  }
}

@mixin item-paragraph--media() {
  .caption {
    @extend %region--fixed-content;
  }
}

@mixin item-paragraph--media--video() {
  &.item-paragraph--full {
    @extend %gap__container--h-negative;
  }
}

@mixin item-paragraph--media--image() {
  @extend %item-paragraph--media;

  &.item-paragraph--full {
    .img-container {
      @extend %gap__container--h-negative;
    }

    .item-media--image-portrait {
      img {
        max-width: 70%;
      }
    }
  }
}

@mixin item-paragraph--gallery() {
  @extend %item-paragraph--media--image;

  &.item-paragraph--full {
    @extend %gap__container--h-negative;

    //todo check if possible in root // here
    .gallery-header {
      margin-left: $gap-size-sm;
      margin-right: $gap-size-sm;
    }

    .item-media--gallery {

    }

    .img-container {
      padding-bottom: $gallery-ratio-full;
      margin: 0;
    }
  }

  &.item-paragraph--middle {
    .img-container {
      padding-bottom: $gallery-ratio-middle;
    }

    .item-media--image-landscape {
      img {
        width: auto;
        height: auto;
      }
    }
  }

  &.item-paragraph--small {
    .img-container {
      padding-bottom: $gallery-ratio-small;
    }
  }

  .swiper-slide {
    width: 100%;
  }
}

@mixin item-paragraph--text() {
  @extend %text-content-html;
  @extend %copytext--text-block;

  & > iframe, .instagram-media {
    margin-top: $gap-section !important;
  }
}

@mixin item-paragraph--spotlight() {
  @include item-content--spotlight-text();

  /** Defaults **/
  position: relative;

  img {
    @include img-full-responsive();
  }

  .socials-bar .item-social {
    @include socials-clean-horizontal-bar-item--light();
  }

  .spotlight__caption {
    color: $spotlight__caption-color;
  }

  /** Layouts **/

  &.item-paragraph--small {
    @include _spotlight--small();
  }

  &.item-paragraph--middle {
    @media (max-width: $screen-xs-max) {
      @include _spotlight--small();
    }

    @media (min-width: $screen-sm-min) {
      @include _spotlight--middle();
    }
  }

  &.item-paragraph--full {
    @include gap__container--h-negative();

    @media (max-width: $screen-xs-max) {
      @include _spotlight--small();
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include _spotlight--middle();
    }

    @media (min-width: $screen-md-min) {
      @include _spotlight--full();
    }
  }
}

@mixin _spotlight--small() {
  @include item-content--spotlight-small-text();

  .spotlight__caption {
    @include container--v-padding();
    padding-left: $gap-size-sm;
    padding-right: $gap-size-sm;
    padding-bottom: $gap-size-sm;
    background: $spotlight__caption-bg;
    position: relative;
  }

  .spotlight__title {
    margin-bottom: $gap-size-xxs;
  }

  .spotlight__subtitle {
    margin-bottom: $gap-size-xs;
  }

  .spotlight__copytext {
    margin-bottom: $gap-size-lg;
  }
}

@mixin _spotlight--middle() {
  @include item-content--spotlight-middle-text();

  .spotlight__caption {
    @include container--v-padding();
    padding-left: $gap-size-sm;
    padding-right: $gap-size-sm;
    padding-bottom: $gap-size-sm;
    background: $spotlight__caption-bg;
    position: relative;
  }

  .spotlight__title, .spotlight__subtitle {
    margin-bottom: $gap-size-xs;
  }

  .spotlight__copytext {
    margin-bottom: $gap-size-md;
  }
}

@mixin _spotlight--full() {
  @include item-content--spotlight-full-text();

  &.item-paragraph--spotlight-left {
    &:after {
      @include scaleX(-1);
    }

    .spotlight__caption {
      right: auto;
      left: 0;
      padding: $spotlight__caption-padding--left;
    }
  }

  &.item-paragraph--spotlight-right {
    .spotlight__caption {
      & > * {
        word-wrap: break-word;
      }
    }
  }

  .spotlight__caption {
    @include flexbox(vertical);
    @include align-items(center);
    @include justify-content(flex-end);
    width: $spotlight__caption--full-width;
    max-width: 40%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: $spotlight__caption-padding;
    z-index: 2;

    & > * {
      max-width: 100%;
    }
  }

  .spotlight__title, .spotlight__subtitle {
    margin-bottom: $gap-size-sm;
  }

  .spotlight__copytext {
    margin-bottom: $gap-size-lg;
    overflow: hidden;
  }

  &:after {
    content: " ";
    background: $spotlight__caption--full-bg;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @media (max-height: $screen-sm-max) {
    .spotlight__copytext {
      max-height: $spotlight__copytext-max-height;
    }
  }
}

@mixin item-paragraph--instagram() {
  padding: 5px 0;

  iframe {
    @include center-block();
    //max-width: 500px;
    width: 100%;
    box-shadow: none !important;
  }
}

@mixin item-paragraph--pinterest() {
  text-align: center;

  & > * {
    //max-width: 100% !important;
    min-width: 0 !important;
    box-shadow: none !important;
    //padding: 0 !important;
  }
}

@mixin item-paragraph--twitter() {
  & > iframe {
    @include center-block();
    width: 100% !important;
    max-width: 520px !important;
  }
}

@mixin item-paragraph--tracdelight() {
  @include products--horizontal-block();

  &.item-paragraph--full {
    @extend %gap--v-region;

    @if ($region-v-lined) {
      border-top: $h-line-style;
    }

    .item-title {
      @extend %title--horizontal-block;
    }
  }

  &.item-paragraph--small, &.item-paragraph--middle {
    .item-title {
      @extend %title--content-block;
    }
  }

  .item-product {
    @include product__item-text();
    @include product__item--horizontal-block();
  }
}

@mixin item-paragraph--term-teaser() {
  @include item-paragraph--content-teaser();
}

@mixin item-paragraph--recent-content() {
  @include item-paragraph--content-teaser();
}

@mixin item-paragraph--content-teaser() {

  &.item-paragraph--small, &.item-paragraph--middle {
    .text-title {
      @extend %title--content-block;
    }
  }

  .list__content-teaser--horizontal {
    @extend %list__content-teaser--horizontal;
  }

  .teaser {
    @extend %teaser--content;
    @extend %list__content-teaser__item--horizontal;
  }

  .item-marketing-sponsored {
    margin-bottom: 0px;
  }

  .item-marketing-native {
    .logo, .brand {
      height: 13px;
    }
  }

  .caption {
    overflow: hidden;
  }

  @media (max-width: $screen-xs-max) {
    .caption {
      height: $teaser--content-caption-height-mobile;
    }
  }

  @media (min-width: $screen-sm-min) {
    .caption {
      height: $teaser--content-caption-height;
    }

    &.item-paragraph--full {
      .teaser {
        @include list__content-teaser__item--horizontal($list__content-teaser--horizontal-count--full);
      }
    }

    &.item-paragraph--middle {
      .teaser {
        @include list__content-teaser__item--horizontal($list__content-teaser--horizontal-count--middle);
      }
    }

    &.item-paragraph--small {
      .teaser {
        @include list__content-teaser__item--horizontal($list__content-teaser--horizontal-count--small);
      }
    }
  }
}

/**
** Profile
**/

@mixin item-paragraph--profile() {
  @include item-paragraph--profile-text;

  .title {
    margin-bottom: $profile__title-gap-bottom;
  }

  .img-container {
    img {
      @extend %img-full-responsive;
    }
  }

  .caption {
    padding-top: $gap-size-xxs;
  }

  .facts {
    max-width: $profile__fact-max-width;
    width: 100%;
    display: inline-block;
  }

  table, tbody, th, td, tr {
    display: block;
    text-align: center;
  }

  tr {
    @include item-paragraph--profile__fact-item();
  }

  &.item-paragraph--small {
    @include _profile--small();
  }

  &.item-paragraph--middle {
    @media (max-width: $screen-xs-max) {
      @include _profile--small();
    }

    @media (min-width: $screen-sm-min) {
      @include _profile--middle();
    }
  }

  &.item-paragraph--full {
    @media (max-width: $screen-xs-max) {
      @include _profile--small();
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include _profile--middle();
    }

    @media (min-width: $screen-md-min) {
      @include _profile--full();
    }
  }
}

@mixin _profile--small() {
  .col--left {
    margin: 0 auto $gap-size-xxl auto;
    max-width: $profile__fact-max-width;
  }
}

@mixin _profile--middle() {
  @include _profile--two-col();

  .col--left {
    margin: 0 auto $gap-size-xxxl auto;
    max-width: $profile__fact-max-width;
  }
}

@mixin _profile--full() {
  @include _profile--two-col();

  .col--left {
    padding-left: $article-socials-column-width;

    .img-container, .caption {
      max-width: 387px;
      width: 100%;
    }
  }
}

@mixin _profile--two-col() {
  .wrapper {
    @include region--fixed-content();
  }

  .row {
    @include clearfix();
  }

  .col--left {
    @include make-md-column(11, 0);
  }

  .col--right {
    @include make-md-column(13, 0);
  }
}

@mixin item-paragraph--profile__fact-item() {
  th {
    border-top: $h-line-style;
    padding-top: $gap-size-xxs;
    margin-top: $gap-size-xxs;
  }

  td {
    margin-top: $gap-size-xxs;
  }
}

@mixin item-paragraph--seo-links() {

  &.item-paragraph--small {
    .swipeable__wrapper {
      @include list__images--horizontal(($gap-size-xs, $gap-size-xs, $gap-size-xs));
    }

    .seo-linker__item--image {
      @include list__images--horizontal__item(($gap-size-xs, $gap-size-xs, $gap-size-xs), 3);
    }
  }

  &.item-paragraph--middle, &.item-paragraph--full {
    .seo-linker__item--image {
      @extend %list__images--horizontal__item;
    }

    .swipeable__wrapper {
      @extend %list__images--horizontal;
    }
  }

  &.item-paragraph--full {
    .seo-linker--image {
      @extend %region--fixed-content;
    }
  }

  .seo-linker--image {
    @include seo-linker-text();
    overflow: hidden;
  }

  .swipeable__wrapper {
    @extend %swipeable__images--horizontal;
  }

  .seo-linker__item--image {
    @extend %swipeable__images--horizontal__item;

    .img-container img {
      @extend %img-full-responsive-inline-block;
    }
  }

  .seo-linker__item-title {
    @extend %gap__caption-top--h-teaser;
  }

  .seo-linker__link-list--image {
    @extend %list__links--module;
  }
}

@mixin item-paragraph--viversum-zodiac() {
  @extend %text-content-html;
  @extend %copytext--text-block;
  position: relative;

  .item-horoscope__rating {
    @extend %rating--stars;
  }
}

@mixin item-paragraph--quote() {
  @extend %center-block;
  text-align: $quote__text-align--article;
  position: relative;

  &:before, &:after {
    @extend %center-block;
    content: " ";
    max-width: $quote__border-max-width--article;
    border-top: $quote__border-style--article;
    display: block;
  }

  p:before, p:after {
    @include text-helper($quote__title-font--article);
    color: $quote__quote-color--article;
    font-style: $quote__title-font-style--article;
    position: relative;
    top: $quote__quote-top--article;
  }

  p {
    @include text-helper($quote__title-font--article);
    color: $quote__title-color--article;
    font-style: $quote__title-font-style--article;
    padding: $quote__title-padding--article;

    &:before {
      content: $quote__quote-before--article;
      padding: $quote__quote-before-padding--article;
    }

    &:after {
      content: $quote__quote-after--article;
      padding: $quote__quote-after-padding--article;
    }
  }

  footer {
    @include text-helper($quote__author-font--article);
    color: $quote__author-color--article;
    font-style: $quote__author-font-style--article;
    text-transform: $quote__author-text-transform--article;
    padding: $quote__author-padding--article;

    &:before {
      content: $quote__author-before--article;
      vertical-align: $quote__author-v-align--article;
      padding: $quote__author-before-padding--article;
    }
  }

  @media (max-width: $screen-xs-max) {
    p {
      @include text-helper-size($quote__title-font--article, $quote__title-size--article-mobile, $quote__title-line-height--article);
    }

    p:before, p:after {
      @include text-helper-size($quote__quote-font--article, $quote__quote-size--article-mobile, 0);
    }

    footer {
      @include text-helper-size($quote__author-font--article, $quote__author-size--article-mobile, $quote__author-line-height--article);
    }
  }

  @media (min-width: $screen-xs-min) {
    max-width: $quote__title-max-width--article;
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    p {
      @include text-helper-size($quote__title-font--article, $quote__title-size--article-tablet, $quote__title-line-height--article);
    }

    p:before, p:after {
      @include text-helper-size($quote__quote-font--article, $quote__quote-size--article-tablet, 0);
    }

    footer {
      @include text-helper-size($quote__author-font--article, $quote__author-size--article-tablet, $quote__author-line-height--article);
    }
  }

  @media (min-width: $screen-md-min) {
    p {
      @include text-helper-size($quote__title-font--article, $quote__title-size--article-desktop, $quote__title-line-height--article);
    }

    p:before, p:after {
      @include text-helper-size($quote__quote-font--article, $quote__quote-size--article-desktop, 0);
    }

    footer {
      @include text-helper-size($quote__author-font--article, $quote__author-size--article-desktop, $quote__author-line-height--article);
    }
  }
}

@mixin item-paragraph--media--file() {
  & + .item-paragraph--media--file {
    @include margin--v-sm();

    .item-paragraph__title {
      @include margin--v-sm();
    }
  }
}
