/**
** Containers
**/

@mixin reset-container-v-gap($lined: false) {
  @if ($region-v-lined or $lined) {
    border-top: 0;
  }

  padding-top: 0;
  margin-top: 0;
}

/** Lists Gaps **/
@mixin gap--v-sm($gaps: ($gap-v-sm-mobile, $gap-v-sm-tablet, $gap-v-sm-desktop)) {
  @include _gap($gaps);
}

@mixin gap--v-xl($gaps: ($gap-v-xl-mobile, $gap-v-xl-tablet, $gap-v-xl-desktop)) {
  @include _gap($gaps);
}

@mixin gap--v-region($gaps: ($gap-v-region-mobile, $gap-v-region-tablet, $gap-v-region-desktop)) {
  @include _gap($gaps);
}

@mixin _gap($gaps) {
  $gap-mobile: nth($gaps, 1);
  $gap-tablet: nth($gaps, 2);
  $gap-desktop: nth($gaps, 3);

  @media (max-width: $screen-xxs-max) {
    margin-top: round($gap-mobile);
    padding-top: round($gap-mobile);
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    margin-top: round($gap-tablet);
    padding-top: round($gap-tablet);
  }

  @media (min-width: $screen-md-min) {
    margin-top: round($gap-desktop);
    padding-top: round($gap-desktop);
  }
}


@mixin margin--v-region($gaps: ($gap-v-region-mobile, $gap-v-region-tablet, $gap-v-region-desktop)) {
  @include _margin--v($gaps);
}

@mixin margin--v-item-content__item($gaps: ($margin-v-item-content__item-mobile, $margin-v-item-content__item-tablet, $margin-v-item-content__item-desktop)) {
  @include _margin--v($gaps);
}

@mixin _margin--v($gaps) {
  $gap-mobile: nth($gaps, 1);
  $gap-tablet: nth($gaps, 2);
  $gap-desktop: nth($gaps, 3);

  @media (max-width: $screen-xxs-max) {
    margin-top: round($gap-mobile);
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    margin-top: round($gap-tablet);
  }

  @media (min-width: $screen-md-min) {
    margin-top: round($gap-desktop);
  }
}

/**
** Common
**/

@mixin clear-gutter-gap() {
  margin-left: -$grid-gutter-width;
  margin-right: -$grid-gutter-width;
}

@mixin padding-gutter-gap() {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}