@mixin tags--article() {
  @include text-helper($tags__article-font);

  .label {
    display: inline-block;
    margin-right: 7px;
  }

  ul {
    display: inline;
  }

  li {
    display: inline-block;
    position: relative;
    font-style: italic;

    &:last-child {
      a:after {
        content: none;
      }
    }
  }

  a {
    color: $color-highlighted;

    &:after {
      content: ",";
      position: absolute;
      right: -4px;
      color: $text-highlighted;
    }

    &:hover {
      color: $color-highlighted-hover;
    }
  }

  @media (max-width: $screen-xs-max) {
    li {
      margin: $tags__item-margin-mobile;
    }

    a {
      @include text-helper-size($tags__article-font, $tags__article-text-size-mobile);
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    li {
      margin: $tags__item-margin-tablet;
    }

    a {
      @include text-helper-size($tags__article-font, $tags__article-text-size-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    li {
      margin: $tags__item-margin-desktop;
    }

    a {
      @include text-helper-size($tags__article-font, $tags__article-text-size-desktop);
    }
  }
}
