@mixin products--horizontal-block {
  @media (min-width: $screen-sm-min) {
    .container-content {
      @include make-row();
    }
  }
}

@mixin product__item--default {

  @include product__item-text();

  position: relative;
  overflow: hidden;
  margin-bottom: $gap-size-lg;

  .text-headline {
    overflow: hidden;
  }

  .text-brand {
    overflow: hidden;
    display: block;
    margin-bottom: $product__item-text-brand-gap-bottom;

    @media (min-width: $screen-sm-min) {
      &:after {
        content: " ";
        white-space: pre;
      }
    }
  }

  .text-shipping, .text-price {
    position: absolute;
    width: 100%;
  }

  .text-shipping {
    right: 0;
    bottom: $product__item-text-shipping-pos-bottom;
  }

  .text-price {
    left: 0;
    color: $product__item-text-price-color;
    bottom: $product__item-text-price-pos-bottom;
  }

  .text-shop {
    margin-top: 10px;
  }

  .media--blazy {
    background-color: transparent;
  }

  .img-container {
    margin-bottom: $gap-size-xs;
    height: 200px;
    overflow: hidden;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
    }
  }

  .caption {
    position: relative;
  }

  @media (max-width: $screen-xs-max) {
    @if ($product__item-lined-mobile) {
      @include gap--v-xl();
      border-top: $h-line-style;
    }

    display: block;
    width: auto;
    margin-right: 0;
    padding-left: 0;

    &:first-child {
      @include gap__container--v-reset(true);
    }

    &:last-child {
      margin-bottom: 0;
    }

    .text-headline {
      margin-bottom: $product__item-text-headline-gap-bottom-mobile;
      height: $product__item-text-headline-height-mobile;
    }

  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .text-headline {
      height: $product__item-text-headline-height-tablet;
      margin-bottom: $product__item-text-headline-gap-bottom-tablet;
    }
  }

  @media (min-width: $screen-md-min) {
    .text-headline {
      height: $product__item-text-headline-height-desktop;
      margin-bottom: $product__item-text-headline-gap-bottom-desktop;
    }
  }
}

@mixin product__item--horizontal-block {

  @include make-sm-column($grid-columns/3);

  @media (max-width: $screen-xs-max) {

    .img-container, .caption {
      @include make-xxs-column($grid-columns/2);
    }

    .img-container {
      height: auto;
      margin-bottom: 0;
      padding-left: 0;
    }

    .caption {
      padding-left: 0;
    }
  }

}

@mixin product__item--single-product() {

  .item-product__wrapper {
    padding: $product-padding--single-product;
    border: $product-border--single-product;
    -webkit-border-radius: $product-border-radius--single-product;
    -moz-border-radius: $product-border-radius--single-product;
    border-radius: $product-border-radius--single-product;
  }

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
  }

  .text-brand {
    margin-top: 18px;
  }

  .text-headline {
    margin-top: 18px;
  }

  .text-price {
    margin-top: 15px;
  }

  .text-shop {
    margin-top: 15px;
  }
}


@mixin ecommerce-slider() {

  background-color: $ecommere-slider__background-color;
  position: relative;


  .item-product-slider {
    @include product__item--default();
  }

  /*
  .ecommerce-slider__inner {
    @extend %flexbox;
    overflow: hidden;

    .item-product {
      @extend %flex-shrink-0;
    }
  }
  */

  .ecommerce-slider__content-wrapper {
    @extend %flexbox;
    @extend %justify-content-center;
    @extend %align-items-center;
    position: absolute;
    top: 0;
    left: $ecommere-slider__padding--full;
    right : $ecommere-slider__padding--full;
    bottom: 0;
  }

  .ecommerce-slider__title {
    @include text-helper($ecommere-slider__title-font-id);
    text-align: center;
  }

  .ecommerce-slider__content {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: $ecommere-slider__content-padding;
  }

  .ecommerce-slider__bg {
    height: 0;
    overflow: hidden;
    padding-bottom: $ecommere-slider__ratio-s;

    img {
      width: 100%;
      height: auto;
    }
  }

  .ecommerce-slider__company {
    text-align: center;
    margin: $ecommere-slider__company-margin;

    .native_campaign_ecommerce_slider > .separator {
      margin: $ecommere-slider__brand-seperator-margin;
    }

    .native_campaign_ecommerce_slider > .brand > img {
      height: $ecommere-slider__brand-height;
    }
  }

  .item-product-slider {
    background-color: $ecommere-slider__item-background-color;
    padding: $ecommere-slider__item-padding;
    margin: $ecommere-slider__item-margin;

    .img-container {
      height: inherit;
    }
  }



  /* Arrows */

  .slick-prev,
  .slick-next {
    @extend %icon--after;
    @extend %transition-default;

    background: $ecommere-slider__arrows-background;
    color: $ecommere-slider__arrows-color;

    position: absolute;
    display: block;
    height: $ecommere-slider__slick-arrowbox-width;
    width: $ecommere-slider__slick-arrowbox-width;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: $ecommere-slider__arrows-padding;

    &:after, &:before {
      color: $ecommere-slider__arrows-color;
      font-size: $ecommere-slider__arrows-font-size;
    }

    &:hover, &:focus {
      outline: none;
      background-color: $ecommere-slider__arrows-background-color-hover;
      color: $ecommere-slider__arrows-color-hover;
      border: $ecommere-slider__arrows-border-hover;
    }

  }

  .slick-prev {
    @include icon-arrow-left-small(true, "&:after");
    left: -$ecommere-slider__padding--full;
  }

  .slick-next {
    @include icon-arrow-right-small(true, "&:after");
    right: -$ecommere-slider__padding--full;
  }


  // Mobile
  @media (max-width: $screen-xs-max) {
    @include gap__container--h-negative();
    @include ecommerce-slider--small();
  }

  // Tablet
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  }

  // Desktop
  @media (min-width: $screen-md-min) {

    .ecommerce-slider__bg {
      padding-bottom: $ecommere-slider__ratio-xl;
    }


    .ecommerce-slider__inner {
      .item-product {
        width: 25%;
      }
    }

  }


}

@mixin ecommerce-slider--small() {

  .ecommerce-slider__content {
    padding: $ecommere-slider__content-padding-s;
  }

  .ecommerce-slider__content-wrapper {
    left: 0;
    right : 0;
  }

  .slick-prev, .slick-next {
    display: none;
  }

  .slick-list {
    padding:0 30% 0 0
  }

  .ecommerce-slider__bg {
    padding-bottom: $ecommere-slider__ratio-s;
  }

  .ecommerce-slider__title {
    @include text-helper-size($font-headline-id, $title-size-sm);
  }

}

@mixin ecommerce-slider--middle() {

  .ecommerce-slider__content-wrapper {
    left: 0;
    right: 0;
  }

  .slick-prev {
    left: -$ecommere-slider__padding--middle;
  }

  .slick-next {
    right: -$ecommere-slider__padding--middle;
  }

  .ecommerce-slider__title {
    @include text-helper-size($font-headline-id, $title-size-md);
  }



  // Mobile
  @media (max-width: $screen-xs-max) {
    @include gap__container--h-negative();
  }

  // Desktop
  @media (min-width: $screen-md-min) {
    .ecommerce-slider__content-wrapper {
      left: $ecommere-slider__padding--middle;
      right: $ecommere-slider__padding--middle;
    }
  }



}

@mixin ecommerce-slider--full() {
  @include gap__container--h-negative();

  .ecommerce-slider__title {
    @include text-helper-size($font-headline-id, $title-size-lg);
  }
}
