@mixin item-media--description() {
  @include text-helper($media--description-font);
  margin: $media--description-margin;

  p {
    line-height: inherit;
    font-size: inherit;
  }

  @media (max-width: $screen-xs-max) {
    @include text-helper-size($media--description-font, $media--description-size-mobile);
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($media--description-font, $media--description-size-tablet);
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($media--description-font, $media--description-size-desktop);
  }
}

@mixin item-media--image() {
  .img-container {
    text-align: center;
    position: relative;
  }

  &.item-media--image-landscape {
    img {
      width: 100%;
      height: auto;
    }
  }

  &.item-media--image-portrait {
    img {
      max-height: 100%;
      max-width: 70%;
    }
  }
}

@mixin item-media--gallery() {
  @include transition(all $transition-duration $transition-easing);

  .gallery-wrapper {
    overflow: hidden;
    width: 100%;
  }

  .gallery-header {
    position: relative;
    margin-bottom: $grid-gutter-width;
  }

  .gallery-navigation {
    position: absolute;
    right: 0;
    top: 0;

    span {
      font-size: $icon-size-large;
      cursor: pointer;

      &:first-child {
        margin-right: $grid-gutter-width;
      }
    }
  }

  .img-container {
    height: 0;
    padding-bottom: 75%; //default - overrides in paragraphs layoutswitcher

    & > * {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  picture {
    @extend %flexbox;
    @extend %justify-content-center;
    @extend %align-items-center;
  }

  .item-media--image-landscape {
    img {
      width: 100%;
      height: auto;
    }
  }

  .item-media--image-portrait {
    img {
      width: auto;
      height: 100%;
    }
  }

  .text-description {
    min-height: (floor($font-size-large * $line-height-text-tiny)*2) + 5px;
  }

  .text-item-count {
    @include text-helper($gallery__count-font);
  }

  @media (max-width: $screen-xs-max) {
    .text-item-count {
      @include text-helper-size($gallery__count-font, $gallery__count-size-mobile);
    }
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .text-item-count {
      @include text-helper-size($gallery__count-font, $gallery__count-size-tablet);
    }
  }

  @media (min-width: $screen-md-min) {
    .text-item-count {
      @include text-helper-size($gallery__count-font, $gallery__count-size-desktop);
    }
  }
}

/**
** Media Header
**/

@mixin item-media--header() {
  @include item-media--header-text();
  @include gap__container--h-negative();
  @include _item-media--header-height();
  overflow: hidden;
  position: relative;

  .media-header-image {
    position: static;
  }

  img {
    @extend %img-full-responsive;
    @include animation(fadeIn $transition-duration $transition-easing $transition-duration both);
  }

  .caption {
    @extend %flexbox;
    @extend %align-items-center;
    @extend %justify-content-center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .text-headline {
    text-align: center;
    width: 100%;
  }
}

@mixin item-media--header-image() {
  @include _item-media--header-height();
  position: relative;

  .img-container {
    img {
      @extend %img-full-responsive;
    }
  }
}

@mixin _item-media--header-height() {
  @media (max-width: $screen-xs-max) {
    min-height: $media--header-height-mobile;
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    min-height: $media--header-height-mobile;
  }

  @media (min-width: $screen-md-min) {
    min-height: $media--header-height-mobile;
  }
}