@mixin btn($bg-color: $color-highlighted, $color: $white) {
  @include transition-property(color, background-color, border-color);
  @include transition-duration(.35s);
  @include transition-timing-function(ease);
  @include text-headline();
  @include text-headline-size($title-size-xxxs);

  outline: none;
  background-color: $bg-color;
  border-radius: 0;
  text-transform: uppercase;
  color: $color;
  border: 1px solid transparent;
  vertical-align: middle;

  &:hover {
    color: $color;
    background-color: $color-hover;
    border: 1px solid $color-hover;
  }

  &:focus {
    outline: 0 !important;
  }
}

@mixin btn--small() {
  @include text-helper($btn--small-font, $btn--small-size);
  @include transition-default();
  color: $btn--small-color;
  border: $btn--small-border;
  border-radius: $btn--small-radius;
  padding: $btn--small-padding;
  letter-spacing: $btn--small-letter-spacing;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    @extend %btn--small--highlighted;
  }
}

@mixin btn--small--highlighted() {
  background-color: $btn--small-highlighted-bg-color;
  color: $btn--small-highlighted-color;
  border: $btn--small-highlighted-border;
}

@mixin btn__open-tree--mobile() {
  @include icon();
  @include icon-arrow-down-small();
  display: block;

  &:before {
    position: absolute;
    right: $container-h-gap--mobile;
    color: $text-color;
  }

  &.is-active {
    @include icon-arrow-up-small();
  }
}