@mixin title--horizontal-block() {
  @include text-helper($title--horizontal-block-font-id);
  text-align: center;
  text-transform: $title--horizontal-block-text-transform;
  letter-spacing: $title--horizontal-block-letter-spacing;
  color: $title--horizontal-block-color;
  padding-top: 6px; //umlaute fix

  .item-title {
    text-align: center;
  }

  @media (max-width: $screen-xs-max) {
    @include text-helper-size($title--horizontal-block-font-id, $title--horizontal-block-mobile);
    margin-bottom: $title--horizontal-block-gap-bottom-mobile;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($title--horizontal-block-font-id, $title--horizontal-block-tablet);
    margin-bottom: $title--horizontal-block-gap-bottom-tablet;
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($title--horizontal-block-font-id, $title--horizontal-block-desktop);
    margin-bottom: $title--horizontal-block-gap-bottom-desktop;
  }
}

@mixin title--article($sizes: ($title--article-mobile, $title--article-tablet, $title--article-desktop), $font: $title--article-font-id) {
  $size-mobile: nth($sizes, 1);
  $size-tablet: nth($sizes, 2);
  $size-desktop: nth($sizes, 3);

  @include text-helper($font);
  max-width: $title--article-max-width;
  color: $title--article-color;
  text-transform: $title--article-text-transform;
  text-align: $title--article-text-align;

  @media (max-width: $screen-xs-max) {
    @include text-helper-size($font, $size-mobile, $title--article-line-height);
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($font, $size-tablet, $title--article-line-height);
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($font, $size-desktop, $title--article-line-height);
  }
}

@mixin title--page-center() {
  @include text-helper($title--page-center-font-id);
  text-align: center;
  color: $title--page-center-color;
  letter-spacing: -1px;

  @media (max-width: $screen-xs-max) {
    @include text-helper-size($title--page-center-font-id, $title--page-center-mobile);
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($title--page-center-font-id, $title--page-center-tablet);
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($title--page-center-font-id, $title--page-center-desktop);
  }
}

@mixin title--text-block($use-size: true, $use-next-elements: true) {
  @include text-helper($title--text-block-font-id);
  color: $title--text-block-color;
  text-transform: $title--text-block-text-transform;

  @media (max-width: $screen-xs-max) {
    @if ($use-size) {
      @include text-helper-size($title--text-block-font-id, $title--text-block-mobile);
    }
    margin: $title-margin-mobile--text-block;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @if ($use-size) {
      @include text-helper-size($title--text-block-font-id, $title--text-block-tablet);
    }
    margin: $title-margin-tablet--text-block;
  }

  @media (min-width: $screen-md-min) {
    @if ($use-size) {
      @include text-helper-size($title--text-block-font-id, $title--text-block-desktop);
    }
    margin: $title-margin-desktop--text-block;
  }

  @if ($use-next-elements) {
    @include title__next-elements--text-block();
  }
}

@mixin title__next-elements--text-block() {
  &:first-child {
    margin-top: 0;
  }

  @media (max-width: $screen-xs-max) {
    & + * {
      margin: $title__children-margin-mobile--text-block;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    & + * {
      margin: $title__children-margin-tablet--text-block;
    }
  }

  @media (min-width: $screen-md-min) {
    & + * {
      margin: $title__children-margin-desktop--text-block;
    }
  }
}

@mixin headline-gaps--text-block() {

  @media (max-width: $screen-xs-max) {

    @for $index from 2 through 6 {
      h#{$index} {
        @if ($index <= 5) {
          & + h#{$index + 1} {
            margin: $title__headline-margin-mobile--text-block;
          }
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @for $index from 2 through 6 {
      h#{$index} {
        @if ($index <= 5) {
          & + h#{$index + 1} {
            margin: $title__headline-margin-tablet--text-block;
          }
        }
      }
    }
  }

  @media (min-width: $screen-md-min) {
    @for $index from 2 through 6 {
      h#{$index} {
        @if ($index <= 5) {
          & + h#{$index + 1} {
            margin: $title__headline-margin-desktop--text-block;
          }
        }
      }
    }
  }
}

@mixin title--content-block($sizes: ($title--content-block-mobile, $title--content-block-tablet, $title--content-block-desktop), $font: $title--content-block-font-id, $color: $title--content-block-color, $margins: ($title--content-block-gap-bottom-mobile, $title--content-block-gap-bottom-tablet, $title--content-block-gap-bottom-desktop)) {
  $size-mobile: nth($sizes, 1);
  $size-tablet: nth($sizes, 2);
  $size-desktop: nth($sizes, 3);

  $margin-mobile: nth($margins, 1);
  $margin-tablet: nth($margins, 2);
  $margin-desktop: nth($margins, 3);

  @include text-helper($font);
  color: $color;
  text-transform: $title--content-block-text-transform;
  text-align: $title--content-block-text-align;

  @media (max-width: $screen-xs-max) {
    @include text-helper-size($font, $size-mobile);
    margin-bottom: $margin-mobile;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include text-helper-size($font, $size-tablet);
    margin-bottom: $margin-tablet;
  }

  @media (min-width: $screen-md-min) {
    @include text-helper-size($font, $size-desktop);
    margin-bottom: $margin-desktop;
  }
}