{% if pinit_url %}
<figure class="op-interactive">
    <iframe width="345">
        <a data-pin-do="embedPin" data-pin-width="medium" href="{{ pinit_url }}"></a>
        <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
    </iframe>
</figure>
{% endif %}