{% block content_block %}
    {% if content %}
        {% if not paragraph.field_title.isEmpty() %}
            <h2>{{ content.field_title|plain_text }}</h2>
        {% endif %}
        {{ content|without('field_title') }}
    {% endif %}
{% endblock %}
