{% if content.field_title|plain_text %}
    <h2>{{ content.field_title|plain_text }}</h2>
{% endif %}
<figure class="op-interactive">
    <iframe>
      {% if content.field_media %}
          {{ content.field_media }}
      {% else %}
          {{ content.field_link }}
      {% endif %}
      <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
    </iframe>
</figure>
