{#
/**
 * @file product.html.twig
 * Default theme implementation to present Product data.
 *
 * This template is used when viewing Product pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - data_attributes: HTML data-* attributes for tracking properties.
 *
 * @see template_preprocess_product()
 *
 * @ingroup themeable
 */
#}
{% if content.active %}
    {% set label = content.brand|render ~" - " ~content.title|render ~" für " ~content.formattedprice|render ~" bei " ~content.shop|render %}
    <figure data-feedback="fb:likes, fb:comments">
        {{ content.file }}
        <figcaption class="op-vertical-below op-extra-large">
            <h1><a href="{{ product_url }}" title="{{ label }}" target="_blank">{{ label }}</a></h1>
        </figcaption>
    </figure>
{% endif %}
