{% extends "@infinite/node/node.html.twig" %}

{% block content_header %}

    {% block sponsored %}
        {% include '@infinite/node/twig-block-sponsored.html.twig' %}
    {% endblock %}

    {% if not has_spotlight_title %}
        {% if has_header_block %}
            <h2 class="title--article">{{ label }}</h2>
        {% else %}
            <h1 class="title--article">{{ label }}</h1>
        {% endif %}
        {{ author_teaser }}
    {% endif %}
{% endblock %}

{% block content_body %}
    {% if content.field_paragraphs['#items'] %}
        {{ content.field_paragraphs }}
    {% endif %}
{% endblock %}
