{#{% set attributes = attributes.setAttribute('data-view-type', 'articleView') %}#}

<article{{ attributes.addClass('item-content item-content--basic') }}>
    <div class="item-content__header">
        {% block page_headline %}
            <h1 class="title--page">{{ label }}</h1>
        {% endblock %}
    </div>
    <div class="item-content__content">
        {% block page_content %}
            <div class="item-paragraph--text item-paragraph--small">
                {{ content }}
            </div>
        {% endblock %}
    </div>
</article>
