{% if sponsor_type == 'advertorial' %}
    <div class="item-marketing-sponsored item-marketing-advertorial">Anzeige</div>
{% elseif sponsor_type == 'native' %}
    <div class="item-marketing-sponsored item-marketing-native">
        {{ content.field_campaign }}
        {{ content.field_sponsor_tag }}
    </div>
{% endif %}
