<nav id="menu-main-navigation" class="region-full-content">
    <button id="menu-open-btn" class="icon icon-menu" type="button"><span class="label-menu">Menü</span></button>

    <div class="container-content region-fixed-content">
        <div class="logo" data-internal-url="{{ front_page }}">
            <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
        </div>

        {{ content }}
    </div>

    <button id="search-open-btn" class="icon icon-search" type="button"></button>
</nav>
