{% if show_strikethrough_price %}
    {% set attributes = attributes.addClass('item-product--strikethrough') %}
{% endif %}

{% if sold_out %}
    {% set attributes = attributes.addClass('item-product--sold-out') %}
{% endif %}

{% if 'tipser' == provider %}
    {% if tipser_product_category is defined and tipser_product_category %}
        {% set data_attributes = data_attributes.setAttribute('data-product-category', tipser_product_category) %}
    {% endif %}
{% else %}
    {% if not advertising_product.field_product_category_txt.isEmpty() %}
        {% set data_attributes = data_attributes.setAttribute('data-product-category', content.field_product_category_txt | render | striptags | trim) %}
    {% endif %}
{% endif %}


{% if content.status %}
    {% block product_attach_library %}
        {{ attach_library('infinite/infinite.views.product-view') }}
    {% endblock %}

    <div {{ attributes.addClass(classes) }} {{ data_attributes }}>
        {% block content_block %}
            {% include '@infinite/product/advertising-product-inner.html.twig' %}
        {% endblock %}
    </div>
{% endif %}
