{#
/**
 * @file advertising_product.html.twig
 * Default theme implementation to present Advertising Product data.
 *
 * This template is used when viewing Advertising Product pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - data_attributes: HTML data-* attributes for tracking properties.
 *
 * @see template_preprocess_advertising_product()
 *
 * @ingroup themeable
 */
#}
{% if content.status %}
    <div class="item-ecommerce item-product--single" {{ data_attributes }}>
        <div class="item-product__wrapper">
            {% include '@infinite/product/advertising-product-inner.html.twig' %}
        </div>
    </div>
{% endif %}
