{% if items|length > 0 %}
    <div class="item-content__block item-content__block--tags">
        <div class="tags">
            <div class="label">Mehr zum Thema:</div>
            <ul>
                {% for item in items %}
                    <li{{ item.vocabulary == 'unmanaged' ? ' class="unmanaged"' }} >{{ item.content }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
