.page-article {

  .item-content-header {
    h1 {
      @extend %title--article;
      max-width: $full-headlines-max-width;
    }
  }

  #main {
    padding-bottom: 0; //feed gap
  }

  .breadcrumb {
    @extend %region-fixed-content;
  }
  //
  //.region-breadcrumb + .item-content-article {
  //  @extend %reset-container-v-gap;
  //}

  @media (max-width: $screen-xs-max) {
    .item-content-column .socials-vertical-bar {
      margin-top: $gap-size-lg;
    }
  }
}