.page-article {

  .item-content__header {
    @extend %region-fixed-content;

    h1 {
      @extend %title--article;
    }
  }

  #main {
    padding-bottom: 0; //feed gap
  }

  .breadcrumb {
    @extend %region-fixed-content;
  }

  @media (max-width: $screen-xs-max) {
    .item-content-column .socials-vertical-bar {
      margin-top: $gap-size-lg;
    }
  }
}