{#
    Use ad_tag.desktop, ad_tag.tablet and ad_tag.mobile to access the different tags
#}
{% set deviceAdIds = ad_tag | default({'smartphone': '', 'tablet': '', 'desktop': ''}) %}

<div id="{{ html_id }}" class="ad-container">
    <script type="text/javascript">

        var adIdDesktop = "{{ deviceAdIds['desktop'] }}",
                adIdTablet = "{{ deviceAdIds['tablet'] }}",
                adIdSmartphone = "{{ deviceAdIds['smartphone'] }}",
                jsAdId = adIdDesktop,
                adURL = "";

        if (deviceIsMobile()) {
            jsAdId = adIdSmartphone;
        } else if (deviceIsTablet()) {
            jsAdId = adIdTablet;
        }

        adURL = "http://cdn-tags.orbyd.com/" + jsAdId;
        document.write("<script type=\"text/javascript\" src=\"" + adURL + "\"><\/script>");
    </script>
</div>