
{% if view_mode == 'single-product' %}
  {# refactor css class / use machine_name for new products css selector #}
  {% set view_mode = 'single' %}
{% endif %} 


{% if showAffiliateLinkLabel and view_mode != 'single' %}
  <div class="affiliatelinks">
      <a href="/affiliatelinks" rel="nofollow" target="_self">Affiliatelinks</a>
  </div>
{% endif %}

<div class="template container-content">
  [[#docs]]
    [[#_source]]
        {% if showAffiliateLinkLabel and view_mode == 'single' %}
          <div class="affiliatelinks">
              <a href="/affiliatelinks" rel="nofollow" target="_self">Affiliatelinks</a>
          </div>
        {% endif %}
        <a class="item-product item-ecommerce [[^stock_availability]]item-product--sold-out[[/stock_availability]] item-product--{{view_mode | default('default')}}"
            data-title="[[ title ]]"
            data-shop="[[ brand ]]"
            data-brand="[[ brand ]]"
            data-price="[[ price ]]"
            data-currency="[[ original_currency_code ]]"
            data-uuid="[[ uuid ]]"
            data-product-id="[[ provider_identifier ]]"
            data-category="[[ category ]]"
            data-sold-out="[[#stock_availability]]0[[/stock_availability]][[^stock_availability]]1[[/stock_availability]]"
            data-provider="[[ provider ]]"
            data-view-mode="desktop"
            data-position="undefined"
            href="[[ shop_url ]]&amp;subid=[[provider_identifier]]"
            target="_blank">
          <div class="img-container">
            <div class="media media--blazy media--image">
                <img class="b-lazy media__image media__element" data-src="[[ image_style ]]" alt="[[title]]" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" typeof="foaf:Image">
              </div>
          </div>
          <div class="caption">
              <div class="text-brand">[[ brand ]]</div>
              <div class="text-headline">[[ title ]]</div>
              <div class="text-price">
                [[#display_strikethrough]]
                    <span class="text-price--strikethrough">[[ original_price ]] [[ original_currency_code ]]</span>
                [[/display_strikethrough]]
                  <span class="text-price--current">[[ price ]] [[ original_currency_code ]]</span>
              </div>
              <div class="text-shop">
                [[#stock_availability]]Zum Shop[[/stock_availability]]
                [[^stock_availability]]Ausverkauft[[/stock_availability]]
              </div>
          </div>
        </a>
    [[/_source]]
  [[/docs]]
</div>
  