body {
  position: relative;
}

@media (min-width: $screen-lg-min) {
  #header-home {

  }
}

.toolbar-horizontal {
  #menu-sidebar-wrapper {
    top: 55px;
  }
}

.no-scroll {
  position: fixed;
  right: 0;
}

.sidebar-open {
  &.modal-open {
    #menu-main-navigation.stuck {
      z-index: $zindex-menu-sidebar;
    }
  }

  #menu-main-navigation {
    &.stuck {
      right: -$menu-sidebar-width;
      left: $menu-sidebar-width;
      z-index: 1;
    }
  }

  #page {
    left: $menu-sidebar-width;
  }

  #content .stuck {
    @include opacity(0);
    @include transition-delay(0s);
    @include transition-duration(0.1s);
  }
}

#page-wrapper {
  @extend %padding-gutter-gap;
}

#page {
  @include transition(left $transition-duration $transition-easing);
  position: relative;
  left: 0;
}

#main {
  padding-bottom: $grid-gutter-width;
}

#content {

  .stuck {
    @include transition-property(opacity);
    @include transition-duration($transition-duration);
    @include transition-delay($transition-duration);
    @include transition-timing-function($transition-easing);
    @include opacity(1);
  }
}

.hidden {
  display: none;
}

.visually-hidden {
  display: none;
}