@mixin page-vocabulary() {

  .item-content__header {
    @extend %content__header-center;
  }

  .title--page {
    @extend %title--page-center;
  }

  .btn__open-tree {
    @extend %region-full-content;
    @extend %btn__open-tree--mobile;
    display: none;
    padding-bottom: $gap-size-md;
    border-bottom: $h-line-style;
  }

  .list__glossary {
    @extend %list__glossary;
    display: inline-block;
    text-align: left;

    li {
      min-width: 37px;
    }
  }

  .list__alphabetical {
    @extend %list__alphabetical;
  }


  /**
  ** Responsive settings
  **/

  @media (max-width: $screen-xs-max) {
    &.btn__open-tree--is-open {
      .col--left {
        display: block;
      }
    }

    .btn__open-tree {
      display: block;
    }

    .col--left {
      display: none;
    }

    .list__glossary {
      display: block;
      margin-top: $gap-size-sm;

      li {
        min-width: 24%;
        margin-right: 1%;
      }
    }

    .list__alphabetical {
      margin-top: $gap-size-xs;

      h2, h3 {
        @include region-full-content();
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .item-content__row {
      @include make-row();
      margin-top: $gap-size-xxxl;
    }

    .item-content__row-col {
      @include make-xxs-column($grid-columns/2);
    }

    .col--left {
      text-align: right;
    }

    .list__glossary {
      width: 280px;
    }

    .list__alphabetical {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .col--left {
      padding-right: $gap-size-xl;
    }

    .list__alphabetical {
      margin-top: $gap-size-xl;
    }
  }

  @media (min-width: $screen-md-min) {
    .col--left {
      padding-right: $gap-size-xxxl;
    }

    .list__alphabetical {
      margin-top: $gap-size-xxxl;
    }
  }
}