{% if user.status %}
    <div class="item-author item-author--teaser-small" data-internal-url="{{ url('entity.user.canonical', {'user': user.id}) }}">
        {% if content.user_picture | render is not empty %}
            <div class="img-container item-author__profile-image">
                {{ content.user_picture }}
            </div>
        {% endif %}

        <div class="item-author__caption">
            <div class="item-author__name"><span typeof="schema:Person">{{ content.field_full_name }}</span></div>
            <div class="item-author__job">{{ content.field_job_title }}</div>
        </div>
    </div>
{% endif %}
