<div class="item-content__block item-author item-author--vita-short" data-internal-url="http://www.elle.de/user/331">
    <time class="item-author__date item-author__date--vita-short" itemprop="date" datetime="2016-05-20T10:34:01+0200" title="20.5.2016, 10:34:01">29.
        MÄRZ 2016
    </time>

    <div class="img-container item-author__profile-image item-author__profile-image--vita-short">
        <a href="/user/331"><img src="/sites/default/files/styles/square_xs/public/images/2016-05/urlaub-fitness-reise-sport.jpg?itok=b3_t_Zle" alt="Profile picture for user alexandra.link"></a>
    </div>

    <div class="item-author__caption item-author__caption--vita-short">
        <div class="item-author__name item-author__name--vita-short"><span typeof="schema:Person">Nina Brauroth</span></div>
        <div class="item-author__email item-author__email--vita-short">nina.brauroth@freundin.de</div>
        <div class="item-author__short-info item-author__short-info--vita-short">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
            diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </div>
    </div>
</div>